[2014-05-20 15:28] mcfrank opened #1 "main page formatting"
- Center text in "search" / "about" buttons by moving text down or decreasing button size
- Increase font size in pie charts - and label them

(most recent chrome version)

[2014-05-20 15:31] mcfrank opened #2 "search page tweaks"
Overall search page looks great. Some comments:
- free responses on the search page won't really work for data entry - we're going to need to use dropdowns so that we can show users what their options are (e.g. for instruments). We will need to populate the options for these out of the database. Use sliders for all range fields.
- male and female should by default both be checked
- DOB range shoul

[2014-05-23 17:33] vmarchman opened #3 "ethnicity mappings"
VM to give Ranjay master mapping for ethnicity

[2014-05-25 23:29] #1 closed, assigned to ranjaykrishna

[2014-05-26 18:06] #3 closed, assigned to vmarchman

[2014-06-06 17:27] mcfrank opened #5 "iframe in reports"
Can we get rid of the boundary?

[2014-06-06 17:28] mcfrank opened #6 "Reports should show what subset of the data they came from"
e.g. some summary representation of the query?

[2014-06-06 17:31] #5 closed, assigned to nobody

[2014-06-06 17:32] mcfrank opened #7 ""pipe to reports" from search should show a progress bar"
eventually - just for long processing times...

[2014-06-10 21:50] dyurovsky opened #8 "Chronjob not working?"
The daily automatic git pull does not appear to be happening

[2014-06-13 22:04] #8 closed, assigned to ranjaykrishna

[2014-10-01 20:54] dyurovsky opened #9 "Data import issues"
words and sentences gets pulled in as completely blank. Words and gestures has one column that didn't aggregate across understand and produce: "head."

[2014-10-30 21:25] mcfrank opened #10 "word birth analysis"
This is a somewhat crazy idea from discussion with Dan.

Part 1: create predictive model of "word birth" age - that is, based on log freq, MLU of word, number of phones, lexical category, predict the probability of a child at a particular age knowing it (proportional hazard model)?

Part 2: Then use this as the baseline model and add predictors like conditional dependence in acquisition (MI betwee

[2014-10-30 21:25] mcfrank opened #11 "make reports show a loading screen while they initially load"
No idea how to do this, though.

[2014-10-30 21:29] mcfrank opened #12 "documentation/details tab"
Would be good to have some kind of tab that gives more detailed facts about the database, what the sources of data are, how to access it, etc. (like a cross between: the Rmd script on the about page right now / a github readme / the manual that Ranjay wrote).

[2014-10-30 21:31] mcfrank opened #13 "Tracking references/citations"
It would be really nice to be able to track citations and paper links for datasets, e.g. so on the contributors/contribute page we might be able to say, we currently have the data from these papers, link, link, link, etc. and have them have a code that people can find in the search and sources fields. Citation is such a big deal, I think people will really appreciate this.

[2014-10-30 21:31] mcfrank opened #14 "New landing page for reports"
Reports button on the homepage should go to something that's not wordle - could be norms, could be something else...

[2014-10-31 19:42] mikabr opened #15 "CDI categories should be Word Mapping instead of Word Info"
As we discussed, CDI categories are specific to each instrument, so they can't be mapped to a universal lemma. Fixing this requires:
- restructuring the database slightly so the CDI_category field is in word_mapping
- writing the script to populate word_mapping, including pulling in CDI_category
- updating the entity-relationship diagram to reflect the change

[2014-10-31 19:44] mikabr opened #16 "vocabulary composition report"

[2014-10-31 20:44] mikabr opened #17 "validate data before/during import"
There are a bunch of data checks that we should do on incoming data before or during import. I'm not sure if the right way to do is a data validation script that's run before import, warnings/errors that are generated during import, or a mix of both. Some things we could check:
- that there's a valid data value for each kid/word (i.e. a 1 or 0)
- that there's a DOB or age for each kid (ageless kid

[2014-10-31 22:46] mcfrank opened #18 "Individual word report should have WG"
And this should be dynamic, using the selectize stuff to populate in the correct words.

[2014-10-31 22:56] #9 closed, assigned to ranjaykrishna

[2014-10-31 22:57] #2 closed, assigned to ranjaykrishna

[2014-11-04 18:29] mcfrank opened #19 "about page should have link to github issues page"

[2014-11-04 18:30] mcfrank opened #20 "google analytics on prod (and perhaps shiny) server"
or another analytics system if we want

(what google account?)

[2014-11-04 18:52] #20 closed, assigned to ranjaykrishna

[2014-11-04 19:55] mikabr opened #21 "reorganizing sources/datasets"
As we concluded in 11/04 meeting, we want to have two source-describing fields: source/author name (Feldman, Marchman, Smith, etc) and dataset (original norming data, Dallas, Wisconsin, etc). We need to do something like:
- rename raw data files to be source-dataset
- add dataset field, populate source and dataset correctly
- change sources table and its population

[2014-11-04 20:28] mikabr opened #22 "suppress displaying error in norms app"
The norms app displays an "invalid length" error that's not actually a problem, just an artifact of using selectize. There should be a way to prevent it form getting displayed.

[2014-11-05 02:09] #14 closed, assigned to mikabr

[2014-11-05 02:19] #22 closed, assigned to nobody

[2014-11-07 22:32] #19 closed, assigned to mikabr

[2014-11-11 17:16] mcfrank opened #23 "add blog"
I think it'd be great to have some informal way of posting announcements, updates, etc. and many sites add a blog as a tab, rather than having a proliferation of documentation etc.

[2014-11-11 19:15] mikabr opened #24 "add field for longitudinal administration"
when importing data, we should figure out which administrations are for the same kid (probably by assuming that study_id + kid_id maps uniquely to a kid) and labeling which administration that is for the kid (first, second, etc. by age)

[2014-11-18 18:23] mcfrank opened #26 "dissimilar words report"
find the words that most distinguish children based on demographic split variable X

[2014-11-18 18:24] mcfrank opened #27 "factor demographic facet variables for reports"
we should factor out a selector so we can add facets for the demographic variables to each report in a uniform way

[2014-11-18 18:37] ranjaykrishna opened #28 "Search Failure"
Search on large selections is failing.

[2014-11-18 18:43] #23 closed, assigned to dyurovsky

[2014-11-19 00:07] #18 closed, assigned to dyurovsky

[2014-11-20 17:26] mcfrank opened #29 "item thumbnail missing on reports page"

[2014-11-20 17:27] mcfrank opened #30 "clicking "reports" top link should go to thumbnails"
unless you click a specific report.

[2014-11-20 17:27] mcfrank opened #31 "we should add blog link on home page"

[2014-11-20 23:49] #29 closed, assigned to nobody

[2014-11-21 03:40] #31 closed, assigned to nobody

[2014-11-21 04:20] #7 closed, assigned to nobody

[2014-11-21 04:21] #6 closed, assigned to nobody

[2014-11-21 07:34] #28 closed, assigned to ranjaykrishna

[2014-12-02 18:35] mcfrank opened #32 "add a "download as tabular" button to all reports"
so that people can dump the dataframe that is represented in the graph to CSV via a button press.

[2014-12-05 11:49] mikabr opened #33 "make instrument definition spreadsheets"

[2014-12-05 11:51] mikabr opened #34 "make field and value mapping metadata for datasets"

[2014-12-18 01:25] #34 closed, assigned to mikabr

[2014-12-18 01:26] #21 closed, assigned to mikabr

[2014-12-18 01:26] #15 closed, assigned to mikabr

[2014-12-18 01:27] #30 closed, assigned to nobody

[2015-01-05 17:26] mcfrank opened #35 "production/comprehension lag report"
One cool report would be one that measures and plots the lag in WG between word comprehension and word production. Or maybe this is just an analysis? But I think it could be neat to plot this lag by word and by age for comprehension...

[2015-02-06 21:40] #33 closed

[2015-02-06 21:44] mikabr opened #36 "wordform/complexity report"

[2015-02-06 21:49] mikabr opened #37 "update stats page and aggregation script for crossling data"

[2015-02-06 21:49] mikabr opened #38 "update search page and script for crossling data"

[2015-02-06 22:00] mikabr opened #39 "investigate design options for reports and decide"
http://www.shinyapps.io/
http://bokeh.pydata.org/en/latest/
http://www.htmlwidgets.org/

What data loading/manipulation can be factored out of reports? How can it be done with optimal efficiency (in Django/SQL vs in R vs other)?

[2015-02-06 22:00] mikabr opened #40 "update reports for crossling data"

[2015-02-06 22:01] mikabr opened #41 "write blog post describing crossling updates"

[2015-02-06 23:18] mikabr opened #42 "import Russian data"

[2015-02-06 23:19] mikabr opened #43 "import Ping's Mandarin data"

[2015-02-06 23:59] mikabr opened #44 "update Manual to reflect crossling changes"

[2015-02-12 06:35] mikabr commented on #37
- some pie chart sector labels are too long and get clipped
- most of data doesn't have ethnicity coded (but at least some probably could be?)
- momed coding should be capitalized, whatever's causing "" should be fixed

[2015-02-12 06:37] mikabr commented on #39
we decided to stick with self-hosting shiny apps and improve performance by running a nightly cronjob that performs the costly database queries and caches the data for reports to then read in

[2015-02-12 06:37] #39 closed

[2015-02-12 06:39] mikabr opened #45 "set up caching for reports"
nightly cron job that runs an R script that reads in a bunch of tables and does the queries/joins needed to get the data in a form useful for reports, then writes the results to an R binary file

[2015-02-12 06:43] mcfrank commented on #45
FWIW, it's really costly to do the full item by kid merge - currently this results in a 75mb compressed Rdata file that is hard to load. So maybe we should start by caching some smaller versions, e.g. averages across participants or across items.

Mike

[2015-02-13 05:47] mikabr opened #46 "import Norwegian momed data"

[2015-02-13 06:50] #46 closed

[2015-02-13 06:51] mikabr commented on #37
- momed levels should be in a sensible order

[2015-02-18 22:04] #37 closed

[2015-02-27 08:38] #45 closed

[2015-03-04 07:42] mikabr commented on #40
updated: word trajectory, norms, histogram
postponed due to low priority: wordcloud, networks

[2015-03-04 07:42] #40 closed

[2015-03-04 07:43] mikabr commented on #38
search page getting punted, data downloading functionality through reports coming later instead

[2015-03-04 07:43] #38 closed

[2015-03-04 08:33] mikabr commented on #44
Updated everything that was no longer true. What would be useful to add/clarify depends on the main use cases of this thing, which are unclear to me.

[2015-03-04 08:33] #44 closed

[2015-03-05 23:09] mikabr commented on #36
wontfix, putting wordform & complexity items as parts of trajectory report instead

[2015-03-05 23:09] #36 closed

[2015-03-05 23:16] mikabr commented on #16
part of trajectory report instead

[2015-03-05 23:16] #16 closed

[2015-03-05 23:17] mikabr opened #47 "cache vocab sum for each category"
CDI categories and lexical categories

[2015-03-05 23:19] mikabr opened #48 "update wordcloud report"
going to have performance issues

[2015-03-05 23:19] mikabr opened #49 "update networks report"
going to have performance issues

[2015-03-05 23:21] mikabr opened #50 "add selectors to trajectory report"
probably CDI categories, lexical categories, wordform items, complexity items

[2015-03-05 23:24] mikabr opened #51 "make report(s) to replace search functionality"
to replace search

[2015-03-05 23:53] #41 closed

[2015-03-06 20:43] mikabr commented on #51
I'm thinking that a good way of doing this would be to make a report along the lines of this
http://shiny.rstudio.com/gallery/basic-datatable.html
allowing users to explore the data and do all the filtering/selecting they want, and then download it

[2015-03-06 20:46] mikabr commented on #32
done in 106cc71

[2015-03-06 20:46] #32 closed

[2015-03-06 20:55] dyurovsky commented on #32
Woah nice!!!

On Fri, Mar 6, 2015 at 12:46 PM Mika Braginsky <notifications@github.com>
wrote:

[2015-03-10 21:14] mcfrank opened #52 "import instrument-specific age limits in db"
E.g. Norwegian WS goes later in age than english. This may mean we need to have age ranges for instruments encoded in the instruments table. Right now this stuff is hard coded, I believe.

[2015-03-10 21:16] mikabr commented on #52
Right now it's hardcoded to be 8:18 for WG and 16:30 for WS, for all languages. What should it be?

[2015-03-10 21:22] mikabr opened #53 "make shiny apps display unicode characters"

[2015-03-10 23:30] mcfrank commented on #52
I'm not sure, but I think norwegian goes to 36 months for WS? It's going to depend on the instrument design (and probably on the norming study). We can pull these numbers from the papers though if you can add this to the database...

[2015-03-10 23:31] mikabr commented on #51
made a first pass by-kid data table app in 8012b60, 087bc4a, 27a748b

[2015-03-10 23:32] mikabr commented on #51
kidxitem data table app will be a little trickier

[2015-03-10 23:32] mcfrank opened #54 "Add Mayor correction"
Let's implement the Mayor and Plunkett correction for vocab size in the norms and distribution reports.

http://onlinelibrary.wiley.com/doi/10.1111/j.1467-7687.2010.01024.x/full

We can have it turn on and off via a checkbox?

[2015-03-10 23:33] mikabr commented on #52
adding it to the database should be easy

[2015-03-10 23:33] mcfrank opened #55 "improve smoothing curves in norms report"
We need to consider what the best smoothing function is for the norms report - not clear right now but the loess is probably not the answer. Quantile regression is good, but we currently don't have the right functional form.

[2015-03-10 23:34] mcfrank opened #56 "change hardcoded age limits to instrument-specific values from db"
This depends on #52

[2015-03-10 23:36] mikabr commented on #54
vocab sizes are computed in a Django/SQL query, which will make this difficult...

[2015-03-11 00:44] mcfrank commented on #54
Mika and I spoke a bunch about the mayor correction and are consensus was more or less that it is not possible to do cross linguistically under the current set up, at least not without much more data, but on the other hand there might be versions of the correction that we could implement.

[2015-03-11 05:13] mikabr commented on #50
blocking on #47

[2015-03-11 05:17] mikabr commented on #55
Mike and I mostly implemented this today

[2015-03-11 05:19] mcfrank commented on #27
this is terrible coding practice, but I don't want to commit yet...

To make this work we would:
- need to have a default blank variable
- order factor levels appropraitely

for data, just add:

group_by_("age", input$demo) %>%
      filter_(interp("!is.na(x)", x = as.name(input$demo))) %>%

for the plot, add:

      facet_wrap(input$demo) +

and add:

demos <- reactive({
    list("Birth order" =

[2015-03-11 05:21] mikabr commented on #56
- [ ] data filtering in trajectories, norms, and hists
- [ ] x-axis limits and breaks in norms and hists

[2015-03-11 05:27] mcfrank commented on #55
Did a bunch more work on this, think we need package `gcrq` but it's a little rough around the edges.

Mike

[2015-03-11 07:19] mikabr commented on #11
Left shiny-busy alone, did it with jQuery. The loading screen now displays until the iframe containing the report has loaded. It seems pretty good, but after that loading period there's still a delay as shiny populates all the selectize inputs. There might be a better way of using selectize that results in a shorter delay, or shiny-busy might be on during that period, or we could decide this delay

[2015-03-11 20:09] mikabr opened #57 "maintain consistent item-color mappings in item trajectory report"

[2015-03-11 20:13] mikabr opened #58 "display long-form value names in reports"
Forms (WS -> Words & Sentences, WG -> Words & Gestures), ethnicities, sexes.
The long-form values are in the Django models, but it's not clear how to get them into R, since they're not directly in the MySQL db. Might need to do a hacky thing of writing a script that gets them short-long value mappings from Django and writes them to a static file, which the reports then read from.

[2015-03-11 20:14] mikabr opened #59 "get plots on live site to use intended font"
currently works right locally but not on the shiny server, not clear why

[2015-03-11 20:17] mikabr opened #60 "standardize NULL vs blank in data"
different things are happening in various instruments/datasets/item types, need to think through what the data should really look like and change models & data import accordingly

[2015-03-12 00:23] #52 closed

[2015-03-12 00:24] #56 closed

[2015-03-12 00:33] mikabr commented on #52
age min and age max values for each instrument are stored in `static/json/instruments.json`
I guessed for some of the values, so not sure they're right, but should be easy to change now

[2015-03-12 03:47] mcfrank commented on #27
OK, I got further with the norms report. This is linked in branch iss27 to issue #55 as well.

* We now have good smoothing with `gcrq` albeit with awful code to create those smoothers.
* Also has facet variables.

I was defeated by selectize though - I can't get the facet variables to select appropriately for the particular dataset. There is some reactive thing that I don't understand.

[2015-03-12 23:07] mcfrank commented on #27
for reports to be faceted by demographics, we need to have factor levels sorted (mostly just momed)

[2015-03-12 23:20] #11 closed

[2015-03-12 23:21] mcfrank opened #61 "fix xlims for distribution report"
Should be in proportion of total items, and should always go from 0 - 1.

[2015-03-12 23:25] #51 closed

[2015-03-13 01:50] mikabr commented on #27
The facet variable options list is now reactive to the instrument, and momed has correctly sorted factor levels.

[2015-03-13 01:57] mikabr commented on #55
subsumed under #27

[2015-03-13 04:22] mcfrank commented on #27
Broken on prod?

Mike

[2015-03-13 04:23] mikabr commented on #27
I merged the branch into master and pushed it to prod, but it's not working for some mysterious reason (runs totally fine on my machine...), I'm investigating

[2015-03-13 04:25] mikabr commented on #27
also runs fine on my machine pulling data from the server, so it's not an issue in the data

[2015-03-13 04:30] mcfrank commented on #27
Package dependencies I bet - I had to add a bunch of stuff (e.g. gcrq, splines, lazyeval etc.)

Mike

[2015-03-13 04:32] mikabr commented on #27
I installed the packages that get loaded in the script (lazyeval and quantregGrowth). Are there other hidden dependencies?

[2015-03-13 04:33] mcfrank commented on #27
No, that should do it... hum.

Mike

[2015-03-13 04:33] mikabr commented on #27
The error that's happening is "subscript out of bounds", btw

[2015-03-13 04:36] mcfrank commented on #27
what?

no idea. sorry...

Mike

[2015-03-13 05:00] mikabr commented on #27
I updated packages such that every single loaded package is the same version on my machine and on the server, didn't help. If they're running the same code, pulling the same data, and using the same packages, I really don't understand what the difference could be...

[2015-03-13 05:02] mcfrank commented on #27
have you checked the r version? gah.

Mike

[2015-03-13 05:08] mikabr commented on #27
I have R 3.1.2 on my machine, the server had 3.1.1 and then I upgraded it to 3.1.3 -- upgrading is really easy on ubuntu but rather difficult on OSX, but since both versions on the server caused the problem, I can't imagine that's the problem.

[2015-03-13 05:34] mikabr commented on #27
and it works fine on the [dev server] (http://54.149.39.46:3838/norms_app/)

[2015-03-13 05:40] mcfrank commented on #27
Omg.

Mike

[2015-03-13 19:33] mikabr opened #62 "items where kid understands but doesn't say get imported as blank"
probably a bug in the special handling that deals with split wordu/wordp columns
thanks to Elika Bergelson for pointing out the problem

[2015-03-13 21:26] #61 closed

[2015-03-13 23:27] mikabr commented on #27
works just fine on the shiny server in command line R

[2015-03-14 03:59] mikabr commented on #27
YES it works now after the curve-fitting code rewrite

[2015-03-14 04:00] mikabr commented on #27
the curves look slightly different... compare [dev](http://54.149.39.46:3838/norms_app/) and [prod](http://wordbank.stanford.edu/reports?id=norms_app), but I don't want to deal with predictQR ever again at the moment, so oh well :P

[2015-03-14 04:02] mikabr commented on #55
gcrq/predictQR have some super weird behavior, e.g.
data with no groups -> predictQR works fine
group data -> predictQR breaks
ungroup data -> predictQR still breaks

[2015-03-14 04:05] mikabr commented on #27
jk, only works with all data, demo faceting still breaks it. but progress

[2015-03-14 04:30] mikabr commented on #55
Conceptual confusion about gcrq -- predictQR returns a matrix with data points as rows and percentiles as columns. So there is (num percentiles) times too much predicted data (which is, I think, why the demo split curves look all bouncy). Is it supposed to only plot the predicted value for the percentile that the point is actually in? I think there's no possible join to make determining that not c

[2015-03-14 06:21] mcfrank commented on #55
FWIW, I had this behavior too in the broken version I checked in.

Mike

[2015-03-14 06:22] mcfrank commented on #55
That's why the insane gather call was nested in the awful code from the original version. You have to gather the predicted values...

Mike

[2015-03-14 06:28] mikabr commented on #55
Gather them and then what? Somehow filter to the correct percentile?

On Fri, Mar 13, 2015, 23:22 Michael Frank <notifications@github.com> wrote:

[2015-03-14 06:31] mcfrank commented on #55
In my code I was generating a percentile by age matrix in wide form then gathering it (not predicting point by point).

You could predict for an age then select the percentile you want, though that's a little wasteful...

Mike

[2015-03-14 21:11] mikabr commented on #55
Oh I see. Predicting for each age rather than each point seems saner, I'll try that.

[2015-03-14 21:57] mikabr commented on #55
Fixed the demo split bounciness, things look pretty good now. The curves are still a little less well-behaved than in the old code, I have no idea what's causing that, though.

[2015-03-14 22:17] mikabr commented on #27
So getting back to this issue more generally -- demographic selectors are now implemented in the norms report and histogram report, but not in the item trajectory report. They're a fair amount harder to implement there, and more generally the nice factoring we were hoping for doesn't seem to be possible: each report requires a bunch of custom data manipulation code, with somewhat insane standard e

[2015-03-15 20:15] mcfrank commented on #27
That seems reasonable to me - with the caveat that factorization seems like a more important solution when each report did less. Now that we think that reports will have a lot more functionality for each one, standardization seems like less of an issue.

How are we going to learn more about standard evaluation? Should we read something together? Invite someone to talk to us?

Mike

[2015-03-15 22:48] mikabr commented on #27
That's a good point, standardization does seem less important, but I think there's still some design improvements we could do that would make new reports easier to add, existing reports less of a mess, and all reports easier to debug (this is a possibly the most important change, debugging is horrible right now).

I was thinking I'd read Hadley's Advanced R book to get a better handle on both SE a

[2015-03-15 22:53] mikabr commented on #55
@mcfrank do you have any idea what could be causing the slightly-odd behavior of the curves? And does it seem like a problem?

[2015-03-15 23:07] mcfrank commented on #55
Did you set lambda high in the regression? I was using lambda=60.

Mike

[2015-03-15 23:08] mikabr commented on #55
Yeah, I didn't change the model specification at all.

[2015-03-16 02:13] #27 closed

[2015-03-16 02:13] #55 closed

[2015-03-16 03:54] mikabr commented on #58
Hardcoded the value mappings for now, so reports UI would look better

[2015-03-16 03:54] #58 closed

[2015-03-16 05:59] mikabr opened #63 "display user-friendly errors in shiny apps"
If an app errors out, it shouldn't fail silently, it should display [something non-alarming](http://shiny.rstudio.com/articles/validation.html).

[2015-03-16 06:06] mikabr opened #64 "set up R package management"
Deploying shiny apps to our servers very often runs into dependency issues, and starting up a new server involves manually installing many (not catalogued anywhere) packages. We should set up some dependency list ala the pip requirements list for python dependencies.

[2015-03-16 06:08] mikabr opened #65 "make number of bins be a user input in hists app"
Right now it just goes to the default 30 bins, which seems questionable.

[2015-03-16 06:17] mikabr opened #66 "import missing demographics"
I think that the only one we have in raw data but not imported is birth order in Norwegian WS, Norwegian WG, and Danish WS.

[2015-03-17 21:04] mikabr opened #67 "change stats page age range to 36 months"

[2015-03-18 16:33] #67 closed

[2015-03-18 16:47] mikabr opened #68 "create data import test suite"
Current conception is some constructed datasets with a small number of children and known metrics. Goal is to ensure that data import correctly preserves raw data.

[2015-03-18 17:25] mcfrank commented on #67
not updated on prod?

Mike

[2015-03-18 17:32] mikabr commented on #67
SSH isn't working on airplane wifi, I'll pull when I land (or you can pull
:))

On Wed, Mar 18, 2015 at 10:25 AM, Michael Frank <notifications@github.com>
wrote:

[2015-03-18 17:37] mcfrank commented on #67
Haha. I was wondering about that. We haven't taken off yet. Try vpn and then ssh.

Mike

[2015-03-18 20:08] mikabr commented on #67
up now

[2015-03-19 20:29] mcfrank opened #69 "Resource links"
create blogroll for resource links - meta analyses, childes, etc

[2015-04-02 08:00] mikabr opened #70 "import CLEX data"
@mcfrank @dyurovsky (just tagging you guys to make sure you know this is where the action's at)

[2015-04-02 19:01] mikabr commented on #60
Need more logic in the data import code that handles this. In words data there should be blanks (and probably no NULLs?) In wordform/complexity sections, the logic that's currently implemented in the cdi-grammar analyses should be in the data import, something like:
- if data is all blank and kid combines, then all blank=NULL
- if data is all blank and kid doesn't combine, then all blank=1
- if da

[2015-04-03 00:25] mikabr commented on #70
Resolved all the horrible unicode issues. That should incidentally help #53, when we get there.

[2015-04-03 00:33] mikabr commented on #70
What's going on here: import_clex is an R script that reads in data from the cdiclex mysql database and puts in a form that's more-or-less ready for our existing import code. For each dataset that it's told to export, it creates a directory and 4 csv files: the instrument definition, the dataset field mapping, the dataset value mapping, and the actual dataset data. There are a couple of things in

[2015-04-03 00:33] mikabr commented on #70
Excel vs CSV : Right now our data import expects the data and mapping info to be sheets of a single excel file. Writing excel files from R takes approximately infinite time, while writing CSVs takes approximately zero time, so import_clex writes 3 separate CSVs instead. From there, we can either 1) manually/programmatically combine them into an excel file, or 2) change the data import code to hand

[2015-04-03 00:39] mikabr commented on #70
Sentences/Gesture data: the clex db seems to be lacking some info to get the sentences/gestures data sorted out, in that there doesn't seem to be a value mapping anywhere (like cdi_vocabulary_config for words). There's also not a straightforward way to get from CLEX's category names to our category names. Possibly manual spreadsheet fiddling is the answer to both of these issues.

[2015-04-03 00:43] mikabr commented on #70
Item info: CLEX has glosses, but we need to get additional item information from somewhere (lexical category, complexity category). Probably more manual spreadsheet fiddling.

[2015-04-03 00:46] mikabr commented on #70
I think that's the set of obstacles, though I'm sure other minor things will come up :P

[2015-04-03 02:21] mikabr commented on #70
Bad news... I just checked, and the set of languages in CLEX that have sentences data is exactly the set that's already in wordbank. So we're going to have a fair number of new vocabulary data, but no new grammar data =\

[2015-04-03 03:56] mcfrank commented on #70
Oh no. Shall I write to Rune to ask him if any of the other languages had sentences data?

Mike

[2015-04-03 03:56] mcfrank commented on #70
I think CSVs are definitely the way to go for the future.

Mike

[2015-04-03 07:18] mikabr commented on #70
Alright, all of the data import code now supports both excel and csv, and most of the CLEX datasets are importable. There's an issue with the value mapping in a few of the datasets, in that they have values that I have no idea how to interpret...
Croatian WS: 0, 1, 2, 3
Turkish WG: 0, 1, 2, 3, 9
Turkish WS: 0, 1, 2, 9
All of the CLEX datasets also don't have lexical category coded yet.

[2015-04-03 07:18] mikabr commented on #70
Asking Rune if he has any more grammar data lying around seems like a good idea.

[2015-04-03 07:20] mikabr commented on #70
[So many languages](https://github.com/langcog/wordbank/blob/clex/Ranalysis/usingWordbank/usingWordbank.html)! :D

[2015-04-04 01:36] mikabr commented on #70
All of the shiny apps work with the new data!

[2015-04-05 18:17] mcfrank commented on #70
Awesome!

Mike

[2015-04-07 21:27] mikabr opened #71 "import British Sign Language data"

[2015-04-08 21:11] mikabr opened #72 "add model for lexical categories, command populating it, incorporate into populating wordmapping"

[2015-04-08 21:15] mcfrank opened #73 "signatures of vocabulary acquisition"
Effects we're interested in mapping across cultures/languages/instruments:
* non-linear acceleration
* noun/predicate/closed-class proportionality
* lexicon-grammar relationship
* comprehension/production correlation
* idiosyncrasy of production relative to comprehension
* input/SES effects
* gender effects
* AOA predictor relationship:
    - phonological complexity
    - frequency
    - concrete/

[2015-04-09 22:42] mikabr opened #74 "load table connections on demand in shiny apps"
A lot of the latency in loading a shiny app is in running get.instrument.tables, because it connects to every instrument's table and that takes a while. We can improve shiny app load time by only connecting to a table when its instrument is needed.

[2015-04-09 22:44] mikabr opened #75 "add django command to create schema for single instrument"
more generally, adding a new instrument/dataset should be a more streamlined/fast process

[2015-04-09 22:47] mikabr opened #76 "wordform/complexity choices don't get reset in item trajectory app"
Appears to be a consequence of shiny's updateSelectInput doing nothing when given an empty character vector for choices.

[2015-04-09 22:50] mikabr opened #77 "import Twila's Mandarin and Cantonese data"

[2015-04-09 22:51] #70 closed

[2015-04-10 08:43] #72 closed

[2015-04-10 17:41] mikabr commented on #76
Turns out this is already a pull request in shiny:
https://github.com/rstudio/shiny/pull/778
Hopefully someone will merge it soon?

[2015-04-14 17:24] #76 closed

[2015-04-17 03:19] #66 closed

[2015-04-17 03:38] #65 closed

[2015-04-17 04:03] #53 closed

[2015-04-17 04:03] #42 closed

[2015-04-17 18:21] mikabr opened #78 "import Hebrew data"

[2015-04-17 21:23] mikabr opened #79 "investigate Russian sounds decreasing with age"

[2015-04-20 20:02] mikabr commented on #60
Clearer way of stating this:
Treating item data "normally" is to convert any zeros/blanks/NAs/NULLs/whatever to our zero value, blank.
For all items other than the complexity section, treat them normally.
For the complexity section, look at the "combines" item. If it's "yes", treat the complexity items normally. If it's "no", all of the complexity items should be NA/NULL.

[2015-04-20 23:25] mcfrank commented on #60
This looks a little different than I thought - I thought the logic was "if there are ANY positive items in the complexity section, treat blank as 'less complex option' - if there are NO positive items in the complexity section, treat blank as 'blank'"

Mike

[2015-04-21 01:02] vmarchman commented on #60
Don't know if this is good news or bad news......

I just looked at the English norming data.  There are the same number of
valid kids for the complexity score as
for the vocab.  This would not be the case if a completely blank complexity
section was treated as missing in the case of not combining.  For English
(at least), a "blank" complexity section was treated as a valid score of 0
(not missing

[2015-04-21 16:22] mcfrank commented on #60
Hi Virginia,

Thanks for checking the English data. So are you saying we should just always treat blank = 0 on the complexity section?

best,

Mike

[2015-04-21 16:31] mcfrank opened #80 "create contributors page"
It's becoming urgent that we attribute and cite data appropriately, I think. My proposal is to replace the "contribute link" with a "contributors" link that has the contributions form linked from there.

Do we want to allow people to access by dataset anywhere in the reports codebase?

[2015-04-21 16:34] mcfrank opened #81 "norms/dists apps faceting/grouping behavior"
I was playing with the demographic variables and realized that it's really hard to make quantitative comparisons across demographics the way we've done it.

I propose we:
* change the split variable to the color
* change the facet variable to the quantile
* add a "100%" quantile setting that just shows the median, and relabel these to say "median", "tertiles (33%)", "quartiles (25%)" , "quintiles

[2015-04-21 16:38] mikabr commented on #80
What information should be on this page for attribution/citation? Right now we have a source table that's intended to recorded per-dataset info, but it just has name (e.g. Marchman), dataset (e.g. Norming), language, and form. We can add arbitrary additional information to it.

[2015-04-21 16:50] mcfrank commented on #80
We want to add a list of contributor labs (linked to lab pages), along with the citations for particular datasets. I was imagining a table with language on the left, and a list of contributors/citations, e.g.

English	Fenson et al., 2007.. blah blah, Manual.  (N=XYZ)
		Linda Smith Lab (N=XYZ)
Turkish 	Kuntay et al. blah blah, Journal of Child Language

What do you think of that?

[2015-04-21 17:05] vmarchman commented on #60
Hi - I'm saying that's what we did for the English, and most likely the
Spanish (I can check that) as well.  It forces the grammar section to be 0
for a lot of kids, but that makes sense developmentally.  To allow
reasonable crosslinguistic comparisons, we should probably apply a
consistent strategy....

-vm

On Tue, Apr 21, 2015 at 9:22 AM, Michael Frank <notifications@github.com>
wrote:

[2015-04-21 17:14] mcfrank commented on #60
Virginia,

I agree - but we need to have a way to keep from doing that for the particular datasets where no one filled out complexity... otherwise our analyses get dragged down by developmentally-inappropriate 0s, too.

Mike

[2015-04-21 17:19] #75 closed

[2015-04-21 17:20] mikabr commented on #78
Mostly imported, couple issues left to resolved with coding gender and momed and with labeling items.

[2015-04-21 17:22] mikabr commented on #80
That seems right. What I meant was that this page can be automagically made in Django from the source table, it just needs whatever additional information we want -- a citation for datasets that were presented in a paper and a lab otherwise?

[2015-04-21 17:24] mcfrank commented on #80
Exactly. Sounds great - and making it automatically is a very good idea.

Mike

[2015-04-21 17:28] mikabr commented on #60
I'm getting confused, so I made this table:
 | Combines | Doesn't combine
------------ | ------------ | -------------
All blanks | blank=NA | blank=simple
Mix of blanks and values | blank=simple | blank=simple
Is this what we want? Which of these cases might be problematic?

[2015-04-21 17:55] mcfrank commented on #60
It may vary by dataset whether combines is even marked, no?

Mike

[2015-04-21 18:02] mikabr commented on #60
True...

 | Combines | Doesn't combine | Unknown
------------ | ------------ | ------------- | -------------
All blanks | blank=NA | blank=simple | blank=?
Mix of blanks and values | blank=simple | blank=simple | blank=?

[2015-04-22 21:02] mikabr commented on #60
Virginia's table:

| Combines      |       Doesn't combine       |     Unknown
-- | -- | -- | --
All blanks         |         blank=simple    |     blank=simple        |          blank = NA
Mix of blanks/values blank=simple     |    blank = simple        |        blank = NA

[2015-04-22 21:16] mcfrank commented on #60
True...

 | Combines | Doesn't combine | Unknown
------------ | ------------ | ------------- | -------------
All blanks | blank=simple | blank=simple | blank=NA
Mix of blanks and values | blank=simple | blank=simple | blank=simple

[2015-04-22 21:22] #60 closed

[2015-04-22 21:22] #54 closed

[2015-04-23 00:52] mikabr commented on #78
Only remaining problem here is the item definitions for WS, which is blocking on the authors sending us the information.

[2015-04-23 03:21] mikabr commented on #80
Draft of this is up on dev
http://54.149.39.46/contributors
Needs actual citations instead of just names, but does it otherwise look like a good structure?

[2015-04-23 03:28] mcfrank commented on #80
Yes, that looks great! I think we probably want to have form next to N? (e.g. WS/WG)? Otherwise it looks odd to have two different contributions to the same language?

Mike

[2015-04-23 03:30] mcfrank commented on #80
Oh and, we probably want the "to contribute" bit in the same text block at the top!

Mike

[2015-04-23 17:55] mikabr commented on #80
Moved the contribute text up, added WS/WG labels, put in something approximating citations.

[2015-04-23 18:04] mcfrank commented on #80
Gorgeous.

Let's let Virginia say what she would like the affil to be on the Dallas/Wisconsin datasets. (Maybe just current Stanford affil makes sense?)

Mike

[2015-04-23 20:38] mikabr commented on #62
The issue was in resolving the values for each item's wordu and wordp columns -- the logic for it assumed that the wordp column is always encountered first, which is true in the data, but by that point the columns are in a dictionary, which doesn't preserve order, so for some items the order would (randomly and unpredictably) be flipped. Pretty nasty, but fixed now by not assuming any order and re

[2015-04-24 19:00] mikabr commented on #80
Now ready to ship, I think?

[2015-04-24 19:04] mcfrank commented on #80
Yup!

And wordbank-contact@stanford.edu works well.

best,

Mike

[2015-04-24 19:18] #62 closed

[2015-04-24 21:09] #78 closed

[2015-04-24 21:50] mikabr commented on #74
I realized that norms and hists don't actually need to run get.instrument.tables at all, since the data they use is all in administrations. So I made them not to do it, and they're significantly faster. The item trajectories app would still benefit from this optimization, though.

[2015-04-24 21:51] #13 closed

[2015-04-24 21:52] #12 closed

[2015-04-24 21:54] mikabr commented on #50
Do we want a separate report that's basically the same as the item trajectory report, but a category trajectory report? Otherwise the item trajectory report is really busy. But on the other hand, it might be useful to be able to compare a particular item to a category?

[2015-04-24 22:04] mcfrank commented on #50
I guess I had been thinking we would want to compare items to categories... would we want to move the wordforms and complexity items to another report that's for that purpose?

Mike

[2015-04-24 22:04] mcfrank commented on #74
nice!

Mike

[2015-04-24 23:13] vmarchman commented on #80
Contributors page looks great.  Did we substitute a simple email for the
Contributors form?  Seems like that form required people to provide lots of
useful information, no?

On Fri, Apr 24, 2015 at 12:04 PM, Michael Frank <notifications@github.com>
wrote:

--

*********************************
Virginia A. Marchman, Ph.D.
marchman@stanford.edu
Research Associate
Center for Infant Studies
Psychology

[2015-04-24 23:35] mcfrank opened #83 "Reports need documentation"
We should figure out a uniform way to document report behavior and make it available (either at the bottom of the screen or in some kind of popup. This is low-ish priority, but the new norms report is a bit complicated.

[2015-04-25 01:04] vmarchman opened #84 "email on about page still points to googlegroups"

[2015-04-25 02:03] #84 closed

[2015-04-25 14:13] vmarchman commented on #80
Contributors page looks great.  Did we substitute a simple email for the
Contributors form?  Seems like that form required people to provide lots of
useful information, no?

[2015-04-25 17:30] mcfrank commented on #80
We did - on the theory that we needed to have extensive exchanges with people anyway, and that the flow of email/data wouldn't be too bad going forward. But we can revisit if it gets hectic.

Mike

[2015-04-26 02:01] #80 closed

[2015-04-26 02:01] mikabr commented on #77
Mostly imported! The remaining issue is that the complexity section on both the Mandarin and Cantonese forms is a more complicated than in English -- instead of just "simple" and "complex", there's a different set of options for each item, corresponding to a range of different constructions. The information on what value means what is recorded in the column labels, so we have it, I'm just not sure

[2015-04-29 21:02] mcfrank commented on #81
Feedback from meeting 4/29:
* quantiles are cutpoints, not middles
* dot coloring is by quantile range (so we need to cut ranges and use gcrq to color)
* facet behavior

[2015-05-01 19:45] mcfrank opened #85 "Stitch words between forms"
It would be neat to consider an extension to the item report that stitches items between forms - basically, fits a single growth model with intercepts for instruments to all the data for a word, provided that it appears on both instruments.

[2015-05-04 19:26] mikabr commented on #71
Do we want to prioritize this to include in vocab comp?

[2015-05-04 19:26] mikabr commented on #43
Do we want to prioritize this to include in vocab comp?

[2015-05-04 19:41] mcfrank commented on #71
I think so--it's very novel afaik to look at vocab comp in a manual language.

Mike

[2015-05-04 19:44] mcfrank commented on #43
Yes if it has good categories we can easily map to part of speech, no otherwise. It will be valuable to know that our findings generalized to other instruments as well as straight CDIs in the long run, but for BUCLD the novelty of BSL is probably more important IMO.

Mike

[2015-05-04 21:20] mikabr commented on #71
Hmm, I'm worried about getting BSL to work for this, because
- it's a comprehension/production WG-style form (we're currently doing everything on WS production, but could try WG comprehension?)
- there's a total of 161 administrations over ages 8 to 36, so it's going to be sparse

[2015-05-04 21:53] mcfrank commented on #71
I see... the sparsity is unavoidable - it may not be meaningful, but I'd guess we still get something.

But the WG issue does suggest that we should at a minimum check for these biases in the comprehension and production data on WG. How hard is that?

Mike

[2015-05-05 23:59] mikabr commented on #71
BSL is imported and on prod.
[Vocab comp] (https://rawgit.com/mikabr/vocab-comp/master/vocab_comp.html) now has WG analyses.

[2015-05-06 02:42] mcfrank commented on #71
Great!

BSL -> "British Sign Language" :)

More about new vocab comp in another thread.

Mike

[2015-05-06 02:45] mikabr commented on #71
Yeah, the reason it's BSL is that there are bits of code in various places
that expect languages to not have spaces in them... should probably fix
that, though

On Tue, May 5, 2015, 19:42 Michael Frank <notifications@github.com> wrote:

[2015-05-07 21:54] mikabr opened #86 "sex diff analysis: compute and plot difference across age"

[2015-05-07 21:55] mikabr opened #87 "make momed analysis that parallels sex diff analysis"

[2015-05-07 21:55] mikabr opened #88 "improve grammar-lex models"

[2015-05-08 02:07] mikabr commented on #43
TC (toddler checklist) is imported, IC (infant checklist) not yet

[2015-05-08 03:23] mcfrank commented on #71
Errors on the space in name issue, broken on prod:

Joining by: "momed_id"
Joining by: "instrument_id"
Auto-disconnecting mysql connection (0, 0)
Joining by: "child_id"
Joining by: "instrument_id"
Joining by: "category_id"
Error in .local(conn, statement, ...) :
  could not run statement: Table 'wordbank.instruments_british sign language_wg' doesn't exist

[2015-05-08 03:27] mcfrank commented on #85
So here are some PNGS that just glue together random words from WS to WG in English and Spanish. It looks really good...

I think this is a nice argument for adding the "both" instrument to the Items report.

![ws to wg spanish](https://cloud.githubusercontent.com/assets/1158807/7530087/61c738c6-f4f7-11e4-8cba-ecd80dcd087f.png)
![ws to wg](https://cloud.githubusercontent.com/assets/1158807/7530088

[2015-05-08 03:30] mikabr commented on #71
That just needs a pull, data_loading itself is fixed.

On Thu, May 7, 2015 at 8:23 PM, Michael Frank <notifications@github.com>
wrote:

[2015-05-08 04:21] vmarchman commented on #85
that looks awesome.

On Thu, May 7, 2015 at 8:27 PM, Michael Frank <notifications@github.com>
wrote:

--

*********************************
Virginia A. Marchman, Ph.D.
marchman@stanford.edu
Research Associate
Center for Infant Studies
Psychology
Stanford University
Stanford, CA  94305
650-723-1257
*********************************

[2015-05-08 18:31] #71 closed

[2015-05-09 19:30] mcfrank commented on #24
Note to tell Mark Applebaum at UCSD when we do this - he is interested.

[2015-05-18 23:51] mikabr commented on #81
[http://54.149.39.46:3838/norms_app/](New version of norms app) has the faceting and coloring behavior we discussed, doesn't color points, treats quantiles as cutpoints with a c(0.1, 0.25, 0.5, 0.75, 0.9) option, and uses a (much better) custom color palette.

[2015-05-18 23:53] mikabr commented on #81
Still need to do the demo clumping fix.

[2015-05-19 16:33] mcfrank commented on #81
looks great!

Mike

[2015-05-19 16:34] mcfrank commented on #81
Is it time to switch to geom_dl(method="last.qp") for the labels of the quartiles? might look better...

Mike

[2015-05-19 16:39] mcfrank commented on #81
Also, a few more comments:

- for facets, the order of birth orders is correct, but for medians somehow it's wrong
- for english ethnicity, the app chokes and just prints "sample sizes:" - same for hebrew momed.

Mike

[2015-05-19 17:05] mikabr commented on #81
Using direct labels sounds like a good idea (and that makes the order being wrong in the legend a moot point).
Those cases of the app failing is gcrq declaring it has a "singular design" and I'm not sure what its problem is... possibly the demo group clumping will help?

[2015-05-20 20:43] mcfrank commented on #73
we need to make sure this analysis is supplemented by a control analysis that asks whether specifics of instrument construction (e.g. size of whole instrument, size of noun section, selection of nouns) is responsible for these results. Two thoughts:

1. stratified resample instrument sections based on difficulty so that all instruments are of the same size and rough difficulty profile in each sect

[2015-05-20 20:45] mcfrank commented on #73
maybe the first step is to look at the distribution of word difficulties across languages - e.g. look at the order of acquisition for words across languages and how the tails of this look... (but need to make sure that this controls for age as well)

[2015-05-20 20:56] mcfrank opened #89 "mini scoring tool report"
you give us language, age, etc. etc. and we give you percentiles based on GCRQ fits for those data.

[2015-05-20 20:58] mcfrank commented on #89
add selector so this report uses the published lookup-table norms

[2015-05-20 21:02] mcfrank commented on #83
use bootstrap modals, tooltips, popovers

[2015-05-20 21:13] mcfrank opened #90 "remove vocab distribution report"
It's not doing anything useful right now.

[2015-05-20 21:14] mcfrank opened #91 "two-tier report landing page"
bottom will have smaller vignettes with text for a list of other reports that are under construction, e.g. tutorial, gender, color, etc.

[2015-05-22 07:01] #90 closed

[2015-05-22 07:01] #91 closed

[2015-05-22 07:03] mikabr opened #92 "fix vocab_norms app and admin_data app"
After updating shiny-server, they appear to be crashing immediately after being loaded, with no error message or anything...

[2015-05-22 07:05] mikabr opened #93 "clean up static report files"
They should probably all have more explanatory text and less/no code. Also the eco-system should be set-up such that the files we're working on are the ones that get rendered, rather than everything needing to be copied over from various places.

[2015-05-22 19:56] #92 closed

[2015-05-23 15:14] vmarchman opened #94 "add warning on norming reports page"
A box including the following text should appear on the norming reports page.

The norming reports provided by Wordbank are dynamically generated and reflect currently available data.  For English and Spanish, the values provided by Wordbank are based on a different set of participants and are estimated following a different computational procedure than the norming values published in the User’s G

[2015-05-23 17:00] mcfrank commented on #94
Thanks! Are you ok with a summary of this living on the main page and the full text on the "more details" pull down?

Mike

[2015-05-24 00:01] vmarchman commented on #94
yes, but it would depend what the summary would say.  I would not want the main message to be hidden too deeply.

Upon further reflection, I would like to amend the complete statement as follows: (edits welcome, especially in the first sentence about the curve-fitting procedures.  should we say something here about exactly what those curve-fitting procedures are?).

*******
What do I need to know

[2015-05-24 00:31] vmarchman opened #95 "Is it possible to download the fitted values?"
I was expecting the actual fitted values generated by the curve-fitting procedure to be provided in the download.  Right now, it's raw data labeled by the split variable, but that doesn't help me compare the fitted estimates.  Is it possible to compare the, e.g., 50th percentile (fitted) value for 24-mos boys vs. girls, without having to simply eye-ball the plot?

[2015-05-26 17:19] mikabr commented on #95
We have the data points and fitted curves in separate data frames, with the download button giving you the data points. We could add another download button that gives you the fitted curves.

[2015-05-26 23:53] mikabr opened #96 "test issue for slack"

[2015-05-26 23:53] mikabr commented on #96
test comment

[2015-05-26 23:53] #96 closed

[2015-05-27 20:52] mcfrank commented on #89
notes from our discussion:
- this app should give output for individual values
- should also be able to view or download a wide-format table (kabled) like in the 2007 report
- should delete curve download from the norms report when this is done

[2015-05-27 20:54] mcfrank commented on #83
switch to markdown (not Rmd) for the help text @mikabr

edit text to split into caption and disclaimer, reference more fully @mcfrank

[2015-05-27 20:57] mcfrank commented on #81
@dyurovsky will investigate fitting taus for the middles between percentiles, then using those to color points appropriately.

[2015-05-27 21:22] mikabr opened #97 "add human-readable fitted value tables to apps"

[2015-05-27 23:46] #74 closed

[2015-05-28 00:00] mikabr commented on #95
temporary fit value downloading is implemented, better presentation is going to happen in #97

[2015-05-28 00:00] #95 closed

[2015-05-28 00:01] mikabr commented on #94
Feel free to edit the text of shiny_apps/vocab_norms/details.md on branch iss83 to change the text of the disclaimer/explanation.

[2015-05-28 05:11] mcfrank commented on #94
done - but that branch doesn't play nice with dev/prod right now so I can't see the markdown render. nevertheless, I'm closing this issue for now.

[2015-05-28 05:11] #94 closed

[2015-05-28 06:18] #83 closed

[2015-05-28 06:19] #85 closed

[2015-05-28 06:57] mikabr commented on #97
Made a first pass at this, it's [up on dev](http://54.149.39.46:3838/vocab_norms/). Doing age as the columns makes it really wide, so right now it has quantiles as columns instead. Is that okay, or undesirable? Also it's tricky to render a bunch of separate tables for different demo groups, so right now it has them all in one table, is that okay or bad?

[2015-05-28 13:33] vmarchman commented on #97
This is great and very human-readable.  Thanks!  One table is fine.  Demo
label column is redundant, no?  Can we add language, form and measure
(e.g., produces) columns?

On Wed, May 27, 2015 at 11:57 PM, Mika Braginsky <notifications@github.com>
wrote:

--

*********************************
Virginia A. Marchman, Ph.D.
marchman@stanford.edu
Research Associate
Center for Infant Studies
Psychology
S

[2015-05-28 16:17] mcfrank commented on #97
Agreed - this looks great to me. A few comments:

* Could round to one decimal in the table.
* I see why we'd want those columns (language, form, measure), but I think they will decrease the readability of the table online. Maybe we should add them when you download?
* can we change the download links to "download plot", "download table", and "download raw data"?
* Can we change the details box be

[2015-05-28 23:53] #97 closed

[2015-06-01 18:18] mcfrank opened #98 "word data report"
this is a report that shows mean # of kids knowing at each age, with age across the horizontal. each word is a column. you can sort by form class, CDI cats, etc.

need filters on top for language, instrument, label, etc.

[2015-06-01 18:36] mcfrank opened #99 "redesign landing page"
![img_5773](https://cloud.githubusercontent.com/assets/1158807/7920212/51832d12-0852-11e5-8d68-818f4065015e.jpg)

Basically, want to promote good content onto landing page. Two interactive reports, language bar graph from stats page, other buttons.

[2015-06-01 19:06] mcfrank commented on #73
two interlocking ideas:
* exploit stitching and also the multiple mandarin datasets to get traction on effects of item distribution
* measure acceleration in production vocabulary across languages (using both stitched and unstitched analyses)

idea would be to get an acceleration parameter across languages
and also see how this parameter varies by number of items (given that we are trying to measu

[2015-06-01 19:32] mikabr commented on #88
First step from meeting today: fit quadratics (and possibly cubics), compare to logits.

[2015-06-01 20:57] mikabr opened #100 "instrument_data app: display informative error if user clicks "download data" without "get data""
Pointed out by Dan Swingley.

[2015-06-03 22:19] mikabr commented on #98
First pass up at http://54.149.39.46:3838/item_data/

[2015-06-04 03:25] mcfrank commented on #98
It looks great - it’s just quite slow (10s+ latencies) and seems to load the data twice always, with a pause for reformatting?

Do we need more caching, or is the server just having a bad day?

Mike

[2015-06-04 04:33] mikabr commented on #98
There are a few reasons for the speed issues -- the loading data twice thing is because of some reactivity resolution stuff that's really hard to debug, but I'll give it a try. Also it's on the dev server, which is a lot less beefy than the prod server. But generally most of the lag is in needing to load all the kid x item data... we could cache the proportions, but would need to do it for every a

[2015-06-08 20:25] mikabr commented on #99
[Home page redesign](http://54.149.39.46/) is up. Comments?

[2015-06-08 21:37] vmarchman commented on #99
Looks great!  I love the bubbles showing the number of administrations.  I
guess the smallest is British Sign language? It's a bit hard to read though.

Can Bears co-exist with Walruses?

On Mon, Jun 8, 2015 at 1:25 PM, Mika Braginsky <notifications@github.com>
wrote:

--

*********************************
Virginia A. Marchman, Ph.D.
marchman@stanford.edu
Research Associate
Center for Infant Studi

[2015-06-16 17:23] mikabr commented on #99
I'd like to propose some more design changes (only tangentially related to the original issue, but this seems like a reasonable place for it). They are
- integrating a streamlined version of the about page into the [homepage](http://54.149.39.46/)
- adding "meet the team" thumbnails to the [homepage](http://54.149.39.46/)
- pulling in posts for the [blog](http://54.149.39.46/blog) through the blog

[2015-06-16 19:54] vmarchman commented on #99
Looks great!

On Tue, Jun 16, 2015 at 10:23 AM, Mika Braginsky <notifications@github.com>
wrote:

[2015-06-16 21:23] mcfrank commented on #99
Agreed! The mobile rendering of the homepage looks a little odd (the pictures are all different scales etc.) but desktop looks excellent. I think it’s a very good idea to prune away the about page.

Mike

[2015-06-18 04:40] mikabr commented on #88
Dan and I fit some more models that look better. Our method is to fit an rlm for each language and measure with the formula:
[code]
Use that model to predict `score` for every combination of each age and the range of `vocab.mean` values (every 0.01 increment from 0 to 1). Then to bin age, average the predicted values for the ages in a given bin, weighted by the number of kids of that age.

Seems t

[2015-06-18 15:38] mcfrank commented on #88
Those look great. We might consider checking whether the cubics are warranted for Spanish, given data sparsity.

I like the idea of fitting only one model with continuous age and then deriving the fan based on predictions from that model.

Mike

[2015-06-20 03:23] mikabr commented on #88
Model comparison:
![model comparison](https://cloud.githubusercontent.com/assets/1414971/8265839/fdf2df4e-16c0-11e5-87f8-3a40b0eca520.png)

[2015-06-20 03:24] mikabr commented on #88
Bootstrapped estimates of area differences, with 4 age groups:
![area diffs 4](https://cloud.githubusercontent.com/assets/1414971/8265845/1e633d82-16c1-11e5-8552-7199ed95214f.png)

with 2 age groups:
![age diffs 2](https://cloud.githubusercontent.com/assets/1414971/8265846/267d8928-16c1-11e5-8f4e-4ac384847e43.png)

[2015-06-20 15:31] mcfrank commented on #88
Cool. Those look extremely consistent across languages!

Note that the four group split doesn't tell you anything extra because the age effects are all derived from the same model. That's why the bars are identical.

Also - model comparison numbers at this level aren't telling us much, I think. Better to eyeball all the different fits for Spanish (maybe faceted by age group as well so you can see

[2015-06-26 17:45] #99 closed

[2015-07-17 04:08] mikabr opened #101 "centralize pieces of documentation"
There's a bunch of different places with documentation:
- specs in the new package
- google doc with the manual
- import code docs that I wrote and don't live anywhere in particular
- bits of help text on the shiny apps
- probably other stuff?

I think it would make sense to gather all this stuff, organize it sensibly, and put it somewhere useful (GitHub wiki?)

[2015-07-17 04:16] #88 closed

[2015-07-17 04:17] #98 closed

[2015-08-26 22:08] mcfrank commented on #89
pushed an incredibly simple demo to iss89 - basically just upload a csv, join it with a percentile table, then download again.

[2015-08-27 21:17] mcfrank commented on #89
some notes from our meeting:
* should have a CSV template download link
* should have a selector for summary data mode (just counts) vs. all data

[2015-10-12 20:28] mcfrank opened #102 "disclaimer upgrade"
- [x] make the "more details" link blue on norm site
- [x] make a scrolly down link in the top text (blue also)

[2015-10-12 20:32] mikabr opened #103 "change "reports" url to "analyses""
Also rename "Analysis" link to "Analyses"?

[2015-10-12 20:35] mikabr opened #104 "add publications page"

[2015-10-12 20:41] mcfrank commented on #102
also make a static disclaimers page (perhaps a blogpost?) and link to this in the paper.  especially note:

* interpret proportions not raw scores
* don't assume translation equivalence
* don't assume population equivalence

[2015-10-12 20:49] mcfrank commented on #102
also fix:
- [ ] gcrq is actually quantRegGrowth

[2015-10-13 01:28] mikabr opened #105 "change static report links to external html files"

[2015-10-13 21:48] mikabr commented on #102
up now. look good?

[2015-10-13 22:03] dyurovsky commented on #102
See below links from the headers don't seem to take me to the place in-page?

Dan

On Tue, Oct 13, 2015 at 2:48 PM Mika Braginsky <notifications@github.com>
wrote:

[2015-10-13 22:35] #105 closed

[2015-10-13 22:46] #103 closed

[2015-10-13 22:50] mikabr commented on #102
The link works fine [on a webpage](http://54.149.39.46:3838/item_trajectories/) but seems to be failing because it's inside an iframe. Might be a hassle to work around, will investigate...

[2015-10-20 06:27] #104 closed

[2015-10-22 07:35] mikabr commented on #64
`wordbankr` pretty much solves this problem

[2015-10-22 07:36] #93 closed

[2015-10-22 07:37] mikabr commented on #87
done in 439d189a093f8ac4ad0eca71e441293cdaf4dea7

[2015-10-22 07:37] #87 closed

[2015-10-22 07:41] mikabr commented on #17
subsumed by #68

[2015-10-22 07:41] #17 closed

[2015-10-22 07:43] mikabr commented on #10
Now that we have AoA estimates, we could actually do something like this if we wanted to.

[2015-10-26 15:59] mcfrank opened #106 ""data filter" popup menu"
as we include more diverse and heterogeneous data in wordbank (e.g., multilinguals, longitudinal, developmental disorders, etc.) we should make a popup that allows filtering of special populations for every report. then that can come with defaults, e.g. "no multi-linguals, no DD, yes to longitudinal, etc." but can be checked/unchecked.

Also this can finally instantiate @vmarchman's long-desired "

[2015-10-26 16:01] mcfrank opened #107 "license for derived materials"
We need some kind of legal statement of what can be done with derived material. I suggest including a "legal" page somewhere with CC-BY (https://creativecommons.org/licenses/by/4.0/) with the attribution specified to be the wordbank paper.

[2015-10-28 17:16] mikabr opened #108 "add favicon"
walrus!

[2015-10-28 17:16] mikabr opened #109 "change page titles"
currently they're just URLs

[2015-11-02 21:18] mcfrank opened #110 ""both" functionality is broken"

[2015-11-02 21:20] mcfrank opened #111 "gentle "getting started" guide"
with screenshots, description of what the CDI is, explanation of forms, etc. - linked from the menu bar, maybe "how to."

[2015-11-02 21:27] mcfrank commented on #111
"gentle" "getting started" "guide" - to be precise.

[2015-11-02 21:40] dyurovsky opened #112 "start item app off with some words in the plot"

[2015-11-02 21:41] mcfrank opened #113 "tables are broken in item trajectory report"

[2015-11-02 21:42] mcfrank commented on #113
also: add text that says "consider trying the item data report"

[2015-11-02 22:07] mcfrank opened #114 "Feedback form for the site"
so that people can give us suggestions, or nominate contributors.

[2015-11-02 22:07] mcfrank commented on #114
maybe in the "use at your own risk" bar, have a "give us feedback" link?

[2015-11-02 22:10] mcfrank commented on #81
if we can't do this by fall sprint, we close the issue.

[2015-11-02 22:10] vmarchman opened #115 "number of contributions"
Add number of contributions to total per source and form

[2015-11-02 22:11] dyurovsky opened #116 "set up zap-bot to log issues through slack"

[2015-11-02 22:11] dyurovsky opened #117 "update the coming soon box to include Mika's upcoming talk/poster"

[2015-11-02 22:13] mcfrank opened #118 "rescue gesture items!"

[2015-11-02 22:14] mcfrank opened #119 "credit smaller contributions to site"
e.g. rose walrus, brock databases.

[2015-11-02 23:53] #59 closed

[2015-11-02 23:54] mikabr opened #120 "import Kiswahili and Kigiriama data"

[2015-11-02 23:56] #69 closed

[2015-11-03 00:36] #109 closed

[2015-11-03 00:36] #115 closed

[2015-11-03 00:36] #117 closed

[2015-11-03 19:06] #110 closed

[2015-11-03 19:58] #108 closed

[2015-11-03 23:45] #112 closed

[2015-11-04 00:03] #119 closed

[2015-11-04 00:15] mikabr commented on #57
This is difficult to do because with the way shiny works, every time inputs like words change, the data is re-computed and a new plot is rendered, with ggplot picking colors for the words based on their alphabetical order. To have consistent color mappings, the app would need to somehow keep track not just of which words were currently selected, but the history of the order in which they were sele

[2015-11-04 00:20] #114 closed

[2015-11-04 00:25] mcfrank commented on #57
What about the following:
- set the levels of the factor to the ORDER of the words in the text entry
box
- set a constant color palette with say 10 colors, assigned to each of the
factor levels

So then the first word in the box would always be red, the second would
always be green etc.

Mike

On Tue, Nov 3, 2015 at 4:15 PM, Mika Braginsky <notifications@github.com>
wrote:

[2015-11-04 00:52] mikabr commented on #57
Great point, done.

[2015-11-04 00:53] #57 closed

[2015-11-04 04:21] mcfrank commented on #113
still broken for me on prod unfortunately, although both is working now.

[2015-11-04 22:01] mikabr commented on #79
I just checked and this happens in CLEX as well, so it's not a bug on our end. I'm not sure what to do about it...

[2015-11-04 23:03] mikabr commented on #113
ugh it was just because the server had the wrong version of `wordbankr`

[2015-11-04 23:09] mcfrank commented on #79
Nothing I think, unfortunately...

[2015-11-06 19:57] #79 closed

[2015-11-06 19:58] mikabr commented on #106
depends on #24

[2015-11-09 21:16] mikabr commented on #116
partyline is down?

[2015-11-09 21:21] mcfrank opened #121 "revive the "about" page"
it could contain:

* the team
* legal stuff, e.g. cc license
* github links
* getting started guide
* random thank-yous

among other things

[2015-11-09 21:31] mikabr commented on #113
todo: move the alert above the plot

[2015-11-29 00:04] mcfrank opened #122 "gender still called "sex" in vocab norms split variable list"
should be gender to be consistent with paper...

[2015-11-30 21:22] mcfrank commented on #102
also - on top text: "see below for more details and an important disclaimer about clinical usage."

[2016-02-01 19:12] mcfrank opened #123 "text wrap for reports"
if you zoom in chrome, nothing good happens to instructions.

![2016-02-01-04-29-24-wordbank-analyses](https://cloud.githubusercontent.com/assets/1158807/12728011/9ff84912-c8d4-11e5-88fd-07a967bd621e.png)

[2016-02-01 19:19] mikabr commented on #123
The instruction are within the shiny apps, which is put into this page through an iframe, so it has no idea how wide your viewing window is. We could take the instructions out of the app put them directly into the page? Not sure how to fix this otherwise.

[2016-02-05 19:26] mcfrank opened #124 "add data filtering selectors to reports"
Discussion at the CDI board meeting makes me think that in a redesign of the apps, we could focus on modularizing main selectors:

+ source - language, instrument
+ population - selects norms, longitudinal, disorders, etc.
+ split - facets graph by demographics
+ category - subset the data on the norms or words to a particular category or categories

Each of these could be ported into various repo

[2016-02-05 19:26] mcfrank opened #125 "unilemmas report"
this could be one tool to browse mappings across languages (select item, show curves for all languages)

[2016-02-05 19:55] mikabr commented on #125
This mostly [already exists](https://mikabr.shinyapps.io/uni_lemma), but works off of a static csv of the data because the aoa estimation code takes a while to run.

[2016-02-05 19:59] mikabr commented on #125
IIRC the part that takes up the most time isn't model fitting, it's the logic to combine items into uni_lemmas (if a kid knows any of the words that map to a given uni_lemma, give them credit for that uni_lemma). That step could probably be done in a better/faster way.

[2016-02-05 22:38] mcfrank commented on #125
That looks great, though it also shows some real issues in the wordlist, I
think...

Mike

On Fri, Feb 5, 2016 at 11:59 AM, Mika Braginsky <notifications@github.com>
wrote:

[2016-02-08 22:50] mcfrank commented on #124
discussion with Mika suggests that the split functionality has a lot of specific logic in it for norms that makes it really hard to deal with modularizing. but we could potentially use the same UI to allow demographic splits on data for item trajectories.

[2016-02-08 22:50] mcfrank commented on #124
category functionality blocking on #47

[2016-02-11 18:10] mcfrank commented on #107
@mikabr we are contacting people for data and this is becoming critical. could you stick the cc license logo at the bottom of the main page, and say "Wordbank is licensed under CC-BY 4.0. Derivative work using the Wordbank database should cite Frank et al. (in press), Journal of Child Language, and work using specific datasets in the database should cite the appropriate papers as listed on the Con

[2016-02-16 03:35] #107 closed

[2016-03-02 19:55] mcfrank opened #126 "map on stats page"
to show distribution of languages throughout the globe

[2016-03-23 17:34] #121 closed

[2016-03-23 17:37] #123 closed

[2016-03-23 17:39] #122 closed

[2016-03-23 17:43] mcfrank commented on #102
Take out link on disclaimer.

[2016-03-23 17:46] #113 closed

[2016-03-23 17:47] #102 closed

[2016-03-23 17:48] mcfrank commented on #106
duplicated #124

[2016-03-23 17:48] #106 closed

[2016-03-23 17:59] mcfrank opened #127 "get rid of huge disclaimer on reports"
it's time to own it.

[2016-03-23 18:00] #127 closed

[2016-03-23 18:03] mcfrank opened #128 "move download buttons off of sidebar"
and onto plot and table

- [ ] item trajectories
- [ ] vocab norms

[2016-03-23 22:14] #125 closed

[2016-03-23 22:15] mikabr commented on #116
not worth it

[2016-03-23 22:15] #116 closed

[2016-03-23 22:16] mikabr commented on #101
doesn't actually seem useful

[2016-03-23 22:16] #101 closed

[2016-03-23 22:41] #100 closed

[2016-03-23 22:42] #10 closed

[2016-03-23 22:43] mikabr commented on #24
We've figured out a way for this functionality to be provided without changing import/data structure.

[2016-03-23 22:43] #24 closed

[2016-03-23 22:45] mikabr commented on #26
Analyses like this will be part of the [gender-input](https://github.com/mikabr/gender-input) project

[2016-03-23 22:45] #26 closed

[2016-03-23 22:46] mikabr commented on #35
This seems like an analysis for [aoa-prediction](https://github.com/mikabr/aoa-prediction).

[2016-03-23 22:46] #35 closed

[2016-03-23 22:48] mikabr commented on #63
Specific cases of errors can be caught with `validate`, but in the general case I think failing silently is fine.

[2016-03-23 22:48] #63 closed

[2016-03-23 22:49] mikabr commented on #81
Are we giving up on this?

[2016-03-23 22:50] mikabr commented on #68
Not worth it.

[2016-03-23 22:50] #68 closed

[2016-03-23 22:50] mikabr commented on #86
Subsumed by [demo-vocab](https://github.com/mikabr/demo-vocab).

[2016-03-23 22:50] #86 closed

[2016-03-23 22:53] mcfrank commented on #81
we're fine with un-colored points.

[2016-03-23 22:53] #81 closed

[2016-03-23 22:54] #73 closed

[2016-03-23 23:10] #128 closed

[2016-03-24 04:08] #89 closed

[2016-03-25 07:02] mikabr commented on #64
Packrat is now set-up for each shiny app. When editing app code locally, make sure to do it within the app's rstudio/packrat project file and [record any package additions/changes through packrat](https://rstudio.github.io/packrat/rstudio.html) -- it'll mostly happen automatically, you mostly just need to call `packrat::snapshot()` before pushing any code. To deploy the app:
- ssh into the instanc

[2016-03-25 07:02] #64 closed

[2016-03-25 07:04] mikabr commented on #49
Do we actually want to do this or should this get closed?

[2016-03-25 07:05] mikabr opened #130 "import Slovak data"

[2016-03-25 07:11] mikabr opened #131 "remove duplicate administrations"
Preserving correct values of `norming` and `longitudinal` for all administration.
- @dyurovsky changing the raw data
- @mikabr changing the data import

[2016-03-25 07:12] mikabr opened #132 "migrate any remaining raw data files from excel to csv"

[2016-03-25 07:19] mikabr commented on #118
Languages with some blank definitions:
- [ ] English
- [ ] Hebrew
- [ ] Norwegian

[2016-03-25 07:19] mikabr opened #133 "category field not being populated for non-word items"

[2016-03-25 17:18] mcfrank commented on #49
I think Asli Kimya (new ms student) is thinking about working on this general issue... maybe I can close this instance of the report/issue and we can work on it from first principles.

[2016-03-25 17:18] #49 closed

[2016-03-27 21:50] #126 closed

[2016-03-27 21:50] mcfrank commented on #126
not that good an idea.

[2016-03-27 21:51] mcfrank opened #134 "scoring report should take fillable PDF output"

[2016-03-28 02:01] mikabr opened #135 "generate spreadsheets for uni_lemma verification"
* tab for each language
* on each one all the items in form order with CDI categories and our current proposed uni_lemma
* a bank of all uni_lemmas somewhere

[2016-03-28 02:57] mikabr commented on #118
I filled in all the blank definitions, the problem now is that the Hebrew items fail to populate because of some sort of strange encoding issues, so I need to fix that.

[2016-03-30 17:09] #48 closed

[2016-03-30 18:13] mcfrank commented on #134
item 1 should be a "fillable PDF vs. custom data" selector

[2016-03-30 18:13] mcfrank commented on #134
also check percentile values

[2016-03-30 18:22] mcfrank opened #137 ""statistics" -> "population""
homepage tabs. scoot over towards blog also

[2016-03-30 23:22] #131 closed

[2016-03-30 23:50] #137 closed

[2016-03-31 00:12] #118 closed

[2016-03-31 01:12] mikabr commented on #133
This wasn't actually a bug -- `category` is only for word categories, non-word items have section information in `type`, and the data is now consistent with that.

[2016-03-31 01:21] #133 closed

[2016-03-31 05:43] #132 closed

[2016-03-31 15:40] mcfrank opened #138 ""both" option in item trajectories broken"

[2016-03-31 21:36] #124 closed

[2016-04-04 21:29] mcfrank opened #139 "add set mean for item trajectories"
small checkbox to show the mean on the item trajectories plot and de-emphasize the items

[2016-04-04 21:29] mcfrank opened #140 "loess in item trajectories"
before dubrovnik talk

[2016-04-04 21:33] mcfrank opened #141 "download from cross-linguistic trajectories"

[2016-04-04 21:33] mcfrank commented on #140
should also think about that in cross-linguistic trajectories

[2016-04-04 21:48] mcfrank commented on #134
also add a disclaimer about for additional assistance in preparing reports for parents

[2016-04-04 21:53] mcfrank opened #142 "data report names"
+ "by-word (item) averages"
+ "by-child (administration) averages"
+ "full datasets by form"

[2016-04-04 21:53] mcfrank commented on #142
consensus: check these with actual users

[2016-04-04 22:01] mcfrank opened #143 "contingency table report"
interesting possible report idea (see Beckage)

[2016-04-04 22:07] mcfrank opened #144 "stick attribution on gender diffs"
cite and note that this is replication Erikson paper.

[2016-04-04 23:09] mcfrank opened #145 "rerun data reports and cache on the dataset"
so that the "static" reports are rerendered

[2016-04-05 17:25] mcfrank opened #146 "add ASL CDI"

[2016-04-05 17:27] mcfrank opened #147 "min font size on front language graphic"
Right now we can't see many of the smaller languages' names

[2016-04-06 18:29] mikabr opened #148 "import ASL data"

[2016-04-06 18:31] mikabr commented on #145
I'm not sure if you mean have them re-render automatically every night -- our discussion the other day seemed to converge on that not being the right plan, given how heterogenous and complex they are.

[2016-04-06 18:32] mikabr commented on #144
what's the paper/citation?

[2016-04-06 18:36] mikabr commented on #142
Who should we ask for user input?

Thought: we could start a `wordbank-users` mailing list, where we can announce new features and get feedback on questions. Might not be enough of a community for it yet, but it could help grow the community?

[2016-04-06 18:37] mcfrank commented on #144
Eriksson, M., Marschik, P. B., Tulviste, T., Almgren, M., Pérez Pereira,
M., Wehberg, S., … Gallego, C. (2012). Differences between girls and boys
in emerging language skills: Evidence from 10 language communities. British
Journal of Developmental Psychology 30, 326–343.

Mike

On Wed, Apr 6, 2016 at 11:32 AM, Mika Braginsky <notifications@github.com>
wrote:

[2016-04-06 18:38] mcfrank commented on #142
mailing list seems like a great idea...

Mike

On Wed, Apr 6, 2016 at 11:36 AM, Mika Braginsky <notifications@github.com>
wrote:

[2016-04-07 16:05] mcfrank commented on #145
Yeah, I guess so - though maybe we could make a subset live update? E.g.
migrate them into the local repo, at least the ones that are not hard core
computationally?

Mike

On Wed, Apr 6, 2016 at 11:31 AM, Mika Braginsky <notifications@github.com>
wrote:

[2016-04-07 16:06] dyurovsky commented on #145
Maybe momed and gender differences?

Dan

On Thu, Apr 7, 2016 at 9:05 AM Michael Frank <notifications@github.com>
wrote:

[2016-04-09 22:25] #140 closed

[2016-04-09 22:25] #141 closed

[2016-04-09 22:36] mikabr commented on #138
@dyurovsky this seems to be caused by the admin filtering logic somehow

[2016-04-09 23:00] #139 closed

[2016-04-09 23:13] mikabr commented on #142
I put in a request for the mailing list, and in the mean time changed the app names to something that made sense to me.

[2016-04-09 23:13] #142 closed

[2016-04-09 23:14] mikabr commented on #146
duplicate of #148

[2016-04-09 23:14] #146 closed

[2016-04-09 23:19] mikabr commented on #130
All the prep work for this is done, but I haven't run it on the server because there are a lot mysterious values in the data -- for example, questions with 3 values (understands, understands and produces, neither) are coded with 4 values (0,1,2,3). Even worse, there's a bunch of weird values like "23", which might mean something (maybe they were indicating something between a 2 and a 3?) or might

[2016-04-10 18:18] #138 closed

[2016-04-11 16:31] mcfrank commented on #130
Should we follow up? If you give me a few examples, I'll write back to them
and cc you, or you can just write directly if that's easier.

Mike

On Sat, Apr 9, 2016 at 4:19 PM, Mika Braginsky <notifications@github.com>
wrote:

[2016-04-11 18:18] dyurovsky opened #149 "semantic networks app broken"
produces unspecified error and disconnects

[2016-04-13 23:52] #144 closed

[2016-04-13 23:53] mikabr commented on #145
gender and momed now get re-rendered automatically every night

[2016-04-18 18:18] mcfrank opened #150 "quebec french WS"
just for consistency's sake

[2016-04-19 04:46] mcfrank opened #151 "last FAQ question is missing"
http://wordbank.stanford.edu/faq#who-funds-wordbank

looks like it's hiding under the footer or something?

[2016-04-19 21:46] #111 closed

[2016-04-19 21:47] #151 closed

[2016-04-19 21:53] mikabr commented on #145
the auto rendering script works totally fine if I run it, but doesn't seem to get run by chron for some reason...

[2016-04-20 18:33] #149 closed

[2016-04-20 23:02] mikabr commented on #147
The graphic is now over kids rather than administrations, which makes is broadly look better, but BSL is now just completely invisible... we could just make the graphic exclude any language with too-small sample sizes?

[2016-04-21 00:01] mcfrank commented on #147
Probably we should quit while we're ahead… Looks better in any case. We
could try logarithms though?
On Wed, Apr 20, 2016 at 4:02 PM Mika Braginsky <notifications@github.com>
wrote:

[2016-04-21 05:30] #147 closed

[2016-04-25 18:02] #135 closed

[2016-04-26 01:03] #150 closed

[2016-04-27 03:16] mikabr opened #152 "item trajectories "both" option should only allow production"

[2016-05-04 00:04] mcfrank opened #153 "negative quantiles"
Would be nice to bound quantiles from quantreg at zero in norms report, e.g. for negatives, see table for BSL.

[2016-05-04 18:57] mcfrank commented on #130
decision: import ONLY words, under the assumption that 0 = blank, 1 = "does not understand", 2 = "understands", 3 = "produces"

[2016-05-09 20:51] mcfrank opened #154 "extending mean functionality in item trajectories"
- [ ] put group mean in table view
- [ ] when mean is checked, increase alpha on all non-mean lines so that the mean is more visible. maybe make it dashed as well?

[2016-05-09 22:39] #130 closed

[2016-05-10 18:35] #145 closed

[2016-05-11 05:23] mcfrank commented on #154
- [ ] add SD to table as well

[2016-05-11 05:24] mcfrank opened #155 "plot item trajectory by vocabulary percentile"
as in the SRCD monograph, e.g. plot a particular item not by age but percentile ranks.

this may be a bit complex in terms of data transformation, unless you can use the cached vocab sum?

[2016-05-11 05:24] mcfrank opened #156 "plot item trajectory by vocabulary size"
as in the SRCD monograph, e.g. plot a particular item not by age but percentile ranks.

this may be a bit complex in terms of data transformation, unless you can use the cached vocab sum?

[2016-05-11 18:10] mcfrank opened #157 "item trajectories: add gloss/meaning"
maybe have a checkbox to add glosses/meanings

could use unilemmas

could give them in parens, e.g. "perro (dog)"

[2016-05-11 18:11] mcfrank commented on #157
default on, no button? not in English.

[2016-05-11 18:26] #155 closed

[2016-05-11 23:26] mikabr opened #158 "import TEDS data"

[2016-05-17 18:35] #77 closed

[2016-05-17 23:39] #158 closed

[2016-07-23 03:47] mcfrank opened #159 "import cypriot greek"

[2016-09-01 17:34] mcfrank opened #160 "check anonymization for swahili"

[2016-09-29 21:25] mllewis opened #161 "links on main page"
"issue tracker for wordbank" is broken
and codebase links are swapped between wordbank and wordbankr

[2016-09-30 18:29] #120 closed

[2016-09-30 18:29] #159 closed

[2016-09-30 18:29] #148 closed

[2016-09-30 18:31] mcfrank opened #162 "hard-coded instrument selectors"
were crashing the vocab_norms and item_trajectories reports. these are now fixed, but there is no in-database source that lets us know which instruments have comprehension data - for example, ASL currently has a form called "FormA" that does, but "FormC" for example doesn't. we should probably eventually put this information in the instruments table.

[2016-09-30 18:32] mikabr commented on #162
doesn't the measure selector infer this from the data?

[2016-09-30 18:32] mcfrank commented on #162
not currently - it was hard-coded, at least in vocab_norms

[2016-09-30 18:34] mcfrank opened #163 "kirigama WS vocab norms has no curves"
not sure what the source of this is

[2016-09-30 18:35] mikabr commented on #162
ah ok – in a given form different section have different sets of options, but the options for the words could be put in the instruments table

[2016-09-30 19:08] #161 closed

[2016-10-07 17:42] #162 closed

[2016-10-10 16:55] #160 closed

[2016-10-12 00:44] #43 closed

[2016-10-12 00:46] daniellekellier opened #164 "Shiny graph does not properly display Chinese characters"

[2016-10-12 21:51] #164 closed

[2016-10-27 16:26] mcfrank opened #165 "italian gender data"
as of 10/27/16, italian WS and WG have different gender mappings, with 2 = male in WG and 1 = male in WS. this is incorrect for WS (as shown in item analyses), hence there is an incorrect plot in the JCL paper. we need to flip the mapping and re-import italian.

[2016-10-30 21:19] #165 closed

[2016-11-03 22:56] mcfrank opened #166 "educational materials"
create a tab for teaching with wordbank. this will require some thought, but I think will be fun and useful.

I thought we had a doc with some ideas but I've lost track of it.

materials from Caitlin Fausey:

slides: https://docs.google.com/presentation/d/1VnhKdCBOzgxaaCwm3CsTtF-Cu3gfsl7Kgz1CwQ5c_SE/edit?usp=sharing

assignment: https://docs.google.com/document/d/1UOHuF26t19HLPswsVm46ivA7nS98Z3G9h

[2016-11-09 22:50] mcfrank opened #167 "phonological features"
from Mark Seidenberg: "add phonological properties, derive layouts of how words fill phonological space over time.  very important to know.  got that yet?"

interesting feature to integrate into semantic networks app!

[2016-11-18 17:17] mikabr opened #168 "add `norming` column to data download apps"

[2017-02-10 22:39] daniellekellier opened #169 "Update English instrument names for consistency"
"English" --> "English (American)"
"English (British)" --> "English (British)" (same)
"Australian English" --> "English (Australian)"

[2017-02-25 00:33] mikabr opened #170 "vocab norms: model fit warning doesn't go away"

[2017-02-27 18:01] daniellekellier commented on #170
Are you talking about the "The current model does not fit well to this dataset" warning?

[2017-02-27 18:32] mikabr commented on #170
yes

[2017-02-27 18:38] daniellekellier commented on #170
Could you tell me where exactly this bug is happening? I've been playing with the app on wordbank.edu and the warning is going away for me.

[2017-02-27 18:44] mikabr commented on #170
hmm yeah, it seems to mostly go away – I can't reproduce what circumstances go it into that weird state

[2017-02-27 18:44] #170 closed

[2017-07-10 18:53] daniellekellier opened #171 "Update age calculation formula"
Currently in import_dataset_helper.py:
[code]

Needs to become
age_days = DOT-DOB
age_months = age_days/(365.2425/12)

[2017-07-19 21:33] daniellekellier opened #172 "Update 'Upcoming Wordbank events'"
http://wordbank.stanford.edu/blog shows 'upcoming' events from 2015. Needs updating!

[2017-07-19 22:06] mcfrank commented on #172
That's not on the blog, it's hard coded. Let's cut it out and then we don't
have to maintain it.
On Wed, Jul 19, 2017 at 2:33 PM daniellekellier <notifications@github.com>
wrote:

--
Mike

[2017-07-25 22:20] #171 closed

[2017-07-25 22:20] #172 closed

[2017-08-03 22:40] daniellekellier commented on #169
Finally figured out how to do this on my local copy of wordbank! I also updated the shiny apps and they are in working order. This just has to be tested on the dev ec2 server and then finally pushed to the other servers.

[2017-08-04 00:23] mcfrank commented on #169
Nice! We've been meaning to do this for years!
On Thu, Aug 3, 2017 at 6:40 PM daniellekellier <notifications@github.com>
wrote:

--
Mike

[2017-08-04 00:24] mcfrank commented on #169
Note that it will probably break a bunch of people's filtering code
(including ours for book stuff).
On Thu, Aug 3, 2017 at 8:23 PM Michael C. Frank <mcfrank@stanford.edu>
wrote:

--
Mike

[2017-08-04 03:13] daniellekellier commented on #169
That's why I have not pushed it yet! But we should update the names at some point for consistency. Also so it doesn't seem like American English is the default type of English.

[2017-08-04 20:22] #169 closed

[2017-08-04 20:22] daniellekellier commented on #157
Is this what you were thinking of?
![image](https://user-images.githubusercontent.com/19960439/28985557-f69d5ef2-7917-11e7-9596-f08d55f996f5.png)

[2017-08-04 21:51] mcfrank commented on #157
That looks good to me, others? @vmarchman?
On Fri, Aug 4, 2017 at 4:22 PM daniellekellier <notifications@github.com>
wrote:

--
Mike

[2017-08-08 16:55] #157 closed

[2017-08-08 16:55] #152 closed

[2017-09-18 17:32] daniellekellier opened #173 "Vocab Norms App fails to model English (American) - W&G - comprehension"
![image](https://user-images.githubusercontent.com/19960439/30555420-5c35433a-9c5c-11e7-8cec-e7dd91abe013.png)

`fit_curves()` function fails specifically at line 218
`models <- data() %>%
    group_by(demo) %>%
    do(model = gcrq(vocab ~ ps(age, monotone = 1, lambda = 1000),
        data = ., tau = input_quantiles()))`

'None' Split Variable is the only one that fails
For Quantiles 'Standard' an

[2017-09-21 20:15] daniellekellier commented on #173
Problem was related to the actual SQL data. Exact R package versions did not generate the issue. Resetting the 'English (American) Words & Gestures' instrument and re-importing related study data fixed the issue.

[2017-09-21 20:15] #173 closed

[2017-09-21 20:56] mcfrank commented on #173
Huh, ok, glad that this is resolved!

On Thu, Sep 21, 2017 at 1:15 PM, daniellekellier <notifications@github.com>
wrote:

[2017-10-02 23:58] benpeloquin7 opened #174 "viewing multiple word item trajectories"
Default view of item [trajectories](http://wordbank.stanford.edu/analyses?name=item_trajectories) plots AoA for "baa baa". Adding another word to the `Words` input field does not plot (however the table view looks good). Running in chrome browser.
<img width="859" alt="screen shot 2017-10-02 at 4 52 00 pm" src="https://user-images.githubusercontent.com/2654729/31104601-bffd2d92-a792-11e7-813c-4e4d

[2017-10-08 17:14] tjmahr opened #175 "add download_date column to downloaded csv files"
A feature to consider...

Citing query results or database norms would be easier if data downloaded from Wordbank also included a timestamp for when the data were downloaded. Using `format(Sys.time())` would be simple enough.

[2017-10-08 17:44] mcfrank commented on #175
We should add this functionality to childesr as well, along with database
version (@amsan7 @smeylan @mikabr)
On Sun, Oct 8, 2017 at 10:14 AM TJ Mahr <notifications@github.com> wrote:

--
Mike

[2017-10-10 18:34] mikabr commented on #175
I like the idea, not sure exactly how it would interface with the versioning infrastructure we're setting up, though. `wordbankr` should probably also do this.

[2017-10-10 22:47] daniellekellier commented on #174
This has been fixed!

[2017-10-10 22:47] #174 closed

[2017-11-15 00:29] mcfrank opened #176 "licensing needs to be flexible"
Some datasets will be CC-BY, and some will be -NC. To get this to work, we need:

- [x] homepage license needs a link to a licensing FAQ question
- [x] FAQ needs to say that some datasets are -NC
- [x] contributors page needs a field for license, with default being no license, but a big NC logo for certain datasets, and something in the policy about this
- [x] wordbankr / apps need more citation s

[2017-12-15 18:42] daniellekellier opened #177 "Update unilemmas"
Add unilemmas for the following forms

- [x] American Sign Language (FormA, FormBOne, FormBTwo, FormC)
- [x] British Sign Language (WG)
- [x] Cantonese (WS)
- [ ] Croatian (WS)
- [x] Czech (WS)
- [ ] Danish (WS)
- [x] English, Australian (WS)
- [x] English, British (Oxford CDI, TEDS Twos, TEDS, Threes)
- [x] French, Quebecois (WS)
- [x] French, French (WG, WS)
- [x] German (WS)
- [x] Greek, Cyprio

[2017-12-19 22:58] mcfrank commented on #176
I think that wordbankr should just return the license as a `message` not as a column (e.g., "some datasets in this download are licensed CC-BY-NC and should not be used for commercial purposes" when you ask for Japanese or Korean). That is a bit lighter weight?

[2017-12-19 23:19] daniellekellier commented on #176
I've been reading up on the CC website. It looks like we can add a 'license' field to the database. Perhaps default is "" or "BY" with the option of "BY-NC". We would need to use their official logo on the contributors page next to each dataset covered by "BY-NC" [this one](https://mirrors.creativecommons.org/presskit/icons/by.large.png).

Besides that we need to update the FAQ and the footer to s

[2018-01-30 22:50] daniellekellier opened #178 "Allow for multiple unilemmas per item"
At the moment, each CDI item is only allowed a single unilemma. It would be nice if a single word could map to multiple lemmas.
I noticed this could be an issue back with the Korean forms. In Korean, biscuit, cookie, and cracker all translate to "과자/까까" We had to pick only one lemma for this term. but it would be nice to have the same term map to different lemmas.
This tutorial could help:
https:/

[2018-02-16 01:00] daniellekellier commented on #178
@mcfrank @mikabr @dyurovsky Thoughts? I wanted to know if I could do this before I add the new uni_lemma data. :)

[2018-02-23 18:56] mcfrank opened #179 "clinical population functionality"
- [x] need a "developmental status" field in the child table
- [x] need a selectize box for "developmental status" with "typically developing" the default that filters other status, but allows the inclusion of other developmental status, and makes this a facet variable (for norms app)
- [x] wordbankr needs this filter functionality as well in the get_admins methods etc.

[2018-02-24 00:55] mcfrank commented on #167
@afourtassi now has these! can we add them to the item info database?

[2018-02-24 00:57] mcfrank commented on #154
bump! this is the last functionality we want to add before we take down cdi-clex.org

[2018-02-26 20:20] afourtassi commented on #167
Yes I can help with this! I only have the IPA for nouns, I think Mika/Dan generated  IPA for the other categories. So maybe we can decide together on a uniform  set of rules? Especially when dealing with some categories like animal noises or some untranscribable CDI annotations,...

[2018-03-07 20:02] #178 closed

[2018-03-07 20:03] #176 closed

[2018-03-08 18:29] daniellekellier opened #180 "Link to CHILDES doesn't work anymore"
The link to CHILDES from http://wordbank.stanford.edu/blog is broken

[2018-04-03 21:47] daniellekellier opened #181 "Re-imported Spanish (Mexican) WS data now lacks vocab norms"
Re-imported data from Spanish (Mexican) WS now lacks norms (similar to the Kirigiama case in issue #163).

![image](https://user-images.githubusercontent.com/19960439/38277539-963adaa4-374d-11e8-8c25-e18f0d95d115.png)

In both the SM and K cases, server.R in shiny_apps/vocab_norms.server.R breaks in the `fit_curves()` function. The following code produces this error.
[code]

[code]

You can fix it

[2018-04-04 18:28] daniellekellier commented on #181
Fixed with commit 5854b8d538c488293e6e5355e15bd4605cdec3e2

[2018-04-04 18:28] #181 closed

[2018-04-04 18:29] daniellekellier commented on #163
Fixed with commit 5854b8d538c488293e6e5355e15bd4605cdec3e2

[2018-04-04 18:29] #163 closed

[2018-04-17 20:01] bobjtowers opened #182 "wordbank-master.zip broken archive !"
-rw-rw-r-- 1 hwbh hwbh 278921216 Apr 17 20:55 wordbank-master.zip
hwbh@acer:~/wordbank$ unzip wordbank-master.zip
Archive:  wordbank-master.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
u

[2018-04-17 21:34] mcfrank commented on #182
@bobjtowers are you trying to download the entire archive from github? you could clone the repository instead. but why would you want to host a local copy of the dataset?

(or if that's not what you're trying to do, can you tell us what you are hoping to accomplish?)

[2018-04-17 22:09] mcfrank commented on #182
Hi @bobjtowers,

The "clone and download" button is provided by github, not by us. I'm not sure why it's not working, but it's not part of wordbank. "Downloading the archive" is not usual functionality, that's why I'm asking. To my knowledge there isn't anyone running a local copy of wordbank outside of our research group.

Let me suggest that if installing git is onerous, hosting a full mysql dat

[2018-04-25 22:29] ebergelson opened #183 "some summary data for W&G missing"
hey, we were hoping to look at the trajectories for these two items, but somehow kids have 0s across all months on the by-word data summary:
![image](https://user-images.githubusercontent.com/11085620/39276316-87126b44-48b6-11e8-8e10-07a3d6011db2.png)

maybe the non-word data aren't available? otherwise, seems like a potential bug...

[2018-04-26 19:46] daniellekellier commented on #183
The by-word graph looks for items that fall neatly into the 'understands' vs 'produces' bins. Items that are not words don't fall into that. First_signs and phrases look at whether a child understands the item. Starting_to_talk looks at whether a child produces. That's not talking about gesture items and their 5 different response categories.
![image](https://user-images.githubusercontent.com/1996

[2018-04-26 20:08] mcfrank commented on #183
good question. also - the best way to get this might be to use wordbankr -
you should be able to do `get_item_data` for the language you want and then
filter to those particular items.

Mike

On Thu, Apr 26, 2018 at 12:46 PM, daniellekellier <notifications@github.com>
wrote:

[2018-04-26 21:03] ebergelson commented on #183
would it break everything to have those other categories like phrases or starting to talk selectable on the right? or to have 'understands' 'produces' and 'other'? just a thought.

[2018-04-26 21:14] mcfrank commented on #183
I think we have to limit to words - it is eventually in the works to make a
browser for these non-word items. The trouble is that many languages do
this very differently and the special cases (three, four categories, weird
response options, etc.) mean there is a lot of extra gunk in the item
browser stuff.

[2018-05-01 17:25] daniellekellier opened #184 "Update Korean (Yim) datasets"

[2018-05-01 17:26] daniellekellier opened #185 "Add Persian Data"

[2018-05-04 18:57] daniellekellier commented on #180
Fixed with f7d4d97350f131e86b9c1247ad403b0624827432

[2018-05-04 18:57] #180 closed

[2018-05-04 18:58] daniellekellier commented on #183
Limited app to word items only in 4f8754d22c4c783d0fa4e09a9d41f26bcac083c4

[2018-05-04 18:58] #183 closed

[2018-05-11 00:43] #184 closed

[2018-05-17 05:29] mikabr opened #186 "add shinyURL to apps to enable sharing an app state"
https://github.com/aoles/shinyURL

let's someone link to the trajectory for "dog" or the vocab curves for German, etc

[2018-06-04 23:54] mcfrank opened #187 "Quebec has an accent"
In French, you write Québec - I got this as a comment from Diane Poulin-Dubois. Not sure if we want to support this but it is technically true. :)

[2018-06-05 18:03] mcfrank commented on #179
@mikabr @daniellekellier @amsan7 Tagging you guys for thoughts.

we also should figure out if we can import summary-level data (e.g., just totals) and have NA for the individual items. @vmarchman has this for several datasets.

Once we get these things resolved, we have a bunch of DD datasets, including NDAR data from around 3k kids on the autism spectrum.

[2018-06-12 20:10] mcfrank opened #188 "kiswahili/kigiriama import"
It seems likely that something has gone wrong with the WG import and that production/comprehension are flipped. 1 is currently listed as produces and 2 as comprehends - I think this is likely a reversal and is leading to some bad behavior of the data? @daniellekellier could you investigate? I think you wrangled these initially. thanks!

[2018-06-12 22:45] daniellekellier commented on #188
Fixed! I looked at the original data sent over and it was just because I flipped the values for understands/produces. It should look better now!

[2018-06-12 22:45] #188 closed

[2018-06-13 04:19] mcfrank commented on #188
yay!

On Tue, Jun 12, 2018 at 3:45 PM daniellekellier <notifications@github.com>
wrote:

[2018-06-26 23:53] mcfrank opened #189 "item-by-child not working through shiny"
My name is Adarsh - I’m a postdoc at the University of Arizona, and am interested in modeling semantic networks.

I tried to download the Full Child-by-Word Data from here:

http://wordbank.stanford.edu/analyses?name=instrument_data

but received the following error:

ERROR: Error writing to connection:  No space left on device

We would be very grateful if you could help us with this!

—
Adarsh
a

[2018-08-28 15:37] mcfrank opened #190 "accessibility"
from email:

I was enjoying your research and visualizations; however, I noticed immediately that your navigation has very low contrast, and so I ran an accessibility analysis on the site via WAVE. You can follow the link and see the errors. http://wave.webaim.org/report#/http://wordbank.stanford.edu/

You can also use https://webaim.org/resources/contrastchecker/ for contrast checking.

Keep up t

[2018-09-01 18:33] ebergelson opened #191 "server down?"
stuck on 'loading' and
![image](https://user-images.githubusercontent.com/11085620/44948768-85e68200-adf1-11e8-9003-7cd819535e11.png) on item trajectories and vocab norms tabs and some others.

[2018-09-01 20:17] amsan7 commented on #191
works now!

[2018-09-01 20:17] #191 closed

[2018-12-12 05:56] mcfrank opened #192 "add eric walle data!"
[Walle Lab - MCDI - for Mike Frank.xlsx](https://github.com/langcog/wordbank/files/2670642/Walle.Lab.-.MCDI.-.for.Mike.Frank.xlsx)

[2019-02-20 17:21] mcfrank opened #193 "issue in Mandarin data"
I wanted to let you all know about a possible discrepancy in the CDI data for the Words and Sentences form for Mandarin (Beijing). I've attached an excel spreadsheet to this message showing the data I'm talking about. The first tab shows the CDI W&S item data as provided by the wordbankr / wordbank website. I've highlighted several rows with definitions that appear to be repeated. I've been workin

[2019-02-20 17:21] mcfrank commented on #193
+jkueser@purdue.edu

[2019-02-22 20:26] mcfrank opened #194 "gender -> sex"
in scoring tool as well

referencing #122

[2019-05-03 15:01] kristabh opened #195 "Functionality for bilinguals"
Wish list item: Functionality for uploading data from bilinguals.  Ideally, we would be able to link data from two CDIs (one in each language) for bilingual children. And we'd need to be able to integrate info about age of acquisition of each language, and percent exposure to each language.

[2019-05-06 16:13] mcfrank opened #196 "mean/median in items and vocab"
I have discovered that the “Vocabulary Norms” function gives various quantiles, including medians, but not means.  In contrast, the “Item Trajectory” function gives means of the selected list of words but not medians or other quantiles. It would be really good to have comparable statistics for the two functions – any chance that can be added?

[2019-10-25 19:22] ebergelson opened #197 "any chance of getting access to the gestures part of W&G?"
i know it's not vocab items per say but would love to be able to look at the gesture items (points, waves, etc.) across the group for the lang's the have them!

[2019-11-06 18:53] mcfrank commented on #197
you can get these through wordbankr (they're just items like any others), we'll try to get them in the shiny apps at some point but it might not be for a year or so.

[2019-11-21 18:47] vmarchman opened #198 "coding for years of maternal education"
How are missing values stored and calculated?  Is None treated as Missing (i.e., none reported) or as 0 (i.e., no years of education)

[2019-11-23 08:29] HenryMehta commented on #192
I believe this is ready to put up.  I've merged the first 2 sheets as 1 load (English_WG) and the last 3 sheets as 1 load (English_WS).

[2019-11-25 16:42] HenryMehta opened #199 "Running import_datasets twice causes additional administrations"
If you run a dataset twice it duplicates the administrations within the application (but doesn't seem to duplicate the children). I don't know if this causing an issue with later analysis etc but I would expect the record to be loaded only once and to be checked before trying to load.

[2019-11-25 21:10] mikabr commented on #199
iirc the workflow is to run `reset_instrument` and then `import_datasets

[2019-11-26 08:19] HenryMehta commented on #199
Thank you - that makes sense

[2019-11-26 08:19] #199 closed

[2020-02-25 17:00] mcfrank opened #200 "consider removing scoring app"
@melsod notes some 1-2 percentile discrepancies with webcdi scoring - that's a reason to consider taking this tool down. what do you think @vmarchman?

[2020-12-18 19:54] kachergis commented on #177
I'd be happy to find help for these, but are these up-to-date?

[2020-12-18 23:25] kachergis commented on #177
get_crossling_items() returns 1380 unilemmas, and I guess we need to check which of those are NA for each language. Just looking at a couple items, the above list is out-of-date (and incorrect? or at least Czech, Cantonese, and others don't appear on this list -- but maybe they don't have 'hat' or 'nose'?):
unique languages in get_crossling_data(uni_lemmas = c("hat", "nose"))
[1] "British Sign Lan

[2021-01-07 17:22] mcfrank opened #201 "Cantonese data"
Greetings, my name is Lizz, I am a research assistant of the Education University of Hong Kong. I am writing to inquire about the way of making contribution for Wordbank with our latest research output that published in Cognition (Chen, Hui, Lee, Daniel T, Luo, Zili, Lai, Regine Y, Cheung, Hintat, and Nazzi, Thierry. "Variation in Phonological Bias: Bias for Vowels, Rather than Consonants or Tones

[2021-01-07 17:22] mcfrank commented on #201
[CDI_for_Wordbank.csv.zip](https://github.com/langcog/wordbank/files/5783025/CDI_for_Wordbank.csv.zip)

[2021-01-07 19:12] vmarchman commented on #179
We currently have:  (1) Adamson/Bakeman, (2) Edgin, (3) Focus Foundation, (4) Elison/Day

[2021-01-11 16:13] mikabr commented on #179
This shouldn't be that hard to do, since the by-item data is in its own table, so database population code can in principle just not create that table, only add to the administrations table. Most of the changes to support this would be to the db population code, with a few changes in wordbankr and the shiny apps as well.

[2021-03-04 17:54] mcfrank commented on #195
ok, we are working on this! @kristabh do you have item-level data that would be a good use-case for us?

@HenryMehta we are planning to move forward with this, and would love to get your help. @vmarchman will follow up.

@mikabr I think we want to add just a "multilingual" column to the `administrations` table, right? - do you have a sense for how this should be structured?

@vmarchman @JMankewitz

[2021-03-04 17:54] mcfrank commented on #195
@georgialoukatou

[2021-03-04 22:07] kristabh commented on #195
Glad this is a go! We have item-level data for Words & Gestures, as well as Words and Sentences.  Bilinguals learning Quebec French and American English.

We definitely need a field for % exposure to the language of administration (if it doesn't already exist). Ideally age of acquisition as well.

[2021-03-08 04:55] mcfrank opened #202 "contributors page text"
From Philip Dale: "I’ve already posted a notice on info-childes about this. Here’s a suggestion of how to handle this on your website. You could just put in a note (item #7 on your Contributors page?) that the

[code]

(we’ll be posting newly revised guidelines in the next few days which contain the new material.)

Thanks for your help on this."

[2021-03-11 17:33] mcfrank commented on #195
@HenryMehta we are having a conversation about this and planning on working together synchronously on 4/1 at 9AM - 1PM pacific.

we are thinking that there is a relatively unused "child" table where we could store bilingualism information and use IDs from that table to retrieve matching administrations. do you think you could take a look at this? @vmarchman or I would be happy to chat more about t

[2021-03-11 19:21] HenryMehta commented on #195
Yes, of course.  But you do realise that Wordbank is all written in Python 2.7 so isn't supported or certain to work on AWS servers.  Any changes without upgrading will carry more risk

[2021-03-11 19:46] mcfrank commented on #195
ugh so we should probably upgrade? this sounds complex... @mikabr

On Thu, Mar 11, 2021 at 11:21 AM Henry Mehta ***@***.***>
wrote:

[2021-03-15 04:40] mikabr commented on #195
I don't have any experience with python 3 upgrades, but it sounds like
something we should potentially do anyway?

On Thu, Mar 11, 2021 at 2:47 PM Michael Frank ***@***.***>
wrote:

[2021-03-15 05:14] mcfrank commented on #195
@Henry ***@***.***> I know you are off for a bit, but when you are
back, do you think you could prepare a quote for the upgrade? I agree with
Mika.

thanks!

On Sun, Mar 14, 2021 at 9:40 PM Mika Braginsky ***@***.***>
wrote:

[2021-03-15 08:06] HenryMehta commented on #195
@mcfrank Yes, I've no problem doing the upgrade but I've only got 10-15 hours per week available at the moment (I might be able to push that to 20 sometimes).  I need to get some work done on WebCDI this week.  Would starting next week be ok and is there a timescale on this?

[2021-03-15 18:15] mcfrank commented on #195
Hi Henry, thanks! This is a spring goal for us, we were thinking about
working on bilingual functionality on April 1. Maybe when you take a look
you can see if that feels out of reach... if so, we can move our plans back
by a few weeks.

On Mon, Mar 15, 2021 at 1:07 AM Henry Mehta ***@***.***>
wrote:

[2021-03-16 09:54] HenryMehta commented on #195
Hi Mike,
Sorry to be pedantic, but does spring mean March 21st (I think that is official calendar start) or before June 21st (calendar end) or something else.

I've been trying to find historical data on how long the WebCDI upgrade took me, but I can't.  I suspect we're talk 20-30 hours for a system I knew, so I think we need to assume something similar for Wordbank which I think is less complicat

[2021-03-16 18:50] mcfrank commented on #195
thanks Henry! so something like an estimated done date of 4/15? that would
be fine for us to schedule around.

On Tue, Mar 16, 2021 at 2:55 AM Henry Mehta ***@***.***>
wrote:

[2021-03-17 23:24] kachergis opened #204 "Danish and Norwegian have no blank ("") response values; only NAs"
The unique values of the responses column for both Danish and Norwegian do not contain any blank ("") values (only "produces", "understands", and NAs).
Presumably all of the NAs should be "", unless there are some missing cells.

Reprex:

[code]

produces  understands (no '' values -- all are NA)
    51184      190974

[2021-04-07 16:31] mcfrank opened #205 "static content updates"
some static content updates:

* [x] homepage: new line of text below "via the wordbankr package": "Explore what we can learn about child language acquisition through Wordbank in the [Wordbank Book](http://wordbank-book.stanford.edu) (MIT Press, 2021)."
* [x] issue #202
* [x] new box on analysis page at the top, "Wordbank Book" with the following text: "Many common analyses of Wordbank data are des

[2021-04-07 16:46] mcfrank commented on #202
the text could go right below the "to contribute your data..." line at the top? #205

[2021-04-07 19:20] mikabr commented on #205
agreed!

[2021-04-08 07:29] HenryMehta commented on #205
@mcfrank I believe I've done the items assigned to me
@JMankewitz if you pass me the publications, I'll add them

[2021-04-08 07:29] HenryMehta commented on #202
@mcfrank deployed to dev environment

[2021-04-08 16:10] mcfrank commented on #200
@HenryMehta could you remove the scoring app from the Analyses page? No need to take down the shiny app yet but let's remove it. thanks!

[2021-04-08 16:16] mcfrank commented on #185
[code]

[Archive.zip](https://github.com/langcog/wordbank/files/6280010/Archive.zip)

[2021-04-08 16:16] mcfrank commented on #177
@kachergis

[2021-04-08 16:17] mcfrank commented on #134
wontfix - we are thinking we're going to put this functionality in Web-CDI.

[2021-04-08 16:17] #134 closed

[2021-04-08 16:17] mcfrank commented on #202
looks great.

[2021-04-08 16:19] mcfrank commented on #193
related to #177 @kachergis

[2021-04-08 16:19] HenryMehta commented on #202
@mcfrank Can I suggest it isn't closed until it is live.  I've added it to a Project and will move it to ready for go live

[2021-04-08 16:21] mcfrank commented on #202
point taken, thanks!

On Thu, Apr 8, 2021 at 9:20 AM Henry Mehta ***@***.***> wrote:

[2021-04-08 16:22] mcfrank commented on #195
linking this issue to us needing flags for longitudinal data and clinical data as well (#179) - all of these are things that are by-default filtered, e.g. as in the "norming data" flag. (#168)

[2021-04-08 16:24] kachergis commented on #177
added Latvian WG, Mandarin Taiwanese WG, and Spanish European WG uni_lemmas, updated (added more and fixed a few) Korean WG and Mandarin IC Beijing uni_lemmas

[2021-04-08 19:04] HenryMehta commented on #177
@kachergis has this been merged into master and do I need to merge it into the Py38 version?  If so what was the merge so I know what I'm looking to pull back

[2021-04-08 19:15] kachergis commented on #177
@HenryMehta I made the PR a few weeks back but only just merged it now: https://github.com/langcog/wordbank/commit/829b99be0164a04965111ec5865d3802b10538f7
(I assume it didn't make the Py38 version, then)
Mika said you likely know how to update these tables, but let her/I know if you don't -- thank you!!!

[2021-04-08 19:19] HenryMehta commented on #177
@kachergis I would appreciate some confirmation on how to merge them because I've done it by rebuilding the whole database and I don't want to do that again.  I also want to ensure things don't get double counted which has happened, so can you give specific instructions about exactly what to do - thanks

[2021-04-09 06:21] HenryMehta commented on #200
@mcfrank  I've removed the "Scoring Tool" from analysis page, which is what I think you want and it is ready to test

This Python38 upgrade has not touched the shiny app functionality (which is in R).  All that remains in place and is still being called as per previous version

[2021-04-09 20:57] mcfrank commented on #200
Yup, that sounds great. Thanks.

On Thu, Apr 8, 2021 at 11:22 PM Henry Mehta ***@***.***>
wrote:

[2021-04-11 19:25] HenryMehta commented on #177
@kachergis Hi George, I really need some direction here because I don't know what you've changed and how I migrate it - I don't see any differences in the numbers and I could just merge the branches but if I don't know what you've done or what I'm then meant to do I won't necessarily apply it properly
Thanks

[2021-04-12 06:27] kachergis commented on #177
Hi @HenryMehta -- sorry for the slow reply: I've been traveling. I've
updated a few languages' uni_lemma columns for the WG forms, but more are
in progress. I've briefly discussed with Mika how to remove and then
reingest the updated instruments, so I don't think a full database rebuild
will be needed -- but let me get back to you once we're done updating.

On Sun, Apr 11, 2021 at 12:25 PM Henry M

[2021-04-15 17:18] mcfrank commented on #195
https://docs.google.com/document/d/1dghcGe5KBculGS41Ur7VkHP63lNvJgqmpdIRxuMU4J4/edit#

[2021-04-19 16:21] vmarchman opened #206 "add Hebrew WG citation"
Please update the contributors page to replace the current citation for this citation for Hebrew WG:

GENDLER-SHALEV, H., & DROMI, E. (2021). The Hebrew Web Communicative Development Inventory (MB-CDI): Lexical Development Growth Curves. Journal of Child Language, 1-17.

[2021-04-22 15:56] mcfrank opened #207 "irish bilingual data"
Thanks to the generosity of Ciara O'Toole and with solicitation from Josh Hartshorne, we have Irish/English bilingual data from the ICDI. Data are in .SAV (SPSS) format. From Ciara: "Attached is an SPSS file with the data and you will see the child code and session code (which means the 1st, 2nd, 3rd or 4th time them completed the ICDI) and then some other background information as well as all the

[2021-04-22 15:57] mcfrank commented on #207
Citation is: Ciara O’Toole, Daniela Gatt, Tina M. Hickey, Aneta Miękisz, Ewa Haman, Sharon Armon-Lotem, Tanja Rinker, Odelya Ohana, Christophe dos Santos & Sophie Kern (2017) Parent report of early lexical production in bilingual children: a cross-linguistic CDI comparison, International Journal of Bilingual Education and Bilingualism, 20:2, 124-145, DOI: 10.1080/13670050.2016.1179258

[2021-04-22 16:44] mcfrank commented on #177
Instructions for emailing new folks: ```Hi there, thanks very much for agreeing to help us with our translation task!

Instructions

We are trying to get good translations of different lists of words in many different languages into the same set of "universal" concepts - here expressed in English. A list of these concepts are on the "BANK" tab. So, for example, we want to map "perro" in Spanish on

[2021-04-22 17:34] mcfrank opened #208 "lexical categories"
@georgialoukatou and I were looking at the "other" category, and it includes `sounds`, `games and routines`, `time words`, `people`, and `places`. This is a bit weird... at least `places` should probably be in nouns, right? Also maybe `time words`? People I guess is a bit idiosyncratic and could stay in "other" but ...  @mikabr @kachergis @vmarchman

[2021-04-22 18:51] kachergis commented on #208
agreed -- Alex and I noticed that and recategorized for some of the Noun vs. Verb stuff we did; can share if it's useful

[2021-04-22 20:08] georgialoukatou commented on #208
@kachergis Yes, it would be great if you could share, thanks!

[2021-04-23 13:59] vmarchman commented on #208
@kachergis <https://github.com/kachergis>  @georgialoukatou
<https://github.com/georgialoukatou> @mikabr <https://github.com/mikabr> "

Bates et al (1994) never had an "other" category, but rather excluded
certain categories of nominals from the noun category to limit it to
"common nouns".  The only categories were: common nouns, predicates and
closed class.  "other" was not a coherent category an

[2021-04-28 23:05] kachergis opened #209 "[Portuguese_European_WG] - unusual item categories"
e.g., não and sim ("no" and "yes") categorized as "locations" (instead of, e.g., games_routines)

item_310 | nao | word | locations
item_311 | sim | word | locations

[2021-04-28 23:58] kachergis opened #210 "possible duplicate uni_lemmas"
This is open to debate, but in my mind these uni_lemmas are duplicates (violating the goal of the uni_lemma definition):
cap = hat
underpants = underwear
foot = feet (I assume we want singular?)
nail = nails (also ambiguous: do these all refer to body part?)
stone = rock
street = road
beautiful = pretty
cup = glass (I feel less strongly about this)

For the below, I'm curious whether others would

[2021-04-29 16:15] kachergis commented on #208
sorry, took me a while to dig it up (and it was simpler than I remembered...):

`
verbs <- get_item_data(language = "English (American)", form = "WS") %>%
  filter(lexical_class == "verbs")

#also include the nouns marked as "other"
nouns <- get_item_data(language = "English (American)", form = "WS") %>%
  filter(lexical_class == "nouns" | category == "people" | category == "places")
`

[2021-04-29 16:40] kachergis commented on #177
check current coverage

[code]

[2021-04-29 17:07] mcfrank commented on #209
ah - this is wrong in https://github.com/langcog/wordbank/blob/master/raw_data/Portuguese_European_WG/%5BPortuguese_European_WG%5D.csv#L311

They were in the spatial prepositions for WG instrument definitions. This should be fixed and reimported...

[2021-04-30 02:11] ningkko commented on #207
@HenryMehta Hi Henry I'm here to help with preparing the data for Wordbank. I cleaned the Irish data into two files as attached. Could you take a look to see what else we need?
[index.csv](https://github.com/langcog/wordbank/files/6402646/index.csv)
[irish.xlsx](https://github.com/langcog/wordbank/files/6402647/irish.xlsx)

[2021-05-03 10:57] HenryMehta commented on #207
@ningkko Sorry for the delay replying.  I'm not quite in a position to reply yet because, but I have seen this and will respond this week I hope

[2021-05-04 15:05] alv1nn commented on #210
On pronouns: it may be worth extracting all the pronouns cross-linguistically to look for the best representation. For example, because uni_lemmas are in English, there's a lost distinction between second-person singular and plural pronouns (e.g. _tu_ vs _vous_ in French), despite the fact that literally _all_ wordbank languages other than English have this distinction.

A potential option is to u

[2021-05-04 16:38] mcfrank commented on #210
I think the linguistic gloss is a great idea Alvin!! thanks.

re the fewer differentiations, we could have an inclusion hierarchy, e.g.
1sg.subj is the top level, so if a language doesn't distinguish, you just
list that as the unilemma, but then you can list more otherwise?

On Tue, May 4, 2021 at 8:06 AM Alvin Tan ***@***.***> wrote:

[2021-05-04 19:07] alv1nn commented on #210
Another potential uni_lemma to collapse:
sauce <- soy sauce

[2021-05-05 22:21] kachergis commented on #210
Thanks, Alvin! I do like the idea of the linguistic gloss, although I would also like to somehow not lose readability for non-linguists. And Mike's suggestion of an inclusion hierarchy seems right! Maybe we could effectively do this by just adding a second column for "looser" matches...

[2021-05-06 16:37] mcfrank opened #212 "update unilemma app"
Since we are putting in some work on the unilemma mapping, we should refresh the shiny app:
- [ ] we only cover WG right now, we should add WS coverage for produces (perhaps by stitching together data from both forms)
- [ ] dropdown menu doesn't cover all unilemmas because there are too many
- [ ] need to recache data
- [ ] probably should add some description of what the unilemmas are to the docu

[2021-05-18 04:20] mcfrank opened #215 "Dutch data"
We have some incoming dutch data. We can help with reformatting @HenryMehta if you tell us what you need.

@Cielke-Hendriks wrote: "In the attachment I added our data. The first document is a combination of a lot of studies, each study using a different CDI (WG, WS, 1, 2A or 2B). Therefore a lot of the cells have the value NA. This means the participant did not have this item on their CDI. Regardi

[2021-05-18 04:39] mcfrank opened #216 "Poulin-Dubois bilingual data"
"I attach an Excel file with the data for the first 2 waves of our longitudinal study (at 16 and 22  months, as reported in Legacy et al 2016 and 2018 ). Individual items for Wave 3 (around 29 mos) need to be entered.  This will be done shortly,

I checked with my collaborators and we give you permission to make these data available to Wordbank. We also have data from Spanish-English bilinguals fr

[2021-06-02 10:05] HenryMehta commented on #207
@ningkko Again, please accept my apologies for the delay (which has been considerably longer than I expected).  I am sorry that this is another holding response, but I should be on it soon.  I have written the code in order to load multi-lingual data (both 1. testing the child in 2 languages and associated both sets of results with the same child and 2. adding a language exposure component when on

[2021-06-03 06:27] HenryMehta commented on #207
@ningkko
I have now updated the Wiki to explain how data needs to be presented.  It can be found [here](https://github.com/langcog/wordbank/wiki/DEVELOPMENT---Instructions-will-multilingual-added/_edit).

I do not understand what the index.csv file is, so I am going to ignore it for now.

I need the .xlsx file changed slightly.  The way we import the language exposure data is a field which contain

[2021-06-03 06:41] HenryMehta commented on #215
Hi, @Cielke-Hendriks
I hope you're well.
I'm looking at your CDI_all_data_finished.csv file and I have a few questions.

1.  Is the subject a unique value to the child or is it the combination of study and subject.  For example subject 2 is against studies story4 and teach3 (and maybe others).  Is this 1 child or 2 children?
2.  The data for sex are v, m, and f.  I don't want to make assumptions s

[2021-06-09 21:48] ningkko commented on #207
@HenryMehta Hi Henry, I just saw this. I'll get back to you by the end of this week.

[2021-06-10 11:39] Cielke-Hendriks commented on #215
Hi @HenryMehta,

Thanks for the questions.

1. It is a combination of study and subject. So subject 2 in story4 and teach3 represent 2 different children.
2. v and f both represent female, m represent male
3. The potential outputs for all the words are NA, empty, 1 and 2. Both NA and empty mean the child does not understand or say the word. 1 means the child only understands the word. 2 means the

[2021-06-19 00:39] ningkko commented on #207
@HenryMehta Hi Henry,

I didn't find the file, not even the static folder?

[2021-06-19 07:06] HenryMehta commented on #207
@ningkko
I'll do the instruments.json file.

Within the data you show mothers (I think) education level.  I need clarification on how your data ties into the Wordbank classifications.

[2021-06-20 03:48] mcfrank opened #221 "identifying information in raw data"
hi @vmarchman, I just got an email noting that "as a heads up, it appears birthdate is present in the EnglishWS_Marchman_Norming_data.csv file, under the V4 header."

we should get rid of this.

@HenryMehta - at some point would it be possible to remove this information from the CSV?

thanks!

[2021-06-20 19:12] HenryMehta commented on #221
@mcfrank
I can delete the column from the data but that will not remove it from GitHub history.  If you want that cleared I need to remove that file from all history and the reload it to the latest deployment.  Is that what you actually want?

[2021-06-20 21:48] mcfrank commented on #221
Hi Henry, good point about the history. I think we do need to remove it
from the history and then re-add the anonymized file to the most recent
version.

On Sun, Jun 20, 2021 at 12:12 PM Henry Mehta ***@***.***>
wrote:

[2021-06-21 11:46] HenryMehta commented on #221
Could someone confirm the column heading which has DOB in it.  The 3 possible headings are V4, V6, and DateOfCDI (and I don't think it is DateofCDI).

[2021-06-21 13:48] vmarchman commented on #221
Hi @HenryMehta - It's V4.

On Mon, Jun 21, 2021 at 4:46 AM Henry Mehta ***@***.***>
wrote:

[2021-06-25 10:07] HenryMehta commented on #221
Master updated

[2021-06-25 10:07] #221 closed

[2021-06-27 13:29] DavidNTompkins opened #222 "Adding Date of Test information to database"
Hello, I’m hoping to add Date of Test (DOT) information to the database. It appears to be already tracked in 39 of the existing datasets, and I will be reaching out to the contributors of the remaining datasets to see if they would be willing to share.
This xls ([dot_columns.xls](https://github.com/langcog/wordbank/files/6721652/dot_columns.xls)) contains a list of raw data files that seem to have

[2021-07-01 19:04] mcfrank opened #223 "fix hebrew reference"
should be:

Gendler-Shalev, H., & Dromi, E. (2021). The Hebrew Web Communicative Development Inventory (MB-CDI): Lexical Development Growth Curves. Journal of Child Language, 1–17. https://doi.org/10.1017/S0305000921000179

[2021-07-08 15:11] mcfrank commented on #215
Citation is: Bergmann, Christina, Hendriks, Cielke, de Bruin, Yvette, Egger, Julia, Fikkert, Paula, Hahn, Laura, Hunnius, Sabine, Johnson, Elisabeth, Junge, Caroline, Levelt, Claartje, Rulkens-Dijkstra, Nienke, Swingley, Daniel, Ward, Emma, & Rowland, Caroline. MB-CDI Dutch Pre-Norming Corpus. https://osf.io/z3msf/

License is CC-BY

[2021-07-12 21:56] ningkko commented on #207
@HenryMehta Hi Henry, I didn't quite understand the fields.csv and values.csv. I have the instruction file and data file ready. It seems that the information asked in the fields and values file is contained in the data file. Could you have a look at these two files and see what else I need to add
[Irish_English_data.csv](https://github.com/langcog/wordbank/files/6804583/Irish_English_data.csv)
[Ir

[2021-07-19 20:48] ningkko opened #224 "English-Hebrew data"
@mcfrank @HenryMehta Hi, here are the precleaned English-Hebrew data from "A CDI Study of Bilingual English-Hebrew Children--Frequency of Exposure as a Major Source of Variation".

[English_Hebrew_data_2.xls](https://github.com/langcog/wordbank/files/6843818/English_Hebrew_data_2.xls)
[English_Hebrew_data.csv](https://github.com/langcog/wordbank/files/6843819/English_Hebrew_data.csv)
[English_Hebr

[2021-08-04 20:01] jkhartshorne opened #225 "Bilingual question: How do code exposure?"
Some of our datasets include information on relative exposure (more English? more the other language?) or age of first exposure if there is an early L2 (e.g., 1;8). Is this information you plan on capturing in WordBank? If so, how?

[2021-08-05 09:19] HenryMehta commented on #225
@jkhartshorne I have recently made some code changes which will facilitate capturing this data.  It is being tested at the moment.  A description of how the data is captured is shown [here](https://github.com/langcog/wordbank/wiki/DEVELOPMENT---Instructions-will-multilingual-added)

[2021-08-08 16:40] ningkko commented on #216
Here are the pre-cleaned French-English data from Prof. Poulin-Dubois, numbers indicate wave numbers (2 = wave 2).
[French_English_2.csv](https://github.com/langcog/wordbank/files/6951134/French_English_2.csv)
[French_English_3.csv](https://github.com/langcog/wordbank/files/6951135/French_English_3.csv)
[french_english_data_2.csv](https://github.com/langcog/wordbank/files/6951136/french_english_da

[2021-08-08 17:08] ningkko commented on #216
And here's the translation of CDI words in French to English
[Words and Gestures TE List (formatted).xlsx](https://github.com/langcog/wordbank/files/6951171/Words.and.Gestures.TE.List.formatted.xlsx)

[2021-08-08 22:39] ningkko opened #226 "Erika Hoff - Spanish_English_Bilingual Data"
[Spanish_English_HDPM_data2.csv](https://github.com/langcog/wordbank/files/6951550/Spanish_English_HDPM_data2.csv)
[Spanish_English.csv](https://github.com/langcog/wordbank/files/6951551/Spanish_English.csv)
[Spanish-English_data(HDPM, Bilingual).csv](https://github.com/langcog/wordbank/files/6951552/Spanish-English_data.HDPM.Bilingual.csv)

[2021-08-08 22:40] ningkko commented on #226
[Spanish_English_R01_data2.csv](https://github.com/langcog/wordbank/files/6951554/Spanish_English_R01_data2.csv)
[Spanish_English_R01.csv](https://github.com/langcog/wordbank/files/6951555/Spanish_English_R01.csv)
[Spanish-English(R01, Bilingual).csv](https://github.com/langcog/wordbank/files/6951556/Spanish-English.R01.Bilingual.csv)

[2021-08-09 19:19] jkhartshorne commented on #225
Ahh, I didn't read the detail on your 'language' field, which I think is how you are intending to capture this?

I'm not sure how often you'll have that specific number (proportion of each language). In the datasets we have so far, it's usually something else, such as proportion of time spent in each language with each of several caregivers. Or if it's proportion for the child, it's on a Likert sc

[2021-08-10 06:12] HenryMehta commented on #225
@jkhartshorne Sorry, I really don't know, this is how I was asked to develop the system.

@mcfrank is probably best placed to respond

[2021-08-10 19:56] mcfrank commented on #205
@JMankewitz I think we're waiting on you for pubs, not super urgent but would be good to get this set. here's one that got sent in:

Day, T. K. M., & Elison, J. T. (2021). A broadened estimate of syntactic and lexical ability from the MB-CDI. Journal of Child Language, 1–18. https://doi.org/10.1017/S0305000921000283

[2021-08-18 15:53] mcfrank opened #227 "hungarian data"
From Kas Bence: "I am terribly sorry that it took so long for me to get back to you with this. The end of the last university year was extremely difficult in the pandemic and a life-saving holiday also contributed to the delay. But now I have some good news as I could finish the database I can offer at present to the Wordbank site. Please find attached the data file consisting of item-by-item voca

[2021-08-25 14:36] vmarchman opened #228 "Add Argentinian WS data"
Will be receiving data from Mariela Resches for Argentine data

[2021-09-08 18:02] alv1nn commented on #206
duplicate of #223

[2021-09-08 18:02] #206 closed

[2021-09-14 23:25] alv1nn commented on #185
Note: pending instrument specification

[2021-09-15 00:06] alv1nn commented on #215
Hi @Cielke-Hendriks, just wanted to check something: in CDI_swingley_matrix.xlsx, the column labelled "nothing / niets" has notes in some of the cells (instead of 1, 2, or blank)—is this intentional? Thanks!

[2021-09-15 12:14] Cielke-Hendriks commented on #215
Hi @alv1nn, it seems like something went wrong in that column. I don't think it is intentional and I think it is best to omit the data in the "nothing / niets" column.

[2021-09-15 19:54] BrennanNick commented on #210
Just bumping my slack message here:
I completed an updated list of problematic unilemmas in table form with the cited problem, and if I could think of one, a proposed solution. You'll also find a few comments I made about certain groups of unilemmas which I found questionable (such as Russian's adverbs and Cantonese's high concentration of unique unilemmas which only appear in that dataset) Hopefu

[2021-09-16 16:19] mcfrank opened #230 "grcq should become gamlss fits in shiny apps"
We found that gamlss gives much better fits and outputs percentile ranks really nicely. it's a little slower but a lot better. here's the demo that could probably be adapted pretty easily.

https://github.com/mcfrank/demo-vocab/blob/master/gamlss_demo.R

[2021-09-16 23:38] kachergis commented on #210
Thanks, Brennan!
You raise many good points, some of which the group will need to discuss --
probably next Thurs at 9am: you're welcome to join if you can. Meanwhile,
we've been working on getting the per-language lists ready to send out for
native speakers to update, here:
https://docs.google.com/spreadsheets/d/1RcpMgnjSA0nRbym0iDYcBPjL48IMNQxawmil0d4txsA/edit?usp=sharing
(The first tab also has

[2021-10-21 16:07] mcfrank opened #232 "Finnish data"
Dear Mike,

I just sent you Finnish CDI data via Funet FileSender. I sent four SPPS files. Two of those include data collected using the long form versions of the Finnish CDI, and two files include data collected using the short form versions of the Finnish CDI. Data will be available for one week.

Following files include longitudinal data collected using the long form versions of the CDI at 12,

[2021-10-22 16:30] mcfrank opened #233 "Chilean Spanish"
"I attach the data from the pilot test. I deleted the personal data. Participants who were eliminated due to exclusion criteria are not included, if you need them, let me know. The file is not modified as a database either, we will do that later but I think it works for the wordbank. The instrument begins in column X, and in other tabs there are some descriptive analyzes.

And of course, in the la

[2021-11-02 02:39] alv1nn commented on #216
Hi @ningkko , do you know if there's cleaned data for wave 1?

[2021-11-17 08:25] kachergis commented on #227
data and instrument ready for import!

[2021-11-17 08:25] #227 closed

[2021-11-17 08:29] kachergis opened #234 "some Spanish (Mexican) WS and WG datasets ("source_name") incorrect"
"Fernald (Outreach)" is not a valid name for Mexican Spanish WG or WS data (should be "Fernald (SLENA)", I think). I don't think the incorrect dataset label is in any of the raw data (CSVs) or the file names, so I'm guessing it was incorrectly entered when running the python import script?

[2021-12-16 09:33] jflanaga opened #235 "Instrument data but no adminstrative data"
Sorry, I'm probably doing something wrong, but I couldn't find it in the documentation. For a particular search, I'm getting instrument data that doesn't contain corresponding adminstrative data (for at least the `word_ending_nouns` type of the American English Words and Sentences form. Here's a reproducible example

[code]
Just to make sure that the data wasn't there, I tried to search for one of

[2021-12-16 17:30] mcfrank commented on #235
Hi Joseph, thanks for the clearly documented explanation. That is not
expected behavior, it looks to me like some data are being orphaned from
their admin data on import.

I checked the rows in the raw data vs. rows in the database for the Eng WS
datasets and surprisingly a number of them are different, including
Marchman Dallas, Marchman Wisconsin, and both Smith datasets. @HenryMehta
it looks li

[2022-01-18 22:34] apelzz opened #236 ""By-Word Summary Data" generating errors"
Hello there! We were trying to access the[ "By-Word Summary Data" page ](http://wordbank.stanford.edu/analyses?name=item_data)on the Wordbank website (on Chrome), but it keeps showing the following error. The page is sort of stuck at loading. I would appreciate any help :)
![image](https://user-images.githubusercontent.com/45474550/150029378-fd16639a-2c5d-48e8-ba99-920747679909.png)

[2022-01-27 17:31] mcfrank opened #237 "peruvian spanish"
A few notes:
-age is shown in months
-for sex: 1 = girl, 2 = boy
-all vocabulary item labels show word (as shown in the CDI form) / word class / CDI category (this is all in Spanish)
-for all vocabulary items: 0 means no (no "doesn´t understand" for receptive vocabulary and "doesn´t produce" for expressive vocabulary) and 1 means yes
-in the case of the 8-15 month-olds since the CDI gives parents

[2022-02-02 18:02] mcfrank commented on #237
A non commercial license for this one!

REFERENCES:

Blume, M., Fernández-Flecha, M., Junyent, A., & Tijero, T. (2019). Proceso de adaptación de los Inventarios de Desarrollo Comunicativo MacArthur-Bates al castellano estándar del Perú [Adaptation process of the MacArthur-Bates Communicative Development Inventories to Standard Peruvian Spanish]. Lexis, 43(2), pp. 369-420. https://doi.org/10.18800/

[2022-02-10 04:02] JMankewitz opened #238 "Unicode Encoding in wordbank2"
Hi Henry!

I'm testing the new wordbank2 database and am having trouble figuring out the correct unicode encoding. The data looks pretty good when using mysql, but we see issues (see below) when pulling data using the R database reader (which works fine with the original wordbank db). I've attached an example.
<img width="778" alt="image" src="https://user-images.githubusercontent.com/8647029/1533

[2022-02-24 14:42] jflanaga commented on #235
Hi,
Sorry, I thought I would check to see if there was some kind of update on this? I took at look at some of the raw data in the repo for the book (`eng_ws_raw_data.Rds´). I then got data using `wordbankr` in two different ways (both the admin data and without it:

[code]
`df2` has 4,659,262 observations whereas both `df` and `eng_ws` (from the .Rds) have 4,399,440, a difference of 259,822.
(Ther

[2022-02-24 18:10] mcfrank commented on #235
Hi Joseph, sorry - some of the blocker here is that we are redoing the database and there are some revisions around dataset names so this has been up in the air.

I believe you have identified a bug where there is no administration data getting created for some datasets. @HenryMehta  could you look into this? If you search the ID that Joseph put in above, you should be able to find a missing sourc

[2022-02-24 19:37] jflanaga commented on #235
No worries. I was just curious about the status, and I wanted to let you know that if you were working with W&S from that .Rds in current work, you’d be missing data. If need be, I could give the IDs of all missing admins.

[2022-03-03 17:41] mcfrank commented on #235
one hypothesis is that this is about filtering administrations outside of the instrument's appropriate age range, and one call does that but the other doesn't?

[2022-03-04 12:57] jflanaga commented on #235
Yeah, I suspect that is it.  I haven't had a chance yet to do much, but I was at least able to locate the missing data referenced above with the following:

[code]
The age in `131896` is 31, whereas the maximum age with the `default filter_age = TRUE` is 30.

I didn't see any way to specify an option `filter_age = FALSE` in `get_instrument_data()` . Is there one? I could do a join, so it's not a p

[2022-03-10 17:35] mcfrank opened #239 "versioning"
we would like to have a versioning system for the WB database. our solution is to save periodic named snapshots of the database and to try to minimize updates in between these so that people can never to these updates.

summarizing our discussions:
- we will put WB1 as a SQL dump in an S3 bucket (@HenryMehta is this easy for you to do?)
- we will finish WB2 updates and data imports, and names this

[2022-03-16 16:38] vmarchman commented on #228
Received the data for Argentine Spanish WS from Mariela!

[cdi2arg784_wordbank.csv](https://github.com/langcog/wordbank/files/8265914/cdi2arg784_wordbank.csv)

Here's the coding for Sex and maternal education:

Sex:  1 = Male, 2 = Female

Scale for Maternal education:

1= uncomplete primary education
2= Primary (elementary) school
3= Uncomplete secondary education (middle school -some high school)

[2022-03-19 07:26] HenryMehta commented on #237
@mcfrank Are IDs unique to the file, or are IDs across files the same child but different administrations?

[2022-03-19 07:57] HenryMehta commented on #226
@ningkko @mcfrank
Can you:

- Confirm gender = 1 is Male, 0 is Female, blank is other
- Confirm Mother and Father eduction_03 are scored as follows: {(1, 'None'), (2, 'Primary'), (3, 'Some Secondary'), (4, 'Secondary'), (5, 'Some College'), (6, 'College'), (7, 'Some Graduate'), (8, 'Graduate')}
- Provide breakdowns and explanations of the other columns in the xxxs_data2 files.

I believe the input

[2022-03-19 07:58] HenryMehta commented on #233
@mcfrank I am unable to open this file

[2022-03-19 07:59] HenryMehta commented on #232
@mcfrank I have nothing to open a sav file.  Can you advice what program I should be using

[2022-03-19 08:03] HenryMehta commented on #228
@vmarchman Can you advice what character set is being used for the words.  It doesn't open correctly with UTF8 which is what I will need to convert it to for Python and to load

[2022-03-19 08:05] HenryMehta commented on #224
@mcfrank Can you advice the characterset being used?  I need to convert it to UTF8 to load to Python and this isn't in UTF8 so I need to know what to open as initially

[2022-03-19 09:08] HenryMehta commented on #228
@vmarchman For the items is 1 understands, 2 produces (there are none)?

[2022-03-19 09:16] HenryMehta commented on #228
@vmarchman I'm having trouble creating this file for Argentine because I don't know the translations.  I can try muddling through slowly and then send through for someone to check, but I suspect it will take me several hours - and I suspect I will have the same issue with other datasets

[[Spanish_European_WS].csv](https://github.com/langcog/wordbank/files/8308880/Spanish_European_WS.csv)
v

[2022-03-19 14:17] vmarchman commented on #228
@Henry ***@***.***> Yes, I am in the process of getting
translations for these.  They are very similar to the Mexican Spanish, but
hold off for now.  I should be able to have those for you soon.

Thanks.

On Sat, Mar 19, 2022 at 2:17 AM Henry Mehta ***@***.***>
wrote:

[2022-03-19 17:21] ningkko commented on #226
Confirming with Erika

[2022-03-19 17:23] ningkko commented on #224
I was able to load it using pandas. Does ASCII or ISO-8859-8 work?

[2022-03-20 07:10] HenryMehta commented on #224
@ningkko I'm not sure why this didn't work for me yesterday but did today.  Anyway, I've got all 3 open but could you confirm English_Hebrew.csv for me.    It seems to have the same word over definition/gloss over several lines with different itemIDs.

I really need something with itemID, item, type, category, choices, definition, gloss, uni_lemma, complexity_category.

ItemID is there,
item would

[2022-03-20 07:27] HenryMehta commented on #207
@ningkko Sorry for the months delay - these look like I've enough info to get working on these

[2022-03-20 16:41] alvinwmtan commented on #224
Hi Henry, apologies for not sending this over earlier, but I've cleaned and tidied all the files into the correct data/fields/values format as per the specs:

[EnglishWS_Armon-Lotem_data.csv](https://github.com/langcog/wordbank/files/8311673/EnglishWS_Armon-Lotem_data.csv)
[EnglishWS_Armon-Lotem_fields.csv](https://github.com/langcog/wordbank/files/8311674/EnglishWS_Armon-Lotem_fields.csv)
[Englis

[2022-03-20 16:42] alvinwmtan commented on #216
Hi Henry, here are the cleaned data files:
[EnglishWG_PoulinDubois_data.csv](https://github.com/langcog/wordbank/files/8311679/EnglishWG_PoulinDubois_data.csv)
[EnglishWG_PoulinDubois_fields.csv](https://github.com/langcog/wordbank/files/8311680/EnglishWG_PoulinDubois_fields.csv)
[EnglishWG_PoulinDubois_values.csv](https://github.com/langcog/wordbank/files/8311681/EnglishWG_PoulinDubois_values.csv

[2022-03-20 16:50] alvinwmtan commented on #226
Hi Henry, if it helps I've tidied these into the spec format, but don't have the answers to your questions either (hence the `fields` csvs have a lot of missing entries.

The `input_percent_Eng_home_30` is indeed percentage of English spoken, measured at age 30m. I don't think there is age of first exposure information. The other columns are all metrics measured at age 30m, but I believe the only

[2022-03-21 03:55] mcfrank commented on #233
[ANONIMOS.Prueba.del.Instrumento.xls](https://github.com/langcog/wordbank/files/8312963/ANONIMOS.Prueba.del.Instrumento.xls)
Here is an .XLS version of the file, but I can open the attached XLSX in Mac Excel 16.59. Can you tell me what the error is?

One issue is that there is a different worksheet for every child  I believe...

[2022-03-21 03:58] mcfrank commented on #237
I believe that:
* both 8-15 month files are the same - the IDs are the same and they are actually just the two response types (understands and produces). In other words, row 2 of each file represents two different "views" of the same administration.
* IDs are distinct across the 8-15 and 16-30, representing different kids.
* column 3 of 16-30 is gender/sex.

[2022-03-22 08:51] HenryMehta commented on #207
@alvinwmtan @ningkko Within the EnglishIrishWS_OToole_data.csv file there are entries with values on 2, 9, 11, 3 and 10.  I have set all these to blank in the values file.  Also the load is currently failing because English (Irish) has no field name item_332.  I don't know if you want me to add this to the EnglishIrish.csv file or move it from English data file to Irish data file

[2022-03-22 09:17] HenryMehta commented on #207
On the Irish side, I have values 2, 9, 12 and 3 which I've set to blank.  And the load crashes on item_331 so same question as English side.

Finally I've loaded the datasets with
[code]
Please confirm this is correct

[2022-03-22 18:37] mcfrank commented on #232
tagging @jflanaga so he is aware of this thread and can contribute.

[2022-03-22 18:38] mcfrank opened #240 "catalan data"
From Isabel Serrat
[code]
[Plantilla variables CDI-I Wordbank maig 22.sav.zip](https://github.com/langcog/wordbank/files/8327046/Plantilla.variables.CDI-I.Wordbank.maig.22.sav.zip)

@vmarchman maybe you can convert from SAV and reupload?

[2022-03-22 19:02] mcfrank opened #241 "ASL CDI 2.0"
Here are data from a new ASL (american sign language) instrument, the ASLI CDI 2.0.

Citation: `Caselli, N., Lieberman, A., Pyers, J. (2020). The ASL-CDI 2.0: An updated, normed adaptation of the MacArthur Bates Communicative Development Inventory for American Sign Language. Behavior Research Methods.`

From Naomi Caselli:
[code]

[ASLCDI_normative_data.csv](https://github.com/langcog/wordbank/fil

[2022-03-22 19:05] vmarchman commented on #240
Here are the definitions:

Sex: (sexe)

1 = nena = girl
2 = nen = boy

Birth order (order_naixement):

1 = first,
2 = second,
3 = third
4 = later

Bilingualism (MonoBiling): (not sure what exactly these definitions mean)

1 = monolingual
2 = "family bilingualism" (bilinguisme familiar)
3 = "other bilingualisms" (Altres bilinguismes)

Maternal Education (escola_mare):

1 = without schooling
2 = pri

[2022-03-22 21:24] vmarchman commented on #232
@jflanaga  That's great that you can help out with the Finnish data!  I had
started to work with it as well, but I'd be happy to have you take over
from here! :-)

I'm sure Henry would appreciate the files to be already in csv format, if
you can convert and restructure that would be great.

One issue I ran into is that it is not clear that there is comprehension
data for the WG forms.  That is, th

[2022-03-22 22:08] jflanaga commented on #232
@vmarchman Yeah, I couldn't quite figure out what's going on there. The first column had options for understands/says. But then the rest were coded as 0 or 1. However, the value labels (if that's the right term), combine the age (in months), the measure, and the Finnish word:  `15kk ymmärtää sammakko` (15 kk = 15 months, ymmärtää = understands, sammakko = frog). There are only 4 words that have be

[2022-03-22 22:35] vmarchman commented on #232
@jflanaga

For the WG, all items should have a choice of "understands" or "understands and says".  There should be, actually, three options, something like doesn't understand or say (which I would say would be 0), 1 = understands, but does not produce, and 2 = says (with understanding). Or something like that.  Sometimes people put understands and understands and says in different variables, which

[2022-03-23 06:57] jflanaga commented on #232
@vmarchman @HenryMehta  I checked the short forms of WG, and they too are missing comprehension data, so I guess it's a general issue. Maybe there were two SPSS files, one for comprehension, the other for production, and it's only the production data that got included here. All the words that are on the WG form looks as if they are in the dataset. But we just need to wait for Professor Stolt.

Wha

[2022-03-23 07:19] jflanaga commented on #232
By the way, here's the R script I used to import and parse the WS data. The WG data is much the same. I should probably take the time to make this into a function, but I'm not a programmer and violate principles quite a bit.

[code]

[2022-03-23 08:22] HenryMehta commented on #207
@alvinwmtan @ningkko
This is now loaded - it would be good if you could check and confirm data looks good when you pull it out with R.  Thanks

[2022-03-23 09:34] jflanaga commented on #232
@mcfrank @vmarchman @HenryMehta

I've checked my parsing of the WG with Virginia's and there's only a couple of issues, mostly involving whether to use British English or American English (Viriginia's is the first column, mine is the second). The third is just a misspelling, but I left it here in case Virginia wants to check/modify. Is there a preference? It was the British version in the original

[2022-03-23 15:46] vmarchman commented on #232
@mcfrank @jflanaga I heard back from Suvi about the WG data and she is checking into it, but didn't have an answer just yet.

[2022-03-23 15:49] vmarchman commented on #232
@mcfrank @kachergis @jflanaga I'm bringing George into the conversation about how to handle the glosses here.  I would think that we would want more American rather than British glosses to conform with other datasets, but not sure how important the other variations are.  And, yes, "eyeglassess" is a typo.

[2022-03-23 17:58] mcfrank commented on #226
See email from Ning. :)

[2022-03-23 18:37] HenryMehta commented on #226
Response from Erika

[2022-03-23 18:59] jflanaga commented on #232
@vmarchman @HenryMehta @kachergis I went through the WS and WG forms in Finnish (the actual parental reports referred to above) and created a spreadsheet with various information. I mostly kept the glosses that were in the data, and I tried to note places where either there were discrepancies in the data (one person used one gloss, whereas someone else used another), add clarifying notes if I thou

[2022-03-23 23:43] alvinwmtan commented on #226
I suppose this means that we combine the R01 and HDPM datasets, instead of having them separate.

@ningkko do you have a reference (article) for the dataset so that we can attach a citation when we put it up?

[2022-03-24 01:09] alvinwmtan commented on #232
@jflanaga Thank you for working on the glosses! We've actually been in the process of working on glosses and unilemmas (universal concepts that all languages map to) in a separate document [here](https://docs.google.com/spreadsheets/d/1RcpMgnjSA0nRbym0iDYcBPjL48IMNQxawmil0d4txsA/edit#gid=949438012). I've incorporated all your comments (orange cells), which have been very helpful 😄

[2022-03-24 05:06] jflanaga commented on #232
@alvinwmtan Thanks for that. Would you like for me to add some comments on that document? In places, it’s saying what is more common in Finnish. In a way, that’s a bit irrelevant for this, as the words are those that are actually used on the parental reports. (It’s useful for updating the reports though). In others, I think they’re thinking of something else. I use the word _sukkahousut_ practical

[2022-03-24 05:19] alvinwmtan commented on #232
@jflanaga Sure, feel free to add comments if you would like to. You're right in noting that the focus should be on the words actually used in the CDI, and we'll definitely do another pass through the whole thing eventually while updating all the forms, so we'll check to make sure that the right information gets included.

[2022-03-24 05:29] HenryMehta commented on #216
@alvinwmtan @ningkko @mcfrank

[2022-03-24 05:34] alvinwmtan commented on #216
@HenryMehta That's correct; these are longitudinal data of the same set of children (with some dropouts) across three time points (one WG and two WS) x two languages (English and Quebecois French)

[2022-03-24 05:40] jflanaga commented on #232
@vmarchman @HenryMehta @vmarchman Other than waiting to hear about the comprehension data for WG, I was wondering what the next step is or how we’re handling it. I like updating the glosses online. But how are putting everything together? Are you using the original SPSS files and then using code to make corrections? I think that’s safer than what I did (edit the SPSS itself, although I did rename

[2022-03-24 05:46] HenryMehta commented on #216
@alvinwmtan
Thanks
Also, Could I have citation and contributor?

[2022-03-24 05:48] HenryMehta commented on #232
@vmarchman I think it best you confirm everything is sorted to ensure we have the 'right' data and then I can help ensure we've got it formatted correctly to load so I'll leave you to answer Joe's comment above

[2022-03-24 05:58] alvinwmtan commented on #216
@HenryMehta I believe it's the following (unless @mcfrank or @ningkko know if another citation would be preferred?):

Legacy, J., Zesiger, P., Friend, M., & Poulin-Dubois, D. (2018). Vocabulary size and speed of word recognition in very young French–English bilinguals: A longitudinal study. Bilingualism: Language and Cognition, 21(1), 137–149.

Contributor: Diane Poulin-Dubois, Concordia Universit

[2022-03-24 06:53] HenryMehta commented on #216
@alvinwmtan @mcfrank @ningkko
I have a problem with Subject 440 for both the French WS and WG datasets.  This subject has no age.  Currently the database requires that this field is not null.
I think the options we have available are:
1 add the data (if available)
2 enable null
3 ignore row

[2022-03-24 07:08] HenryMehta commented on #233
@mcfrank I can open the new file so all good from that POV.  Not sure about the data though.  I'm going to put this to bottom of the pile

[2022-03-24 07:21] HenryMehta commented on #226
What citation and contributor should I enter?

[2022-03-24 07:24] jflanaga commented on #232
@vmarchman @HenryMehta

I compiled a list of the changes that I made to the original SPSS file (I think I caught them all -- I exported the Variable View from the two SPSS files and then did a diff). The changes fell into three general categories. The most common were misspellings of English words. There were also cases where the value labels appeared to be copied from the row above, so the wrong

[2022-03-24 08:32] HenryMehta commented on #226
Also, I don't know how to decode the ethnicity column and mom_ed has a value of -997 on some English R01 rows.  For the time-being I've set this to be no education

[2022-03-24 10:16] HenryMehta commented on #226
@ningkko @alvinwmtan @mcfrank
I have now loaded these datasets - I know I'll need to load again once Ethnicity decode is available, but I now know the data all loads.
Please take some time to check however you do with R that it looks right from your POV and let me know

[2022-03-24 16:07] alvinwmtan commented on #216
@HenryMehta I think we'll propagate the data from the English WS/WG, so 16.7 for WG and 23.6 for WS

[2022-03-24 16:17] alvinwmtan commented on #226
@HenryMehta -997 for mom_ed should be null if that's possible. Contributor is Erika Hoff, Florida Atlantic University

@ningkko could you double-check with Erika on the citation and on the ethnicity coding?

[2022-03-24 16:19] ningkko commented on #226
I have a citation list. Will send later and ask about the ethnicity coding

[2022-03-24 16:24] HenryMehta commented on #226
null isn't allowed currently.  I can amend the code to allow it if required

[2022-03-24 19:56] mcfrank commented on #233
Sounds right!

Mike

On Thu, Mar 24, 2022 at 12:09 AM Henry Mehta ***@***.***>
wrote:

[2022-03-25 07:47] HenryMehta commented on #232
@jflanaga Am I right in thinking we've got multiple administrations for the same child on a single line?  If so, I really need each administration of a separate line but using the same child id.  I also need the child's age and sex (if available) on that line.

Something like:
[code]

[2022-03-25 08:26] jflanaga commented on #232
@HenryMehta @vmarchman Ok, something like this then (and it will just be `1`s and `0`s in the csv: this is just the view in RStudio so it's easier to see the data).

[code]
There's just two things I'm not sure how you (maybe Virigina here) want to handle. First, the files say 18 and 24 (and the article says 1;6 and 2;0), but there isn't a DOB. The book says that in such cases you went with the age

[2022-03-25 08:33] HenryMehta commented on #232
If we have age in months at time of administration, we don't need DOB so we'll use that as you say.

With sex, when we have a discrepancy, the code will create 2 child accounts, one male and one female. even when the id is the same.

[2022-03-25 08:40] jflanaga commented on #232
Here it is then. I suppose it can get corrected later if we get updated information.

[finnish_ws_wide_data.csv](https://github.com/langcog/wordbank/files/8348815/finnish_ws_wide_data.csv)

[2022-03-25 09:24] HenryMehta commented on #232
ok - so based on files above, I believe this should be the file containing the words are the english (I've not added any uni_lemmas)

[[finnish_ws].csv](https://github.com/langcog/wordbank/files/8349138/finnish_ws.csv)

[2022-03-25 09:36] HenryMehta commented on #232
I think this should be the field file

[finish_ws_suvi_fields.csv](https://github.com/langcog/wordbank/files/8349206/finish_ws_suvi_fields.csv)

[2022-03-25 09:40] HenryMehta commented on #216
@alvinwmtan data now loaded and available to check

[2022-03-25 09:43] HenryMehta commented on #232
And I think this is the values file

[FinishWS_Suvi_values.csv](https://github.com/langcog/wordbank/files/8349238/FinishWS_Suvi_values.csv)

Would anyone like to review before I try loading them?

[2022-03-25 09:56] jflanaga commented on #232
@HenryMehta The `finnish_ws.csv` file might have some issues, depending upon what you want. I pulled the words directly from the parental reports (rather than from the data we have). The only place where it might be an issue is with the "sounds/animal sounds" category. There's some Finnish clarifying text in them (i.e., _drnn drnn (auton ääni_), where _auton_ääni_ means _the sound of a car_. I don

[2022-03-25 10:00] jflanaga commented on #232
I also **didn't** add the Finnish clarifying text in the data I uploaded. So in the `finnish_ws_wide_data.csv`, it's just _drnn drnn_, not _drnn drnn (auton ääni)_.

[2022-03-25 10:18] HenryMehta commented on #232
I need the field column in the _field.csv file to match with the item column in [finish_ws].csv to match with column title in _data.csv.

If they don't match, the upload will not work

[2022-03-25 10:22] jflanaga commented on #232
Yeah, I'm sure they need to match. I didn't think of the spreadsheet with the words/categories/etc. being finished yet (there's still Finnish in there). I can make whatever changes people want (i.e, add Finnish clarifying text to the data), but I'm not sure whether that is wanted. I probably should have clarified that the one spreadsheet with the metadata wasn't entirely ready yet.

[2022-03-25 10:23] HenryMehta commented on #232
ok

[2022-03-25 11:01] HenryMehta commented on #224
@alvinwmtan

I hope I've understood this correctly.  I've created a new Hebrew instrument called WS_b (numbers get stripped out).
I've loaded the data above.

I need contributor and citation to add to the dataset if available

[2022-03-25 11:09] HenryMehta commented on #215
@alvinwmtan I'm getting ready to look at this dataset next - have you already done the work to create the _data, )value and _field files?  I just don't want to duplicate effort

[2022-03-25 11:27] HenryMehta commented on #240
This is the data as a csv file

[output.csv](https://github.com/langcog/wordbank/files/8349988/output.csv)

[2022-03-25 11:43] HenryMehta commented on #240
Actually, I don't think this can be the data because it is only the child info rather than the administration responses

[2022-03-25 12:15] jflanaga commented on #232
@HenryMehta The values for the sex/gender category aren't correct in the file you sent. In this data, `0` = male, `1` = female. The values you have for word is `NA` for `0`.  In the SPSS file, `0` is coded as "ei" (no) anad 1 as "kyllä" (yes) . The variable label is about "produces", so maybe `0` should be "does not produce"?  Or was there a general decision to treat them as NAs (I guess it doesn'

[2022-03-25 13:13] jflanaga commented on #232
@HenryMehta @vmarchman @alvinwmtan

I'm not sure if you need/want this, but here's a spreadsheet containing the categories that are found in the Finnish WS, the categories from the 1993 WS (based upon Fenson et. al. Variability in Early Communicative Development) and the categories that are currently in wordbank for American English. The Finnish versions of WS seems like it was an adaption of the

[2022-03-25 14:21] vmarchman commented on #232
Not sure where we are at, but yes, the scores for "produces" should be 1 =
yes, and 0 = no.  the scores should be the sum of all "yes" responses.

On Fri, Mar 25, 2022 at 5:15 AM Joseph Flanagan ***@***.***>
wrote:

[2022-03-25 15:17] jflanaga commented on #232
@vmarchman @HenryMehta @alvinwmtan
The weekend is about to start here so I'll just wrap some things on my end. Here is what I think we still have to decide.

1. The original data had English words as variable names and Finnish as the variable labels. I reshaped the data so that Finnish words are now the variables. The English glosses are now separate from the data. I imagine the glosses exist in a

[2022-03-28 06:39] HenryMehta commented on #226
@alvinwmtan Null has now been enabled and these files are loaded and available to check

[2022-03-28 10:23] HenryMehta commented on #241
This file is the data converted into a data file we can use

[asl_Caselli_cdi1_data.csv](https://github.com/langcog/wordbank/files/8361811/asl_Caselli_cdi1_data.csv)

[2022-03-28 10:36] HenryMehta commented on #241
This is form definition file - I do not know what uni-lemmas or gloss to use so would be helpful if someone could edit
[[asl_cdi2].csv](https://github.com/langcog/wordbank/files/8361910/asl_cdi2.csv)

[2022-03-28 10:55] HenryMehta commented on #241
this is the fields file

[asl_Caselli_cdi2_fields.csv](https://github.com/langcog/wordbank/files/8362036/asl_Caselli_cdi2_fields.csv)

[2022-03-28 11:17] HenryMehta commented on #241
And here is the values file.  I shall try loading these tomorrow so if anyone fancies checking them today that would be great

[asl_Caselli_cdi2_values.csv](https://github.com/langcog/wordbank/files/8362156/asl_Caselli_cdi2_values.csv)

[2022-03-28 18:52] alvinwmtan commented on #232
@HenryMehta @jflanaga Thanks for working on this; apologies for not replying sooner as I was away for the weekend.

It might be helpful for me to provide some higher-level context for @jflanaga. Data handling for Wordbank can largely be divided into two halves: 1. form specification and 2. data import.

1. For new forms (e.g. Finnish), we draw up a form specification which contains things like the

[2022-03-28 18:59] alvinwmtan commented on #232
On specific issues with Finnish, child 29 should be male to match with the demographic information in the provided paper. I've changed this in the data file, but perhaps we should double-check with the source to make sure it's correct (@vmarchman)?

Otherwise, I've tidied the WS long and short forms, and reordered the variables according to the Google Spreadsheet order. The files are here:
[[Finni

[2022-03-28 19:07] alvinwmtan commented on #224
@HenryMehta I was thinking of merging the two Hebrew WS instruments actually, such that the existing dataset just has NAs for all the new items that were added (and the new dataset has NAs for some of the old items which were omitted). Does that make sense?

Contributor: Sharon Armon-Lotem
Citation: Armon-Lotem, S. & Ohana, O. (2017). A CDI study of bilingual English-Hebrew children: Frequency of

[2022-03-28 19:44] mcfrank commented on #224
I think that’s a good move!
--
Mike

[2022-03-29 06:05] HenryMehta commented on #224
ok - that's done.  Moved to Hebrew WS and citations added

[2022-03-29 06:44] HenryMehta commented on #232
@alvinwmtan the definition files don't contain a choices column, which I need, although I note only produces is given in the values files.  So I'm going to progress on assumption that all data are produces or doesn't produce

[2022-03-29 07:46] HenryMehta commented on #232
@alvinwmtan @jflanaga This is now deployed to the Wordbank2 environment

Joe, this is an upgrade that is underway so will not show in Wordbank.stanford.edu just yet

[2022-03-29 08:43] HenryMehta commented on #241
@mcfrank I've now deployed this to wordbank2 if anyone would like to check over the data

[2022-03-29 10:55] HenryMehta commented on #215
@alvinwmtan
I have started loadingd the Swingley data.  Study2, Study3 and Study 4 are loaded.

Teach3 and Xeno both have several administrations without an age.  What would you like me to use there?

With the Xeno study, all the data within the niets column were different.  I simply deleted the data for the load.  Let me know if I should be doing something else.

[2022-03-29 14:58] alvinwmtan commented on #232
@HenryMehta Yup, "produces;doesn't produce" is correct. Thank you!

[2022-03-29 16:11] HenryMehta commented on #215
@alvinwmtan Both are now loaded to dev

[2022-03-29 16:42] HenryMehta commented on #215
@alvinwmtan For the CDI_all_data_finished there are a number of different forms in the column, but we have responses for all so do I simply do a single combined form of all the data?

[2022-03-29 17:21] alvinwmtan commented on #215
@HenryMehta We should have different forms (WS, WG, 1, 2A, 2B, 3). Each form should be the set of all items that have a non-NA response in _any_ administration marked with that form.

I've put together a CSV with all the items here:
[dutch_unilemmas.csv](https://github.com/langcog/wordbank/files/8373608/dutch_unilemmas.csv)

Alternatively, if the form specs are more helpful, these are available he

[2022-03-30 06:27] HenryMehta commented on #215
@Cielke-Hendriks
Hi Cielke, I wonder if you can help.  I am looking at the CDI_all_data_finished.csv file.  We don't have IDs for the administrations so I don't know if each administration is for a different child.  But we do have a Longitudinal_id.  Does the Longitudinal_id correspond to one child and those without the Longitudinal_id are single administrations for a single child.
Thanks in advan

[2022-03-30 06:50] HenryMehta commented on #215
@alvinwmtan I'm working on the Dutch_WS as per the file you gave above.  I'm having trouble with this because your data doesn't match with the datasets given.  For example, you've got vroem and broem as separate words but the dataset has them as one vroem/broem(auto).

I don't know how I should be handling this

[2022-03-30 08:14] Cielke-Hendriks commented on #215
@HenryMehta
Hi Henry. Yes, you are correct. When there is no longitudinal_id, it is just a single administration for a single child. When there is a longitudinal_id, it means that child can have multiple administrations in this file. It is, however, not always the case that a child with a longitudinal_id has multiple administrations in this file (if they for example dropped out of the study and we

[2022-03-30 15:52] alvinwmtan commented on #215
@HenryMehta I think it's the Swingley CDI that has `vroem` and `broem` separate; the `[Dutch_WS].csv` file should have `vroem/broem(auto)` as a single item? Unless I've mistaken what you meant?

[2022-03-30 16:15] HenryMehta commented on #215
@alvinwmtan I used the [Dutch_WS].csv above.  This has them as single items

[2022-03-30 16:20] HenryMehta commented on #215
Sorry, I must have done something really stupid, like copying the Swingley file across and renaming it or something - really sorry

[2022-03-30 16:21] alvinwmtan commented on #215
No worries, all good (:

[2022-03-31 08:09] HenryMehta commented on #215
@alvinwmtan Dutch_WG has column `tandjespoetsen` with values `no` and `yes`.

[2022-03-31 11:56] HenryMehta commented on #215
@alvinwmtan I have now deployed all the Dutch data

[2022-04-01 05:51] HenryMehta commented on #239
@mcfrank You can just take manual snapshots of an RDS database and store them as snapshots in the RDS area.  They are easy to recover to a new RDS database from there

[2022-04-01 06:20] HenryMehta opened #243 "Hungarian WS in Master but not Wordbank2"
Today I merged master into Wordbank2 to ensure Wordbank2 is up to date.

This created an Hungarian_WS dataset within raw_data, but it doesn't seem to have ever been made into tables or the dataset added.
I've added the dataset to Wordbank2 and I shall now attempt to load the data

[2022-04-01 08:10] HenryMehta commented on #243
@JMankewitz @alvinwmtan
I've now loaded this data into Wordbank2

[2022-04-04 19:01] alvinwmtan commented on #216
Hi @HenryMehta, apologies as I've made a mistake in the values files. The WS files should have `1` as `produces` for `type == word`, and no `2` values. Sorry about this.

[2022-04-04 20:35] alvinwmtan commented on #226
Hi @HenryMehta, apologies as I made a typo error in the Spanish fields file (had duplicate `item_103` instead of one `item_102` and one `item_103`)
[SpanishMexicanWS_Hoff_fields.csv](https://github.com/langcog/wordbank/files/8413022/SpanishMexicanWS_Hoff_fields.csv)

[2022-04-04 20:41] alvinwmtan commented on #207
@HenryMehta Data checked from R; this dataset is good to go!

[2022-04-04 20:50] alvinwmtan commented on #224
@HenryMehta Data checked from R; this dataset is good to go!

[2022-04-05 07:07] HenryMehta commented on #226
@alvinwmtan fix deployed

[2022-04-05 07:45] HenryMehta commented on #216
@alvinwmtan
The French WS data file has one cell with a 2 in it (in the salle de bain column).  I've set both 1 and 2 to produces.  Let me know if this is wrong

Now deployed

[2022-04-05 23:47] alvinwmtan commented on #216
@HenryMehta I think 2 to NA is probably more "correct"

[2022-04-05 23:53] alvinwmtan commented on #226
@HenryMehta Pulling from R seems to not reflect the change—and now the English WS seems to only pull from the HDPM dataset, and not the R01 one? Not sure what might be the cause.

[2022-04-06 06:29] HenryMehta commented on #216
@alvinwmtan ok - amended and deployed

[2022-04-06 06:54] HenryMehta commented on #226
@alvinwmtan I found an error in the R01 dataset which I didn't notice yesterday.  I've amended and deployed

[2022-04-06 07:33] HenryMehta commented on #226
@alvinwmtan I cannot find anything wrong with HDPM so I am reloading it.  I wonder if I thought I had done it but hadn't.

[2022-04-07 14:40] vmarchman commented on #228
@HenryMehta @alvinwmtan Here are the glosses from Mariela.
[Spanish_Argentinian_WS_april6_22.xlsx](https://github.com/langcog/wordbank/files/8443929/Spanish_Argentinian_WS_april6_22.xlsx)

[2022-04-07 14:40] vmarchman commented on #228
Also - this is WS, so 1 = produces 0 = does not produce

[2022-04-07 16:31] mcfrank opened #244 "add documentation page to website"
we can move content from the sidebar of the about page, including wordbankr tutorial, github links to wordbank and wordbankr, and add the unilemma policy as a subpage (plaintext): https://docs.google.com/document/d/1XfH5HQ61xj_tntzdwC4Md1FvLF-wwfpVMGVWtpOwylM/edit

[2022-04-07 16:37] mcfrank commented on #244
maybe it should look like this: https://langcog.github.io/peekbank-website/docs/documentation/

with the first section being "Getting data from wordbank using wordbankr" and some text and then the second section being "cross linguistic mappings" and some text and a link to the policy?

[2022-04-07 20:48] alvinwmtan commented on #226
@HenryMehta Sorry Henry, it seems like both English and Spanish (Mexican) now only have the HDPM dataset. Would it be easier if I combined the `data` files so there's only one file for each language?

[2022-04-07 20:50] alvinwmtan commented on #216
@HenryMehta Great, I've just checked in R and this dataset is good to go!

[2022-04-07 20:56] alvinwmtan commented on #243
@HenryMehta Pulled from R; looks good to go

[2022-04-07 21:01] alvinwmtan commented on #241
Hi @HenryMehta, I'm getting this error:
[code]
Is the table called something else in wordbank2?

[2022-04-07 21:43] alvinwmtan commented on #215
@HenryMehta Some issues:
- For the Swingley datasets, three items weren't correctly imported: `item_271`, `item_299`, and `item_381`. I have no idea why this might be the case, but wordbank2 has 0s for all of them, whereas the raw files have non-zero values.
- Dutch WG has issues with `item_250`, `item_279`, and `item_400`: wordbank2 again has 0, whereas the raw files have non-zero values
- Dutch

[2022-04-07 21:44] mikabr opened #245 "cache vocabulary sizes"
for the datasets in wordbank2, vocabulary sizes need to be cached in the administrations table using the django command [`populate_vocabulary_size`](https://github.com/langcog/wordbank/blob/master/common/management/commands/populate_vocabulary_size.py) ([see here](https://github.com/langcog/wordbank/wiki/How-to-import-a-new-instrument-and-dataset))
@HenryMehta

[2022-04-08 05:46] HenryMehta commented on #241
It is called

`wordbank.instruments_american_sign_language_cdi`

[2022-04-08 06:10] HenryMehta commented on #226
@alvinwmtan @mikabr

ok - I've worked out the issue.  At the moment we do not use the `dataset['dataset']` field in the `dataset.json` file if we have a `dataset_origin` field.

I would like to add this field to the `dataset` table which I'll then be able to use to distinguish different datasets with the same instrument and same `dataset_origin`.

Can you confirm this is ok and will not cause an i

[2022-04-08 07:01] HenryMehta commented on #215
When I run SQL against the database directly, `item_271`, `item_299` and `item_381` all have non-zero values
I've also got data in the WG fields.  I have rerun the WG files with `yes` replaced by `understands` and `no` replaced by `''`

[2022-04-08 09:10] HenryMehta commented on #215
When I run SQL against the database directly, `item_271`, `item_299` and `item_381` all have non-zero values
I've also got data in the WG fields.  I have rerun the WG files with `yes` replaced by `understands` and `no` replaced by `''`

[2022-04-08 09:11] HenryMehta commented on #245
@mikabr done

[2022-04-08 16:58] HenryMehta commented on #228
@vmarchman @alvinwmtan Deploy and ready to check

[2022-04-08 17:38] alvinwmtan commented on #241
@HenryMehta Would it be possible to rename the table `wordbank.instruments_american_sign_language_cdi2`? We currently make assumptions about what the instrument table is called that are broken by this mismatch

[2022-04-08 17:59] alvinwmtan commented on #215
@HenryMehta Okay a bit more rummaging around the database reveals:

- Dutch Swingley
  - `item_271` contains `understa` and `produces`
  - `item_299` contains `unders` and `produc`
  - `item_381` contains `underst` and `produce`
  - all other items contain `understands` and `produces`.

- Dutch WG
  - `item_250` and `item_279` have `yes` and `no`
  - `item_400` has `unde` instead of `understands`

[2022-04-08 18:27] HenryMehta commented on #241
@alvinwmtan I've amended to `wordbank.instruments_american_sign_language_cditwo` and amended the form to `CDITwo`.  If I didn't do both Django would revert it to CDI (it won't use number in the table names) when we add a new form or language.

I've not reloaded anything else.  I think it should work but I might need to delete and reload the existing datasets

[2022-04-08 18:40] HenryMehta commented on #215
@alvinwmtan Something strange - the shortened entries made me take a look at the model files produce from the 02_create_instrument script and it produced fields too small to hold the whole word.  I've corrected for Swinley and I'm reloading now.

But the WG file is very strange.  It should have rows like: `item_399_choices = [('understands', 'understands'), ('produces', 'produces')]`
But has rows

[2022-04-08 18:51] HenryMehta commented on #215
Although I think the issue causing the model files to be generated incorrectly for the items above is the [].csv file provides the choices as `understands;produces` but a space is needed so it should be `understands; produces`

[2022-04-08 18:55] HenryMehta commented on #215
And the shortened fields appear to be when an entry has a comma between quotes so things are being thrown off.  For example
`item_299,"fair, fancy fair",kermis,kermis,understands; produces,"fair, fancy fair",word,` is being split into the fields:

- item_299
- "fair
- fancy fair"
- kermis
- kermis
- understands; produces
- "fair
- fancy fair"
- word

Whereas it should be :

- item_299
- "fair, fan

[2022-04-08 20:11] alvinwmtan opened #246 "Incorrect values for some instruments"
Following up from #215, some instruments have incorrect, truncated values. These are as follows:

- English (American) WS: `understa`
- French (Quebecois) WS: `understa`
- Russian WG: `understan`
- Spanish (Mexican) WS: `not`, `som` (probably `not yet` and `sometimes`)
- Dutch Swingley: `understa`, `underst`, `unders`, `produce`, `produc`
- Dutch WG: `unde`
- Dutch FormThree: `prod`
- Spanish (Arg

[2022-04-09 05:32] HenryMehta commented on #246
@alvinwmtan @mikabr @mcfrank @vmarchman

There is some specification within the original coding of Wordbank which is causing some (and I think the majority) of these issues.  It is in the application of the language specification file (eg `[English_WS].csv`.

I shall used English (American) WS to walk through it.

Most items within `[English_WS].csv` are defined as having `choices` of `produces`.

[2022-04-11 10:38] HenryMehta commented on #246
I have corrected the program and rerun the Dutch and Spanish Argentinian.  They should be ok now.

The database specification for Irish and English Irish were wrong and have been corrected.

Slovak WG had 'never ' within the values file.  I have amended and reloaded.  It should be ok now

French Quecois WS had NA within the values file.  I have amended to blank ('') and reloaded

These three issue

[2022-04-11 19:32] alvinwmtan commented on #246
@HenryMehta I think the best theoretical solution is to ignore choice definitions within `[language].csv`. This is because researchers sometimes use forms in somewhat non-standard ways (e.g. recording "understands" on WS forms from a population that is not typically developing), so we should honour the `xxx_values.csv` instead.

[2022-04-11 19:36] alvinwmtan commented on #241
@HenryMehta I can't seem to pull the table from R

[2022-04-12 06:55] HenryMehta commented on #241
I can see the database table in the database so I don't know why you cannot pull it

![image](https://user-images.githubusercontent.com/10542767/162898856-331bc472-5c44-4bf3-b055-9226242e64fd.png)

[2022-04-13 05:39] HenryMehta commented on #215
@alvinwmtan I believe this now sorted

[2022-04-15 23:11] alvinwmtan commented on #241
@HenryMehta Okay I can actually pull from this table; I think the issue is that the administrations table doesn't contain any administrations for this instrument (no entries with `instrument_id == 74`)

[2022-04-15 23:12] alvinwmtan commented on #226
@HenryMehta Yup this should be okay

[2022-04-15 23:19] alvinwmtan commented on #215
@HenryMehta Yup, this dataset looks good pulled from R!

[2022-04-15 23:27] alvinwmtan commented on #228
@HenryMehta Data pulled in R and okay, although there is a typo in the `dataset_name` and `dataset_origin_name`: it should be Re**s**ches not Reches.

[2022-04-16 08:13] HenryMehta commented on #228
@alvinwmtan I'm not going to change that now because it will then try and load it twice

[2022-04-16 08:38] HenryMehta commented on #241
@alvinwmtan ok - that should be sorted now.  I needed to reload the data

[2022-04-17 05:00] alvinwmtan commented on #241
Hi @HenryMehta, the instrument table now contains 3 sets of (what I suppose is supposed to be) the same data, and the set that corresponds to the data_ids in the administrations table only has blanks for value (which is wrong). We may need to delete the entire instrument table and reload this data.

[2022-04-18 07:23] HenryMehta commented on #241
@alvinwmtan
I only see ASL CDITwo once in the instrument table, as id 74 and I see the administrations linked to it so I don't understand what you're meaning.

If I delete the whole instrument (I assume you mean `common_instrument`) table then I would need to delete the whole database and start again.  But I now realised you might mean `instuments_american_sign_languages_cditwo`   Is that what you

[2022-04-18 16:06] alvinwmtan commented on #241
@HenryMehta Yup I meant `instruments_american_sign_languages_cditwo` (which is the table that seems to have 3 times of the same dataset). Hopefully that's not too much of a hassle

[2022-04-18 16:07] HenryMehta commented on #241
ok - will do it now

[2022-04-18 16:23] HenryMehta commented on #241
@alvinwmtan try now

[2022-04-18 17:24] HenryMehta commented on #241
@alvinwmtan done

[2022-04-18 17:25] alvinwmtan commented on #241
@HenryMehta perfect, have pulled it from R and it looks good!

[2022-04-21 16:36] alvinwmtan commented on #228
@HenryMehta would it be possible to delete the instrument table and reload? I think it's probably quite important to spell the name of the contributor correctly

[2022-04-21 18:55] HenryMehta commented on #228
@alvinwmtan I think that is now done.

[2022-04-21 18:56] HenryMehta commented on #241
@alvinwmtan could you quickly check this again.  I found something strange when sorting the Resches and fixed what I found at the same time.  I just to to make sure I didn't cause a different issue

[2022-04-21 19:03] alvinwmtan commented on #228
@HenryMehta looks good now, thanks!

[2022-04-21 19:09] alvinwmtan commented on #241
@HenryMehta the instrument table is present, but the dataset is missing from `common_dataset` and the administrations are missing from `common_administration`

[2022-04-21 19:10] HenryMehta commented on #241
ok - I'm in Greece at the moment so I'll pick up at some point tomorrow

[2022-04-22 00:39] alvinwmtan commented on #233
I've tidied all the data into the correct specs; this should be loadable now:

[[Spanish_Chilean_WG].csv](https://github.com/langcog/wordbank/files/8535891/Spanish_Chilean_WG.csv)
[SpanishChileanWG_Navarro_Pilot_data.csv](https://github.com/langcog/wordbank/files/8535892/SpanishChileanWG_Navarro_Pilot_data.csv)
[SpanishChileanWG_Navarro_Pilot_fields.csv](https://github.com/langcog/wordbank/files/8

[2022-04-22 06:29] HenryMehta commented on #241
@alvinwmtan that should be sorted now

[2022-04-22 06:33] alvinwmtan commented on #241
@HenryMehta all good now!

[2022-04-22 17:51] alvinwmtan commented on #237
Tidied files:
[[Spanish_Peruvian_WG].csv](https://github.com/langcog/wordbank/files/8542940/Spanish_Peruvian_WG.csv)
[[Spanish_Peruvian_WS].csv](https://github.com/langcog/wordbank/files/8542941/Spanish_Peruvian_WS.csv)
[SpanishPeruvianWG_Blume_data.csv](https://github.com/langcog/wordbank/files/8542942/SpanishPeruvianWG_Blume_data.csv)
[SpanishPeruvianWG_Blume_fields.csv](https://github.com/langc

[2022-04-22 19:10] alvinwmtan commented on #228
@HenryMehta really sorry about this, but I was taking a look at the raw data for this and noticed that the form had some sentence complexity items at the end that were being coded as words. I've now corrected this and reformatted the files:

[[Spanish_Argentinian_WS].csv](https://github.com/langcog/wordbank/files/8543431/Spanish_Argentinian_WS.csv)
[Spanish_Argentinian_WS_Resches_data.csv](https:/

[2022-04-24 23:41] mcfrank commented on #240
oops - we need to get the scans rekeyed!
https://drive.google.com/drive/u/1/folders/1l3ZBAAu1UxeWHvg5kuMuV_903VCLXpy-

[2022-04-25 03:39] alvinwmtan commented on #201
files cleaned for import:
[CantoneseWS_Nazzi_data.csv](https://github.com/langcog/wordbank/files/8551429/CantoneseWS_Nazzi_data.csv)
[CantoneseWS_Nazzi_fields.csv](https://github.com/langcog/wordbank/files/8551430/CantoneseWS_Nazzi_fields.csv)
[CantoneseWS_Nazzi_values.csv](https://github.com/langcog/wordbank/files/8551431/CantoneseWS_Nazzi_values.csv)

[2022-04-25 11:19] HenryMehta commented on #233
@alvinwmtan

`chocale` is used twice.  item_266 and item_472 within the `[Spanish_Chilean_WG].csv` file and twice in the `_data.csv` file so when I try and load the data it is only recognising the first item and a response of `no` causes a crash

[2022-04-25 11:36] HenryMehta commented on #237
What does this mean for the licence field?  All licenses seem to be `CC-BY`

[2022-04-25 13:56] HenryMehta commented on #237
@alvinwmtan these are now loaded

[2022-04-25 14:58] alvinwmtan commented on #237
I believe it's [CC-BY-NC](https://creativecommons.org/licenses/by-nc/4.0/)

[2022-04-25 16:27] HenryMehta commented on #233
@alvinwmtan deployed just now.  I had to change the fields file to use the categories rather than always looking up on 'word'

[2022-04-25 18:16] alvinwmtan commented on #237
@HenryMehta looks good from R!

[2022-04-25 18:16] alvinwmtan commented on #201
@HenryMehta looks good from R!

[2022-04-25 18:41] alvinwmtan commented on #233
@HenryMehta sorry, found a few more duplicate items which are now disambiguated

[[Spanish_Chilean_WG].csv](https://github.com/langcog/wordbank/files/8557124/Spanish_Chilean_WG.csv)
[SpanishChileanWG_Navarro_Pilot_data.csv](https://github.com/langcog/wordbank/files/8557125/SpanishChileanWG_Navarro_Pilot_data.csv)
[SpanishChileanWG_Navarro_Pilot_fields.csv](https://github.com/langcog/wordbank/files

[2022-04-26 06:00] HenryMehta commented on #233
@alvinwmtan deployed

[2022-04-26 18:29] alvinwmtan commented on #233
@HenryMehta great, all good from R!

[2022-04-28 16:04] vmarchman opened #247 "Add Edgin special population data"
Import data for special populations from Edgin lab.
[EdginLab_DemographicData_WordBank.csv](https://github.com/langcog/wordbank/files/8584387/EdginLab_DemographicData_WordBank.csv)
[EdginLab_WG.csv](https://github.com/langcog/wordbank/files/8584388/EdginLab_WG.csv)
[EdginLab_WS.csv](https://github.com/langcog/wordbank/files/8584390/EdginLab_WS.csv)

@alvinwmtan Could you help make sure that files

[2022-04-28 16:09] vmarchman opened #248 "import data from TrevorDay lab"
Import data from Ellison Trevor Day lab

[dsa_demo_WB.csv](https://github.com/langcog/wordbank/files/8584450/dsa_demo_WB.csv)

@alvinwmtan will send data by email to get ready for import

[2022-04-28 17:12] vmarchman opened #249 "import Focus Foundation data"
@alvinwmtan Here are the data from the Focus Foundation
[FocusFoundation_W&G_deidentified_180228.xlsx](https://github.com/langcog/wordbank/files/8584899/FocusFoundation_W.G_deidentified_180228.xlsx)
[FocusFoundation_W&S_deidentified_180228.xlsx](https://github.com/langcog/wordbank/files/8584901/FocusFoundation_W.S_deidentified_180228.xlsx)

[2022-04-28 17:19] vmarchman opened #250 "import AdamsonBakeman Data"
@alvinwmtan Here's some more data from Adamson Bakeman lab.  Note that these excel files have separate sheets within each file.

[AdamsonBakeman.csv](https://github.com/langcog/wordbank/files/8584932/AdamsonBakeman.csv)
[CDI CS Marchman.xlsx](https://github.com/langcog/wordbank/files/8584933/CDI.CS.Marchman.xlsx)
[CDI renorm Long Set.xlsx](https://github.com/langcog/wordbank/files/8584934/CDI.reno

[2022-05-06 19:00] vmarchman commented on #232
Ok - I don't know how much this is going to set us back, but Suvi Stolt has confirmed these data are only production (even though there is comprehension data available for the WG forms, but they are not in these files).   To be honest, I'm not sure how much more tweaking she has done with the files, so I think it's best to start over with these new files.

@alvinwmtan after Monday, can you do your

[2022-05-17 20:53] alvinwmtan commented on #192
Hi @HenryMehta, could I check if this is ready to load / has been loaded?

[2022-05-18 15:22] HenryMehta commented on #192
@alvinwmtan No, I did the work to implement it a couple of years ago, but no one checked or tested it and it looks like the data is gone - I cannot find it in any branch on GitHub

[2022-05-19 16:16] mcfrank opened #251 "Floccia bilingual data"
Datafile contains
[wordbank data.xlsx](https://github.com/langcog/wordbank/files/8732059/wordbank.data.xlsx)

Contains data on bilinguals for 100 word oxford CDI  (production/comprehension) plus 30 words across various languages.

probably needs some codebook support on momed and other fields (or we can try to back this out of the monograph)

[2022-05-19 16:17] mcfrank commented on #251
Our decision is to import JUST the oxford CDI words (not the 30 extra words) and to mark the language background appropriately for these kids. @kachergis might just use the 30 extras for swadesh validation.

[2022-05-19 16:27] mcfrank commented on #192
holding off because it's short forms

[2022-05-19 16:37] mcfrank commented on #185
Citation:

Kazemi, Y., Afsharian, E., Mirzaei, B., Baghbani, M., Sademinejad, M., & Gheleyempour, L. (2007). Children's communication checklist: The study of persian children. Iranian Journal of Research in Rehabilitation Sciences, 2(3), 1-5.
 

[2022-05-19 16:48] mcfrank commented on #239
@JMankewitz will add the documentation via a PR

[2022-05-19 16:51] mcfrank commented on #247
Edgin, J. O., Tooley, U., Demara, B., Nyhuis, C., Anand, P., & Spanò, G. (2015). Sleep disturbance and expressive language development in preschool‐age children with Down syndrome. Child Development, 86(6), 1984-1998.

[2022-05-19 16:51] mcfrank commented on #249
The contribution should be cited under The Focus Foundation, which is based in Maryland. Please let me know if you need additional information

[2022-05-19 16:51] #179 closed

[2022-05-19 20:14] vmarchman commented on #228
Here's the citation for the Argentine Spanish WS @alvinwmtan

Resches, M., Querejeta, M., Kohan Cortada, A., & Laguens, A. (2021). Adaptación y normativización del Inventario del Desarrollo Comunicativo MacArthur-Bates (CDI-Forma II) al español rioplatense [Adaptation and standardization of the MacArthur-Bates Communicative Development Inventory (CDI-Form II) to River Plate Spanish]. Revista Ibero

[2022-05-19 22:51] alvinwmtan commented on #232
@HenryMehta Hi Henry, some updates on Finnish:

1. Please remove the old Finnish data; the updated data files are here:
[FinnishWS_Stolt_data.csv](https://github.com/langcog/wordbank/files/8734621/FinnishWS_Stolt_data.csv)
[FinnishWS_Stolt_fields.csv](https://github.com/langcog/wordbank/files/8734622/FinnishWS_Stolt_fields.csv)
[FinnishWS_Stolt_values.csv](https://github.com/langcog/wordbank/files

[2022-05-19 22:52] alvinwmtan opened #252 "Finnish data"
From #232 – data to look at in the future:

[Finnish.Long.form.versions.of.the.CDI_.WG._.at.12.and.at.15.months.of.age._.Expressive.words.csv](https://github.com/langcog/wordbank/files/8734629/Finnish.Long.form.versions.of.the.CDI_.WG._.at.12.and.at.15.months.of.age._.Expressive.words.csv)
[Finnish.Short.form.versions.of.the.CDI._.Toddler.version._.at.18.and.at.24.months._.Expressive.words.csv](ht

[2022-05-19 23:13] alvinwmtan commented on #185
@HenryMehta cleaned data files:
[[Persian_WG].csv](https://github.com/langcog/wordbank/files/8734676/Persian_WG.csv)
[PersianWG_Kazemi_data.csv](https://github.com/langcog/wordbank/files/8734677/PersianWG_Kazemi_data.csv)
[PersianWG_Kazemi_fields.csv](https://github.com/langcog/wordbank/files/8734678/PersianWG_Kazemi_fields.csv)
[PersianWG_Kazemi_values.csv](https://github.com/langcog/wordbank/fil

[2022-05-20 07:55] HenryMehta commented on #232
@alvinwmtan
1. Loaded
2. I've deleted every except for the table `instrument_finnish_ws_short`, although I have deleted the data in it.  I've left the table itself because removing it will cause Django issues since we've had other database changes since it was created
3. ok

[2022-05-20 10:00] HenryMehta commented on #185
**Persian WS**
There is a data value of 10 in column h.e8.  I added `word,,10` to the `_values` file to manage it.  If you want produces, let me know.

Administration id 46 has no age so I set it to the file average of 24.64

**Persian WG**
There is a data value of 10 in column e12.  I added `word,,10` to the `_values` file to manage it.  If you want produces, let me know.

There is a data value o

[2022-05-20 10:38] #245 closed

[2022-05-20 14:47] alvinwmtan commented on #185
@HenryMehta thanks for catching the erroneous values; `word,,10` is correct.

Also, sorry about the misspecification in Persian_WG; I'll upload a new form spec with the corrected values (it should have items all through `item_433`, but I accidentally left these out of the form)

[2022-05-20 15:07] alvinwmtan commented on #185
@HenryMehta Here is the corrected form file and the new values file (to cover the new items). Data and fields files should be the same as before.
[[Persian_WG].csv](https://github.com/langcog/wordbank/files/8741207/Persian_WG.csv)
[PersianWG_Kazemi_values.csv](https://github.com/langcog/wordbank/files/8741216/PersianWG_Kazemi_values.csv)

[2022-05-21 08:15] HenryMehta commented on #185
@alvinwmtan Loaded

[2022-05-26 16:57] mcfrank opened #253 ""population" tab"
can you remove this from wordbank 2?

thanks!

[2022-05-26 17:00] mcfrank opened #254 ""publications" page"
please remove this page as well.

[2022-05-26 17:03] mcfrank opened #255 ""about" page updates"
@JMankewitz
we would like to have a papers section with:
- JCL paper
- wordbank book
- abdellah networks paper
- mika Open Mind
- CDI bias paper
- CAT paper
- standard model
- eva cogsci paper

we need to add others to the team. remove alums/team distinction and have site contributors:
- include: george, alvin, jess, benny demayo

[2022-05-27 10:56] HenryMehta commented on #253
@mcfrank @JMankewitz deploying to dev now

[2022-05-27 10:57] HenryMehta commented on #254
@mcfrank @JMankewitz deploying to dev now

[2022-05-27 10:58] HenryMehta commented on #255
@mcfrank I'm not clear what you're asking me to do here.  Is @JMankewitz going to give me contents for me to develop page?

[2022-05-30 22:54] mcfrank commented on #226
@alvinwmtan

The ethnicity code is

1 = African American
2 = Hispanic White
3 = Hispanic African
4 = European American
5 = Asian
6 = Other

The HDPM subject numbers are published in Hoff et al. 2012:

Hoff, E., Core, C., Place, S., Rumiche, R., Señor, M., & Parra, M. (2012). Dual language exposure and early bilingual development. Journal of child language, 39(1), 1-27.

The R01 subject numbers are

[2022-05-30 22:57] mcfrank commented on #226
@alvinwmtan

The ethnicity code is

1 = African American
2 = Hispanic White
3 = Hispanic African
4 = European American
5 = Asian
6 = Other

The HDPM subject numbers are published in Hoff et al. 2012:

Hoff, E., Core, C., Place, S., Rumiche, R., Señor, M., & Parra, M. (2012). Dual language exposure and early bilingual development. Journal of child language, 39(1), 1-27.

The R01 subject numbers are

[2022-06-01 23:33] kachergis opened #256 "French WG item issues?"
Looks possible that the French WG has has some duplicated items.

1: aïe (sounds), aïe (body part), and aïe bobo (body part) are all on the WG (items 36, 147, and 581). (Only aïe bobo (body part) appears on the WS.) VonHolzen WG has items 36 and 147; Bermann WG has items 36 and 581, but not 147 -- so it seems 581 and 147 (aïe (body part), and aïe bobo (body part)) should be combined

2: dent (body

[2022-06-01 23:50] kachergis commented on #256
"finir recevoir" is not the only combined item in FrenchFrenchWG_Bergmann_fields.csv -- see also item_747 "donner aller", item_757 "aller bien avec", and possibly more -- maybe a delimiter issue?

[2022-06-03 22:09] kachergis commented on #256
after emailing with Cecile Crimon from Sho's lab, Christina Bergmann, and Katie Von Holzen, I think I know all the problems--and unfortunately can't fix all of them, at least not without Sho's lab going back through Christina's original contribution. Quick summary (will put more on the GH issue):

1. "finir recevoir" and "donner aller" are neighboring rows in the original questionnaire_vocabulaire

[2022-06-07 20:06] alvinwmtan opened #257 "Error in Kigiriama data"
In KigiriamaWG_Alcock_data.csv, sno ITS020 has age -3; should be 9.

[2022-06-08 15:31] alvinwmtan commented on #243
citations:

Kas, B., Lőrik, J., Sz. Vékony, A., K. Kasziba, H. (2010). A korai nyelvi fejlődés új vizsgálóeszköze, a MacArthur-Bates Kommunikatív Fejlődési Adattár (KOFA) bemutatása és validitási vizsgálata. Gyógypedagógiai Szemle, 38, 114-125.
http://www.epa.hu/03000/03047/00049/pdf/EPA03047_gyosze_2010_2_114-125.pdf

Kas, B., Lőrik, J., & Bertalan, R. F. (2017). A korai nyelvi‐kommunikációs fejl

[2022-06-13 22:18] alvinwmtan commented on #247
Cleaned data:
[EnglishWG_Edgin_data.csv](https://github.com/langcog/wordbank/files/8894856/EnglishWG_Edgin_data.csv)
[EnglishWG_Edgin_fields.csv](https://github.com/langcog/wordbank/files/8894857/EnglishWG_Edgin_fields.csv)
[EnglishWG_Edgin_values.csv](https://github.com/langcog/wordbank/files/8894858/EnglishWG_Edgin_values.csv)
[EnglishWG_Edgin_notes.txt](https://github.com/langcog/wordbank/files