[2022-06-13 22:20] alvinwmtan commented on #248
Contributor: Jed T. Elison
Citation: Sifre, R., Lasch, C., Fenoglio, A., Georgieff, M. K., Wolff, J. J., & Elison, J. T. (2018). Restricted, repetitive, and reciprocal social behavior in toddlers born small for gestation duration. _The Journal of Pediatrics_, _200_, 118–124.e9. https://doi.org/10.1016/j.jpeds.2018.05.003

Pending information about birth weight

[2022-06-14 20:43] alvinwmtan opened #258 "form_type needs to be populated"
The field `form_type` in the instrument table is currently empty; this needs to be populated with correct values.

[2022-06-14 22:01] alvinwmtan opened #259 "Citations in database"
Some citations haven't been updated, and some have extra question marks or Unicode issues

[2022-06-14 22:08] alvinwmtan commented on #232
[FinnishWS_Stolt_fields.csv](https://github.com/langcog/wordbank/files/8904198/FinnishWS_Stolt_fields.csv)

@HenryMehta apologies—I made a mistake in the fields file, which caused an error when importing the item "clean". This one should be correct.

[2022-06-14 22:10] alvinwmtan commented on #185
@HenryMehta pulled from R—looks good to go!

[2022-06-15 05:19] HenryMehta commented on #243
@alvinwmtan You've given me 3 citations but there is only 1 dataset so which should I use?

[2022-06-15 05:23] HenryMehta commented on #257
@alvinwmtan I have no record with sno ITS020 in that dataset

[2022-06-15 05:36] HenryMehta commented on #259
@alvinwmtan

I cannot see any unicode issues.  Can you highlight for me.

I know several citations and contributors are missing, but I don't think I was provided them with the dataset information so I don't know what to put in

[2022-06-15 06:06] HenryMehta commented on #232
[FinnishWS_Stolt_fields.csv](https://github.com/langcog/wordbank/files/8906277/FinnishWS_Stolt_fields.csv)
@alvinwmtan  I had to make some changes as per attached, this but now deployed

[2022-06-15 06:14] HenryMehta commented on #258
@alvinwmtan What should be in it?

[2022-06-15 08:54] HenryMehta commented on #247
@alvinwmtan I've deployed Edgin WG.  Let me know how that looks.  I'll get onto WS later today or later this week

[2022-06-15 14:52] alvinwmtan commented on #257
@HenryMehta It's [this record](https://github.com/langcog/wordbank/blob/wordbank2/raw_data/Kigiriama_WG/KigiriamaWG_Alcock_data.csv#L31)

[2022-06-15 21:44] mcfrank opened #260 "french citations"
new unpublished French data (for the cat @kachergis) are from:
Mireille Babineau (Department of Psychology, University of Toronto (St. George)),
Alex de Carvalho (Université Paris Cité, CNRS, LaPsyDÉ, F-75005 Paris, France)
Anne-Caroline Fievet, (LSCP (ENS, EHESS, CNRS), Département d’Etudes Cognitives, ENS - PSL Research University),
Cécile Crimon (LSCP (ENS, EHESS, CNRS), Département d’Etudes Co

[2022-06-15 23:22] alvinwmtan commented on #226
@HenryMehta it'd be great if you could update (1) the ethnicity values in the `_values.csv` and (2) the citations for these datasets

[2022-06-15 23:23] alvinwmtan commented on #233
@HenryMehta could you add this for contributor?

[2022-06-15 23:29] alvinwmtan commented on #259
@HenryMehta I've tagged you for the remaining citations in the relevant issues

When pulling from R, I see extra prepended question marks for:
- Marchman_Outreach1_English (American)_WS
- Fernald_Outreach_Spanish (Mexican)_WG
- Fernald_Outreach_Spanish (Mexican)_WS
- Pae__Korean_WS
- Pae__Korean_WG
- Bergmann__French (French)_WG
- VonHolzen__French (French)_WG
- Cadime__Portuguese (European)_WG
-

[2022-06-16 06:33] HenryMehta commented on #260
@mcfrank I'm not sure to which datasets this refers.  French datasets without a citation are

[code]

[2022-06-16 06:36] HenryMehta commented on #259
Then I think this is more likely a problem pulling into R.  If you look at the website (http://wordbank2-dev.gsffhcf4an.us-west-2.elasticbeanstalk.com/contributors), the text is coming through fine which means it is in UTF-8.

I generally find files from you are in Apple Macintosh format, rather than UTF-8.  Could that be the issue

[2022-06-16 06:41] HenryMehta commented on #243
done

[2022-06-16 06:46] HenryMehta commented on #257
@alvinwmtan sorry - I was looking at Kiswahili (for no good reason).  Re-importing with correction now

[2022-06-16 06:56] HenryMehta commented on #226
@alvinwmtan
I've done the citations.

The ethnicity values allowed in the database are
`ethnicities = (('A', 'Asian'), ('B', 'Black'), ('H', 'Hispanic'), ('W', 'White'), ('O', 'Other/Mixed'))`

I can add the items above that don't fit, or could you let me know how to map them

[2022-06-16 08:26] HenryMehta commented on #247
@alvinwmtan Edgin WS now loaded

[2022-06-16 17:51] mcfrank commented on #260
Sorry, there are new French data coming in that @kachergis has been working
on.

On Wed, Jun 15, 2022 at 11:34 PM Henry Mehta ***@***.***>
wrote:

[2022-06-23 16:58] mcfrank opened #261 "headers for shiny apps on wordbank2"
although the shiny apps on the "Analyses" page are cleaned up, when you click on a specific app, you still get a header with all the old reports etc. (tab bar). can we clean this up so the tabs are consistent with the analysis landing page?

perhaps this is pulled in from some static file by https://github.com/langcog/wordbank/blob/master/templates/analyses.html

@HenryMehta I think this should be

[2022-06-23 21:53] alvinwmtan commented on #251
Policy for short forms:
- Import as **new instrument** (avoids inaccurate renderings of children's vocabulary sizes if pulling long form), with "Short" appended to the instrument name
- `item_id`s follow long form (i.e., are not sequential in short forms)

[2022-06-23 21:54] alvinwmtan commented on #251
@HenryMehta cleaned files are here:

[[EnglishBritishOxfordShort].csv](https://github.com/langcog/wordbank/files/8971221/EnglishBritishOxfordShort.csv)
[EnglishBritishOxfordShort_Floccia_data.csv](https://github.com/langcog/wordbank/files/8971222/EnglishBritishOxfordShort_Floccia_data.csv)
[EnglishBritishOxfordShort_Floccia_fields.csv](https://github.com/langcog/wordbank/files/8971223/EnglishBriti

[2022-06-23 22:02] alvinwmtan opened #262 "Finnish WS Short Form"
Resolves Finnish WS Short data from #252, via policy from [#251](https://github.com/langcog/wordbank/issues/251#issuecomment-1164916692)

[[Finnish_WSShort].csv](https://github.com/langcog/wordbank/files/8971577/FinnishWSShort.csv)
[FinnishWSShort_Stolt_data.csv](https://github.com/langcog/wordbank/files/8971578/FinnishWSShort_Stolt_data.csv)
[FinnishWSShort_Stolt_fields.csv](https://github.com/la

[2022-06-23 22:02] alvinwmtan commented on #252
Note: WS Short Form resolved in #262; pending WG data updates

[2022-06-23 23:00] alvinwmtan commented on #192
@HenryMehta cleaned files here:

[[EnglishWGShort].csv](https://github.com/langcog/wordbank/files/8971860/EnglishWGShort.csv)
[EnglishWGShort_Walle_data.csv](https://github.com/langcog/wordbank/files/8971861/EnglishWGShort_Walle_data.csv)
[EnglishWGShort_Walle_fields.csv](https://github.com/langcog/wordbank/files/8971862/EnglishWGShort_Walle_fields.csv)
[EnglishWGShort_Walle_values.csv](https://gi

[2022-06-23 23:11] alvinwmtan commented on #258
@HenryMehta form_type data here:
[instruments.csv](https://github.com/langcog/wordbank/files/8971895/instruments.csv)
Note that this doesn't include the new short forms that are pending import, although these should straightforwardly follow their long form version

[2022-06-23 23:48] alvinwmtan opened #263 "Separate ethnicity and race fields"
Past Wordbank data contained one single ethnicity field with values:
`ethnicities = (('A', 'Asian'), ('B', 'Black'), ('H', 'Hispanic'), ('W', 'White'), ('O', 'Other/Mixed'))`

We should update this to more current definitions, which have
`ethnicity = (('H', 'Hispanic'), ('N', 'Non-Hispanic'))`
and
`race = (('A', 'Asian'), ('B', 'Black'), ('W', 'White'), ('O', 'Other/Mixed'))`

This involves:
- upd

[2022-06-23 23:50] alvinwmtan commented on #226
(see #263) ethnicity/race coding should be:
1 = African American `{ethnicity: N, race: B}`
2 = Hispanic White `{ethnicity: H, race: W}`
3 = Hispanic African `{ethnicity: H, race: B}`
4 = European American `{ethnicity: N, race: W}`
5 = Asian `{ethnicity: N, race: A}`
6 = Other `{ethnicity: N, race: O}`

[2022-07-01 16:45] HenryMehta commented on #204
@kachergis I have been working on this all day trying to understand why these are coming through a null.  I think it does in all languages when there is no data_value.  So something like `word,,` or`word,xxx,` will both create null in the database but `word,,0` which give the desired result, as long as 0 is in the cell within the data file.

We have the same issue with Byres in English American

[2022-07-01 16:55] HenryMehta commented on #204
Finally got there.  The code is written to set the value to null when the field contains the following: 'Null', '#NULL!', '', ' ', 'Missing', 'Unknown/other', '?', 'NA', '99'

I'm guessing this was done because if a cell is empty we don't know if it is deliberately empty or the value is missing.

What would you like me to do?

[2022-07-02 07:04] HenryMehta commented on #209
@kachergis updated

[2022-07-02 08:44] HenryMehta commented on #258
@alvinwmtan Done

[2022-07-02 10:07] HenryMehta commented on #193
@mcfrank @alvinwmtan
I'm not sure I've done the right action here so please confirm.

I have updated the chinese characters within [Mandarin_Beijing_WS].csv to reflect those in the spreadsheet above for items item_442 to item_465 and items item_534 to item_541.  I have then reloaded the dataset file to reflect the changes

[2022-07-02 11:08] HenryMehta commented on #262
@alvinwmtan available to test. Can you give me contributor and citation please

[2022-07-02 12:24] HenryMehta commented on #192
@alvinwmtan loaded, although we have a #value! error on item AE-236 column out.  I've simply deleted the value so will be null in database

[2022-07-02 12:45] HenryMehta commented on #251
@alvinwmtan is the form_type for OxfordShort WS or WG as defined in #258 ?

[2022-07-02 12:59] HenryMehta commented on #192
there are also 2 records with no age so I entered 19 which is the average for the dataset

[2022-07-02 14:03] HenryMehta commented on #263
@alvinwmtan I think the only way to do this is create a new field, `race`.  Existing datasets will then all need changing if they have a mixed ethnicity/race field, that is the _data.csv file will need changing, with the single column split in 2.  If it actually only holds `race` then the _values.csv file will need amending to upload to `race` instead

OR

are you saying the only possible entries

[2022-07-02 15:12] alvinwmtan commented on #263
@HenryMehta yes I think we should have a new field `race`. Existing datasets have a mixed ethnicity/race field, but the Hoff dataset as well as other incoming datasets will have separate ethnicity and race fields.

[2022-07-02 15:13] alvinwmtan commented on #262
Citation: Stolt, S. & Vehkavuori, S-M. 2018. Sanaseula. Finnish short form versions of the MacArthur Communicative Development Inventories. Jyväskylä: Niilo Mäki Instituutti.

Contributor: Suvi Stolt, University of Helsinki.

[2022-07-02 15:15] alvinwmtan commented on #193
@HenryMehta we are currently updating the unilemmas, so all of the [lang_form].csv files will be changed; I will update you as soon as possible!

[2022-07-02 15:16] alvinwmtan commented on #251
@HenryMehta it should be WG—thanks for flagging

[2022-07-02 15:18] HenryMehta commented on #263
ok - does that mean we're going back over existing datasets and changing the data files and reloading them

[2022-07-02 15:26] alvinwmtan commented on #263
yup, that's right. would you be able to work on this? it should be doable programmatically

[2022-07-02 15:30] HenryMehta commented on #263
I would want to do it by changing and reloading the datasets because if we need to rebuild at some point it means we just load the datasets.  I'll pick it up

[2022-07-05 18:19] HenryMehta commented on #251
@alvinwmtan Available to test

[2022-07-06 16:03] HenryMehta commented on #263
@alvinwmtan
I have created the relevant fields and amended the load files and applied it to Henry Test Language.  Before I start playing with datasets and splitting race from ethnicity in real data I would like confirmation this looks right at your end.

You can see the input data within the wordbank2 branch.  Could you doing whatever you do with R to confirm it is appropriate for that.
Once confi

[2022-07-12 04:00] alvinwmtan commented on #232
@HenryMehta looks good from R

[2022-07-12 04:00] alvinwmtan commented on #251
@HenryMehta looks good from R

[2022-07-12 04:00] alvinwmtan commented on #262
@HenryMehta looks good from R

[2022-07-12 04:00] alvinwmtan commented on #247
@HenryMehta looks good from R

[2022-07-12 04:00] alvinwmtan commented on #192
@HenryMehta looks good from R

[2022-07-12 04:03] alvinwmtan commented on #251
citation is: Floccia, C., Sambrook, T. D., Luche, C. D., Kwok, R., Goslin, J., White, L., Cattani, A., Sullivan, E., Abbot-Smith, K., Krott, A., Mills, D., Rowland, C., Gervain, J., Plunkett, K., Hoff, E., & Bauer, P. J. (2018). Vocabulary of 2-year-olds learning English and an additional language: Norms and effects of linguistic distance. Monographs for the Society for Research in Child Developme

[2022-07-12 04:06] alvinwmtan commented on #258
@HenryMehta looks good, thanks!

[2022-07-12 04:18] alvinwmtan commented on #204
@HenryMehta this appears to not be fixed? I'm not sure how to go about fixing it. And do you know if this affects all languages that have `word,,` in their `_values.csv` file? (I believe that quite a few have this.)

[2022-07-12 04:20] alvinwmtan commented on #253
@HenryMehta all good on dev!

[2022-07-12 04:20] alvinwmtan commented on #254
@HenryMehta all good on dev!

[2022-07-12 04:20] alvinwmtan commented on #234
@HenryMehta I think this is okay

[2022-07-13 06:29] HenryMehta commented on #204
@alvinwmtan
Not fixed because I don't know what you want me to do.  As explained above the original code was written specifying that the values 'Null', '#NULL!', '', ' ', 'Missing', 'Unknown/other', '?', 'NA', '99' would always be None.  So `word,,` is ignored and will be set to None.  Similarly, anything with the values in the list will be ignored and set to None.  The load will be exactly the sa

[2022-07-14 18:47] JMankewitz commented on #255
hi @HenryMehta ! We'd like to move the information from the old "publications" tab to the "about" page.

We want sections in the "About" tab that detail the following:

**Papers and Publications**
[code]
We'd also like a contribution section in the same format as the current "About Us" page, with headshots, names, and affiliations. However, we'd like to change from "wordbank team" and "alumni" to

[2022-07-14 22:33] alvinwmtan commented on #204
@HenryMehta is it possible to privilege the definitions in `_values`? so if `_values` contains `word,,`, we take that to mean "doesn't produce (or understand)" instead of the default None. I'm not sure if this fixes all the issues since I suspect some datasets have an implicit `words,,`...

[2022-07-14 22:37] alvinwmtan commented on #259
@HenryMehta this is probably related to #238. I don't think it has to do with the Mac format, since the citations weren't sent via a file, so somewhere along the pipeline there are some encoding issues. This will probably need a bit more investigation (perhaps from someone with more SQL knowledge than me), so we may need to hold off on this for now (as we try to push towards launching WB2) since i

[2022-07-14 22:42] alvinwmtan commented on #246
@HenryMehta all of these look fine except Spanish (Mexican)—this stills has "som", "not", and "sometimes/o". the field length may need to be longer because some forms have "sometimes/often" as an option

[2022-07-14 22:48] alvinwmtan commented on #263
@HenryMehta looks good from R, thank you!

[2022-07-15 07:36] HenryMehta commented on #255
@JMankewitz
Deploying what I think you want now.  I've tried to find images of the added contributors online.  I think I've got the right people.  I cannot find one for Alvin

[2022-07-15 11:24] HenryMehta commented on #246
@alvinwmtan Amended - I think this is now ok

[2022-07-15 11:26] HenryMehta commented on #255
@JMankewitz deploying Alvin's image now

[2022-07-15 15:00] mcfrank opened #264 "FAQ"
@HenryMehta sorry - I rerendered the FAQ and appear to have broken it with some django syntax thing. do you mind taking a look? I am guessing our workflow has changed since the prior one was just to render FAQ.Rmd to FAQ.html.

http://wordbank2-dev.gsffhcf4an.us-west-2.elasticbeanstalk.com/faq

[2022-07-15 16:32] mcfrank commented on #264
thanks!

[2022-07-15 18:07] mcfrank commented on #255
thanks everyone. looking good, just a few minor comments:

- maybe the contributors should be the first tab?
- publications should be sorted by year
- no box around individual publications?

[2022-07-15 20:26] alvinwmtan commented on #263
@HenryMehta sorry just to double check: have you applied this to all datasets? if so I'll just quickly check some of the other relevant ones (e.g. English (American))

[2022-07-16 07:04] HenryMehta commented on #255
@mcfrank deploying changes now

[2022-07-16 12:36] HenryMehta commented on #263
@alvinwmtan
I have this morning worked through all those studies I've been able to find with ethnicity and I applied the changes to them

[2022-07-18 13:31] alvinwmtan opened #265 "English 2022 norming data"
New norming data from the new CDI manual:

[EnglishWG_Marchman_Norming2_data.csv](https://github.com/langcog/wordbank/files/9132229/EnglishWG_Marchman_Norming2_data.csv)
[EnglishWG_Marchman_Norming2_fields.csv](https://github.com/langcog/wordbank/files/9132231/EnglishWG_Marchman_Norming2_fields.csv)
[EnglishWG_Marchman_Norming2_values.csv](https://github.com/langcog/wordbank/files/9132232/EnglishW

[2022-07-18 17:33] HenryMehta commented on #265
@alvinwmtan some of the date fields in the old dataset were in a different format to the original.  I've gone through and amended them to be the same format and I have reloaded the adjusted datasets.  I've not started on norming 2 yet.  Should be tomorrow

[2022-07-19 16:01] HenryMehta commented on #265
@alvinwmtan What are the contributor and citation for norming 2?

[2022-07-19 18:25] vmarchman commented on #265
@Henry ***@***.***> The citation is:

Marchman, V. A., Dale, P. S., & Fenson, L. (forthcoming). The
MacArthur-Bates Communicative Development Inventories: User's Guide and
Technical Manual (3rd Edition). Baltimore, MD: Brookes Publishing.

Contributor: The MacArthur-Bates CDI Advisory Board

On Tue, Jul 19, 2022 at 9:01 AM Henry Mehta ***@***.***>
wrote:

--

*********************************
Virg

[2022-07-19 19:46] HenryMehta commented on #265
@alvinwmtan
Norming 2 loaded - Just running vocab sizes for WS

[2022-07-21 15:19] alvinwmtan opened #266 "Unilemma updating (2022)"
Project details, data, and code can be found at https://github.com/langcog/update_unilemmas

Briefly, we have updated all instrument definitions (i.e. `[language_form].csv`) to have better consistency and correctness. Final instrument definitions can be found in the [final_instruments_pro](https://github.com/langcog/update_unilemmas/tree/main/final_instruments_pro) folder; all files should replace

[2022-07-21 16:09] #264 closed

[2022-07-21 16:12] mcfrank opened #267 "remove henry test languages"
still showing up in wordbank2 :)

[2022-07-21 16:17] alvinwmtan commented on #266
Resolves #193 and #209

[2022-07-21 22:04] mcfrank commented on #255
sorry, one minor thing, could you fix the aspect ratio on the pictures on the about page so that they're not stretched out?

[2022-07-22 08:13] HenryMehta commented on #255
@mcfrank Images adjuested

[2022-07-22 09:39] HenryMehta commented on #266
@alvinwmtan
This has created a load error.  I changed all the files and sorted the naming as requested.  I then ran populate instrument, populate categories and started running populate items.

Populate items fails on Hungarian WS because it is trying to load the category `numbers`.  We given the new datasets we now have 2 rows for `numbers`

id, category, lexical_category, lexical_class
'39', 'nu

[2022-07-22 17:05] alvinwmtan commented on #266
@HenryMehta I believe id '40' should be correct; I may have inadvertently messed this up when I modified the `categories.csv` file in `raw_data`—apologies!

[2022-07-23 04:06] alvinwmtan commented on #265
@HenryMehta looks good from R

[2022-07-23 04:07] alvinwmtan commented on #246
@HenryMehta looks great, thanks!

[2022-07-23 04:10] alvinwmtan commented on #204
@HenryMehta when I pull the data in R it still seems to show NA instead of "" for both Danish and Norwegian

[2022-07-23 04:26] alvinwmtan commented on #263
@HenryMehta ethnicity seems to be not implemented for some datasets:
* English (American) WS – Marchman Dallas, Marchman Dallas Bilingual, Marchman Norming, Hoff, Edgin
* Spanish (Mexican) WS – Marchman Dallas, Hoff

[2022-07-24 14:21] HenryMehta commented on #266
@alvinwmtan available to test now

[2022-07-24 18:59] HenryMehta commented on #263
@alvinwmtan I have run them all again but I think it has been implemented.  Some of these datasets are just setting ethnicity values to blank so I didn't bother to add a race field to do the same

[2022-07-24 19:04] HenryMehta commented on #204
@alvinwmtan
I have tried rerunning these several times.  I think everything except Norwegian WG is now ok but please check them all

[2022-07-25 07:36] HenryMehta commented on #204
@alvinwmtan also sorted Norwegian WG now

[2022-07-27 15:56] alvinwmtan commented on #204
@HenryMehta Danish WS/WG and Norwegian WG all work, but Norwegian WS still seems to have only NAs

[2022-07-27 16:01] HenryMehta commented on #204
@alvinwmtan in which fields.  Is it just words that should be blank or if will have nothing is other categories, do they need setting to blank as well?

[2022-07-27 16:14] alvinwmtan commented on #263
@HenryMehta I think I've figured out the issue—some of the values files had the ethnicity and race the wrong way around, which was resulting in the values not being properly populated. The Hoff ones also didn't have the ethnicity/race coding entered so I put them in. Here are the corrected versions:

English (American) WS:
[EnglishWS_Edgin_values.csv](https://github.com/langcog/wordbank/files/9200

[2022-07-27 16:16] alvinwmtan commented on #204
@HenryMehta It's just words (other categories have an explicit entry for "no", "never" or "not yet"), but Norwegian WS words still only have values "produces" and NA

[2022-07-27 16:30] alvinwmtan commented on #266
@HenryMehta looks good for everything except Portuguese WG—I may have updated this after putting up the issue, apologies!

[[Portuguese_European_WG].csv](https://github.com/langcog/wordbank/files/9200987/Portuguese_European_WG.csv)

[2022-07-27 17:28] HenryMehta commented on #204
@alvinwmtan I think I've finally got it sorted

[2022-07-27 18:07] HenryMehta commented on #263
@alvinwmtan I've copied in these datasets and rerun the data load

[2022-07-27 18:25] HenryMehta commented on #266
@alvinwmtan loaded

[2022-07-28 14:06] alvinwmtan commented on #266
@HenryMehta sorry, I think you loaded this as `Portuguese_European_WG.csv` and not `[Portuguese_European_WG].csv`, so it's still reading from the old version

[2022-07-28 14:17] alvinwmtan commented on #263
@HenryMehta looks good, thanks!

[2022-07-28 14:17] alvinwmtan commented on #266
@HenryMehta also, is it possible to change `English` -> `English (American)` and `Australian` -> `English (Australian)`?

[2022-07-28 14:24] alvinwmtan commented on #267
@HenryMehta still present in `common_instruments`, `common_datasets`, `common_item`, and `common_dataset_origin`

[2022-07-28 15:07] HenryMehta commented on #267
@alvinwmtan sorry, try now

[2022-07-28 15:17] HenryMehta commented on #266
@alvinwmtan I have reload Portuguese (European) WG

[2022-07-28 15:27] HenryMehta commented on #266
@alvinwmtan `English -> English (American) and Australian -> English (Australian)`  Is this just changing the folder names, in which case deploying now.
If something else I need a little more detail

[2022-07-28 22:02] alvinwmtan commented on #266
@HenryMehta folder names, and the files (e.g. instrument definition) within folders (i.e. `[English_WS].csv` -> `[English_American_WS].csv`)

[2022-07-28 22:03] alvinwmtan commented on #267
@HenryMehta great, thanks

[2022-07-28 22:05] alvinwmtan commented on #266
@HenryMehta Portuguese WG still seems unfixed. I think you'll need to remove the current `[Portuguese_European_WG].csv`, and rename `Portuguese_European_WG.csv` to `[Portuguese_European_WG].csv`, and then reload again

[2022-07-29 07:08] HenryMehta commented on #266
@alvinwmtan This is done

[2022-07-29 07:57] HenryMehta commented on #266
@alvinwmtan Found the issue with Portuguese I think - please check again now

[2022-07-29 17:36] alvinwmtan commented on #266
@HenryMehta works now, thanks!

[2022-07-29 17:37] alvinwmtan commented on #209
subsumed under #266

[2022-07-29 17:37] #209 closed

[2022-07-29 17:37] alvinwmtan commented on #193
subsumed under #266

[2022-07-29 17:37] #193 closed

[2022-08-10 20:13] mikabr commented on #261
fixed it

[2022-08-10 20:13] #261 closed

[2022-08-10 20:15] #255 closed

[2022-08-10 20:15] mikabr commented on #244
do we still want to do this?

[2022-08-10 20:16] #236 closed

[2022-08-10 20:17] #230 closed

[2022-08-10 20:18] #200 closed

[2022-08-10 20:19] #189 closed

[2022-08-11 16:14] #253 closed

[2022-08-11 16:14] #254 closed

[2022-08-11 16:15] #267 closed

[2022-08-11 16:22] mcfrank commented on #244
# Accessing data from Wordbank

Our shiny apps allow analyses of normative growth in vocabulary size and individual item trajectories. They also allow for download of several forms of tabular data. These apps cover some of the most common use cases for Wordbank data but not all.

In addition to the apps available through the analysis page, you can access wordbank data from [wordbankr](link to CRAN

[2022-08-11 16:33] #265 closed

[2022-08-11 16:34] #263 closed

[2022-08-11 16:35] #257 closed

[2022-08-11 16:35] #251 closed

[2022-08-11 16:35] #225 closed

[2022-08-11 16:36] #246 closed

[2022-08-11 16:36] #234 closed

[2022-08-11 16:36] #216 closed

[2022-08-11 16:37] #156 closed

[2022-08-11 16:37] #153 closed

[2022-08-11 16:37] #47 closed

[2022-08-11 16:38] #143 closed

[2022-08-11 16:38] #168 closed

[2022-08-11 16:39] #177 closed

[2022-08-11 16:39] #182 closed

[2022-08-11 16:40] #195 closed

[2022-08-11 16:40] #235 closed

[2022-08-11 16:55] #205 closed

[2022-08-11 16:58] mikabr opened #268 "add loading spinner to vocab norms app while models fit"

[2022-08-11 17:01] #196 closed

[2022-08-11 17:03] #241 closed

[2022-08-11 17:03] #237 closed

[2022-08-11 17:03] #233 closed

[2022-08-12 21:27] mikabr commented on #268
should be in wordbank-shiny repo

[2022-08-12 21:27] #268 closed

[2022-08-18 16:37] #239 closed

[2022-08-19 21:47] mikabr commented on #238
moving this to `wordbankr`

[2022-08-19 21:47] #238 closed

[2022-08-19 21:48] mikabr commented on #210
has all this been sorted out?

[2022-08-19 21:49] mikabr commented on #208
are there database-level changes needed here?

[2022-08-19 21:50] #202 closed

[2022-08-19 21:51] #198 closed

[2022-08-19 21:51] #197 closed

[2022-08-19 21:52] #194 closed

[2022-08-19 21:54] mikabr commented on #187
it doesn't have an accent and the language names are all in english

[2022-08-19 21:54] #187 closed

[2022-08-19 21:59] mikabr commented on #166
@mcfrank could be linked to on the documentation page? #244

[2022-08-19 22:22] mikabr commented on #190
as far as I can tell, the errors in WAVE would be solved by:

- [ ] adding a `lang` attribute to the `html `tag
- [ ] adding alt text to any images missing it
- [ ] making sure there no redundant alt text applying to two adjacent elements
- [ ] making sure there are no heading level skips (e.g. `h3` child of `h1`)

the contrast check passes

[2022-08-19 22:35] mikabr opened #271 "increase iframe size for shiny apps"

[2022-08-19 22:35] mikabr opened #272 "remove reports tab from analyses"

[2022-08-19 22:36] mikabr opened #273 "add better thumbnails to analysis landing page"

[2022-08-19 22:36] mikabr opened #274 "try to get an https certificate"

[2022-08-19 22:44] mikabr commented on #190
oh there are actually contrast errors everywhere -- the blue color that links are in seems to be insufficiently contrasting with the background

[2022-08-19 23:02] kachergis commented on #210
Yes, @alvinwmtan and I completely overhauled them -- can't claim they're perfect, but they're 76% closer to it! ;)

[2022-08-19 23:02] #210 closed

[2022-08-24 11:53] camiscaff opened #275 "Are maternal education and sex no longer availalble?"
Are maternal education and sex no longer available from the database?
Thanks for the great work!

[2022-08-24 21:18] camiscaff commented on #275
If I'm not mistaken before I could get this information just by doing `get_administration_data()` and a "mat_ed" column would be available but now I only get these columns
[1] "data_id"             "date_of_test"        "age"                 "comprehension"
 [5] "production"          "is_norming"          "dataset_name"        "dataset_origin_name"
 [9] "language"            "form"

[2022-08-24 23:11] mcfrank commented on #275
I think you just need to add the new include_demographic_info flag:
http://langcog.github.io/wordbankr/reference/get_administration_data.html

On Wed, Aug 24, 2022 at 2:18 PM camiscaff ***@***.***> wrote:

--
Mike

[2022-08-24 23:30] #272 closed

[2022-08-24 23:30] #273 closed

[2022-08-25 11:16] camiscaff commented on #275
great, thank you!

[2022-08-25 11:16] #275 closed

[2022-08-26 19:58] #244 closed

[2022-08-26 23:33] mikabr opened #276 "add link to previous version instructions"
An issue with the currently versioning set up is that there's no way for users to know which versions are available (you can only get a list of the files in an s3 buckets using the with aws cli and we don’t want to make users make an aws account). We need some other way for users to get the possible versions to download. Given that, the instructions are basically just:

install [mysql server](http

[2022-08-30 15:34] kachergis commented on #274
in progress: I requested an SSL certificate from Stanford. Looks like it's no problem to put the certificate on both the [shiny server](https://support.rstudio.com/hc/en-us/articles/218554798-Shiny-Server-Quick-Start-Host-a-secure-Shiny-Server-Pro-only-) and on the EB instance. Will update

[2022-09-01 16:47] #224 closed

[2022-09-01 16:47] #207 closed

[2022-09-01 16:47] #243 closed

[2022-09-01 16:48] #226 closed

[2022-09-01 16:48] #215 closed

[2022-09-01 16:48] #228 closed

[2022-09-01 16:48] #201 closed

[2022-09-01 16:48] #185 closed

[2022-09-01 16:49] #247 closed

[2022-09-01 16:49] #258 closed

[2022-09-04 17:16] alvinwmtan opened #278 "Update contributor info on contributors' page"
The [contributors info](http://wordbank.stanford.edu/contributors) has some missing information about some of the contributors (full name and affiliation); these are to be added (I will provide the info). The Eric Walle citation is also absent.

[2022-09-07 21:06] mikabr opened #279 "WS-type instruments should not allow word items to have value "understands""
The distinction between WG-type and WS-type instruments is whether they allow for both `understands` and `produces` values for words or for only `produces` values. There are currently 7 datasets that are using instruments coded as WS-type, but allow for `understands` values for words (according to their corresponding `_values.csv` file), which violates this assumption:
[code]

Out of the 6 instrum

[2022-09-08 01:54] mikabr commented on #276
previous versions are now listed in `versions.txt`, which is programmatically updateable

[2022-09-08 01:55] #166 closed

[2022-09-08 01:55] #276 closed

[2022-09-08 01:58] mikabr commented on #208
if I understand correctly, for some analyses it makes sense to reclassify (some) people and places as "nouns" rather than "other", but it makes sense for the lexical category coding in the db to stay as is (which is the Bates et al (1994) categorization)

[2022-09-08 01:58] #208 closed

[2022-09-11 20:05] alvinwmtan commented on #279
It seems like researchers sometimes use forms in non-standard ways, including allowing `understands` for forms labelled as WS—maybe we should respect the forms' "original intent"? Otherwise we would potentially need to modify `form_type` in the future if someone contributes a new dataset that includes `understands`. This would mean that there is some wiggle room in defining what "original intent"

[2022-09-14 03:48] alvinwmtan opened #280 "Add language exposure values to Spanish (Mexican) WS – Marchman Dallas Bilingual"
The Marchman Dallas Bilingual dataset only included language exposures for the English (American) WS dataset. For convenience these data should be ported over to the Spanish (Mexican) WS dataset as well.

These values were obtained by matching the child IDs, then fuzzy matching the ages (±1m) for administrations. As a result, some administrations don't have language exposure proportions (English a

[2022-09-14 06:29] HenryMehta commented on #280
@alvinwmtan I've applied to the development database.  Could you confirm if correct and I'll apply to production

[2022-09-14 22:34] alvinwmtan commented on #280
@HenryMehta looks good—you may need to cache the comprehension/production values again though

[2022-09-15 06:11] alvinwmtan opened #282 "Hoff data only pulls from R01"
There are two sets of CSVs for the Hoff English–Spanish bilingual dataset (HDPM and R01), but only the R01 dataset appears when pulling data. I'm not sure why this is the case, but if the loading script isn't happy about there being multiple files for the same dataset, it's okay to split the two CSV sets into two datasets (but retain the same dataset_origin_name).

[2022-09-15 06:58] HenryMehta commented on #280
@alvinwmtan All deployed to production (and I ran the cache in dev as well)

[2022-09-15 06:59] HenryMehta commented on #282
@alvinwmtan Are you saying that only R01 data is in the database?

[2022-09-15 15:24] alvinwmtan commented on #282
@HenryMehta I think that's the case, yes.

[2022-09-15 15:25] #192 closed

[2022-09-15 15:26] alvinwmtan commented on #223
@HenryMehta the citation for the Hebrew WG dataset should be this

[2022-09-15 15:30] alvinwmtan commented on #238
@mikabr seems to not be fixed? pulling e.g. Russian data or info on datasets still produces ??? and <e1> (etc.) for me

[2022-09-16 00:30] mikabr commented on #238
are you sure you're on the latest version of wordbankr? the `connect_to_workbank()` function should have encoding-related db queries if so.

[2022-09-16 00:33] mikabr commented on #279
I'm not sure how to thing about original intent, but from a data point of view, we need to distinguish between datasets that include comprehension and one's that don't. So datasets that are in theory WS but include comprehension need to classified as "WG-like".

[2022-09-16 05:40] HenryMehta commented on #282
@alvinwmtan I've replaced the Hebrew WG citation for the Shalev dataset.  I don't have a WS citation for the Shalev dataset.  Deployed to dev to ensure it is right

[2022-09-16 05:41] HenryMehta commented on #223
@alvinwmtan I've replaced the Hebrew WG citation for the Shalev dataset. I don't have a WS citation for the Shalev dataset. Deployed to dev to ensure it is right

[2022-09-16 05:59] HenryMehta commented on #282
@alvinwmtan I need some time to think about how to fix this.  Basically the most recently loaded dataset overwrites the previous one because it is saving them on dataset_origin_id (which is allowing comparison across forms and languages but seems to be preventing it within a form).  I have a thought about how to fix but I don't have much time today and I'm away 3 days next week and I don't want to

[2022-09-18 19:58] HenryMehta commented on #282
I think the above explanation is clearer if you also have the hoff json definition:

[code]

[2022-09-19 01:59] alvinwmtan commented on #282
@HenryMehta I think option 2 is good!

[2022-09-19 03:16] alvinwmtan commented on #238
@mikabr ah sorry i hadn't updated, my bad

[2022-09-19 14:14] HenryMehta commented on #282
@alvinwmtan I've deployed in dev.  Please take a look and tell me if ok.  If so, I'll implement Friday (I'm away Tuesday - Thrusday)

[2022-09-19 17:28] alvinwmtan commented on #223
@HenryMehta sorry, I seem to still see the old citation? (possibly overwritten by the change from #282)?

[2022-09-19 17:34] alvinwmtan commented on #282
@HenryMehta I can see the R01 data, and the HDPM dataset appears in `common_datasets` but the data don't seem to appear in `common_administration`? Also, I think reloading didn't flush out the old datasets, so all the datasets/data appear twice.

[2022-09-19 17:43] HenryMehta commented on #223
@alvinwmtan Just trying to deploy this again now

[2022-09-19 17:45] HenryMehta commented on #282
@alvinwmtan  ok - that's a bit of a problem then.  It'll take me longer to sort but I'll try and take a look on Friday

[2022-09-19 18:12] HenryMehta commented on #223
@alvinwmtan I've realised what the problem is - I'll have to revisit Friday

[2022-09-20 20:15] mcfrank commented on #282
also note that I just got an email from Erika Hoff:

[code]

[2022-09-22 20:29] alvinwmtan opened #284 "Update Russian unilemmas"
[[Russian_WG].csv](https://github.com/langcog/wordbank/files/9629225/Russian_WG.csv)
[[Russian_WS].csv](https://github.com/langcog/wordbank/files/9629226/Russian_WS.csv)

Some minor updates to the Russian unilemmas (informant recently completed the updating); @HenryMehta it'd be great if you could help to load this

[2022-09-23 10:32] HenryMehta commented on #282
@alvinwmtan I've had another go at this.  I've had to do it in a new database so when checking please use wordbank2-dev-2 where previously you have wordbank2-dev.
I have resorted to option 1.

If this has worked, can you also check if we have a similar issue with PoulinDubois.  Thanks

[2022-09-23 16:23] alvinwmtan commented on #282
@HenryMehta it works now, thanks! What's the name of the new field that you've added—is it `dataset_dataset`?

I don't think there's an issue with Poulin-Dubois—there aren't datasets with the same instrument and dataset_origin.

[2022-09-23 16:31] HenryMehta commented on #282
Good. The new field is dataset_source.  I'll work on getting this to production this evening/tomorrow

[2022-09-23 20:03] HenryMehta commented on #282
@alvinwmtan I think I have the data all deployed to production now.  The code changes haven't deployed and I'll look at that tomorrow

[2022-09-24 06:42] HenryMehta commented on #282
@alvinwmtan it is now all deployed

[2022-09-24 06:42] #282 closed

[2022-09-26 08:46] HenryMehta commented on #284
@alvinwmtan deployed to dev to test

[2022-09-27 06:17] alvinwmtan commented on #223
@HenryMehta looks good now

[2022-09-27 06:18] alvinwmtan commented on #259
fixed by #238

[2022-09-27 06:18] #259 closed

[2022-09-27 06:18] HenryMehta commented on #223
@alvinwmtan I think this might already be in production as well

[2022-09-27 06:19] #223 closed

[2022-09-27 06:22] alvinwmtan commented on #284
@HenryMehta I don't seem to see this version in dev? (e.g. item_55 still has uni_lemma "stallion" instead of "horse")

[2022-09-27 06:26] HenryMehta commented on #284
@alvinwmtan ok - I'll look again

[2022-09-27 07:32] HenryMehta commented on #284
@alvinwmtan sorry about that- I think it is sorted now

[2022-09-27 18:05] alvinwmtan commented on #284
@HenryMehta looks good now, thanks!

[2022-09-28 05:51] HenryMehta commented on #284
@alvinwmtan live in prod

[2022-09-28 05:51] #284 closed

[2022-09-29 16:38] mikabr commented on #279
Decision from discussion -- the issue is only coming for a few relatively small datasets, so we'll let it be for now and potentially fix it later is becomes a bigger issue.

[2022-09-29 16:54] mcfrank commented on #279
decision - we will not fix this right now.

[2022-10-01 20:47] alvinwmtan commented on #280
@HenryMehta sorry to revisit this—they seem to be NULL in both prod and dev?

[2022-10-11 07:56] mcfrank commented on #245
Thanks! This is great. We will probably have to rerun when we are
completely done with the dataset import project, but we needed it to
develop against in the shiny apps rewrite now.

Is there a way to integrate this migration into the deployment workflow for
new datasets?

thanks

[2022-10-11 08:03] HenryMehta commented on #245
@mcfrank The process is manual and the problem is I keep forgetting to run it (even though the instructions I've written tell me to run it!).  I could include this within the previous command but it would still be a manual process until that point

[2022-10-11 08:16] mcfrank commented on #255
Yes exactly. Thanks

On Fri, May 27, 2022 at 3:58 AM Henry Mehta ***@***.***>
wrote:

--
Mike

[2022-11-09 09:37] HenryMehta commented on #280
@alvinwmtan I can see a few (11 I think) rows with null values in instruments_spanish_mexican_ws so I tried reloading SpanishMexicanWS_Marchman_Dallas but it didn't impact the records so it doesn't appear these are from that dataset (or the load doesn't work in certain cases).  How did you conclude they are so that I can follow the logic through?

[2022-11-09 09:53] HenryMehta commented on #280
Nevermind - found the null items

[2022-11-09 11:33] HenryMehta commented on #280
@alvinwmtan I think I've found and sorted the issue and I've applied to both dev and prod.  Could you check.

It seems to be only complexity questions that were the issue.  And I think, based on the code it is probably an issue for any dataset with complexity questions.  If the fix has worked, could you confirm/deny my suspicion please

[2022-11-10 06:41] #280 closed